[2016-10-13 23:32] skukx commented on #632
What I've done is:

[code]

This way searching will always use a separate alias from indexing allowing me to search multiple indices but only index into one.

[2016-10-14 16:53] skukx commented on #629
It seems that if you are wanting to match with an elasticsearch field that is empty you should using the `exists` query inside a `must_not`.

[code]

[2016-10-17 01:22] m-nasser opened #635 "Multiple mappings is not working for me"
Im trying multiple mappings for the same model but I ain't able to do so.

[code]

here's my code but when I try creating the index I get this error `Elasticsearch::Transport::Transport::Errors::BadRequest: [400] {"error":{"root_cause":[{"type":"mapper_parsing_exception","reason":"Root mapping definition has unsupported parameters:  [wholesale : {}] [retail : {}]"}],"type":"mapper_parsing_exceptio

[2016-10-18 13:02] michniewicz commented on #577
Can you please give us the status on this issue? Since increasing the `max_result_window` is a bad idea, what is a better idea to deal with large data sets (ex. pagination with scroll api)?

[2016-10-20 11:37] zsan opened #636 "importing child table - missing routing exception"
I have 2 tables, `phonenumber` and `phonecalls`, here's the sample code
https://gist.github.com/anonymous/dad6fc6740ba12a72054fc8bf218bdd2

I created the index with `Indexer.create_index!` (via `rails console`)

Then i run

[code]

and looks good.

But when i tried to import `phonecall` (which is child of `phonenumber`) i got

[code]

i checked the error and i found

[code]

I am new to elasticsea

[2016-10-20 19:27] chappejw commented on #365
I'm seeing the same issue. I have reinstalled ruby using brew, rvm, with openssl from scratch... all to no avail. I've uninstalled / resinstalled all my gems, checked that my path is set correctly in my shell environment, but I have not gotten past this issue.

If someone was able to resolve this can you please take a minute to explain how you resolved it and what specifically was the problem? Tha

[2016-10-20 21:41] coneybeare commented on #633
If this is not the correct place for help on determining if this is a bug or not, can the mods please point me in the right direction?

[2016-10-21 01:18] zsan commented on #636
just FYI, my current solution is with custom rake script

[code]

[2016-10-21 05:55] karmi commented on #633
Hi, is this a `elasticsearch-persistence` or an `elasticsearch-model` model? In the former case, `attribute` is the right way to set the property, in the latter case, the library doesn't automatically translate date-like formatted strings into Date/Time objects, that's something to be done in the application.

[2016-10-21 15:45] coneybeare commented on #633
`elasticsearch-model`. Thanks for confirming that. I use the same rails partials for displaying an ElasticSearch result and a ActiveRecord model, so littering my view code with tons of type checking and conversion formatting would not be beneficial. Is there any sort of callback or hook I can get into on the search results before wrapping in a `Elasticsearch::Model::Response::Response` that I coul

[2016-10-24 10:21] rapheki commented on #482
Hi, I'm working on a project where I need to connect elasticsearch & cassandra, so I'm very much interested in this cequel adapter.
It seems to works with tables where the primary key column name is `:id`, but fails the primary key column is named differently (I get the following error when the primary key column is `:id_str`)

[code]

[2016-10-29 00:43] joelmats commented on #362
Any luck with this? I think the issue might be https://github.com/lostisland/faraday/issues/608 where typhoeus ships with an updated adapter as faraday so the default adapter bundled with faraday is stale.

[2016-10-29 00:53] joelmats commented on #362
FYI: for now i just put

[code]

in a rails initializer to override the default class.

[2016-10-31 09:22] chris2233 opened #637 "I can not find table name when import to elasticsearch index"
my ActiveRecord name is not same as table name, when i excute MODEL.import, SYSTEM response can not find table. how can i solve the problem.

[2016-10-31 10:59] fiedl commented on #535
@redsquirrel : Hi, did you get it working?

`Document.search("*foo*")` finds documents by title, but does not search the pdf content for me using [elasticsearch-rails](https://github.com/elastic/elasticsearch-rails) and the [Mapper Attachments Plugin](https://www.elastic.co/guide/en/elasticsearch/plugins/current/mapper-attachments.html).

[2016-10-31 11:37] redsquirrel commented on #535
@fiedl No, I eventually punted. Never got it working.

[2016-11-10 12:17] mtomov commented on #606
Hello,

This error actually occurs if you pass in a `string` instead of a `json` document to the `body[n]data` key.

Maybe something in the bulk api code transforms the string into something else and then sends it to elastic, while it doesn't do the same when using `index_document`. `index_document` works even with a plain string.

[2016-11-11 15:36] datenimperator opened #638 "Rake task import:all throws LoadError"
We've had a file `tag_decorator.rb` under `app/models` which added some methods to another class but did not define a class, let alone one named `TagDecorator`. Running `rake elasticsearch:import:all` led to an error which read:

    LoadError: Unable to autoload constant TagDecorator, expected <path>/app/models/tag_decorator.rb to define it

The issue comes from [lib/elasticsearch/rails/tasks/imp

[2016-11-14 16:46] bhushangahire opened #639 "Question: How I can create index for HTML field. With escaping html tags."
I found this filter but I am not able to understand how I can add this to model.

https://www.elastic.co/guide/en/elasticsearch/reference/current/analysis-htmlstrip-charfilter.html

[2016-11-15 23:35] tastycode opened #640 "How do you manage mappings changes?"
We have a field that describes a list of tags. The default tokenizer won't work for us so we've defined one like this (this is on an existing elasticsearch model)

[code]

but when we start our elasticsearch test cluster and inspect the mappings on the model, we don't see the changes.

Also, we've looked at a few tutorials like http://tutorials.pluralsight.com/ruby-ruby-on-rails/elasticsearch-with

[2016-11-16 07:36] havran opened #641 "Instrumentation ES query log output as pure JSON"
Sometimes is useful copy ES query from log and use them in Kibana or curl. For now is output formated as Javascript object:
[code]
JSON:
[code]
which prevent use simple copy/paste approach for this.

Output is created by this line of code, from inspect output https://github.com/elastic/elasticsearch-rails/blob/master/elasticsearch-rails/lib/elasticsearch/rails/instrumentation/log_subscriber.rb#L31

[2016-11-19 17:04] karmi commented on #638
Hi, I think the root of the issue is that you have to load Rails when invoking the task: `rake environment elasticsearch:import:all`. Can you try it like that?

[2016-11-19 17:28] karmi commented on #639
Hi, I've fiddled with the example a bit and you should do something like this:

[code]

[2016-11-19 18:08] karmi commented on #640
Hi, there are multiple aspects to your question.

First, `create_index!` is useful when you want or need to re-create the index with different settings/mappings and load all the data. One of the prime examples for that is integration tests. Or, when you're still developing the application, and want to frequently rebuild the indices and import all data.

If you have an existing index, let's say in

[2016-11-19 18:10] tastycode commented on #640
This does! I'm surprised that there isn't something similar to db:migrate
for elasticsearch indexes!

On Sat, Nov 19, 2016 at 12:08 PM Karel Minarik <notifications@github.com>
wrote:

[2016-11-19 18:15] karmi commented on #641
Hi, I understand the reasoning. I guess the motivation for the "JS-like" formatting is to save space.

I'm not opposed to a configuration option, but I am wondering how to properly expose that. It would be great if we could hook into the `config.*` namespace of Rails' environment configuration, similar to [lograge](https://github.com/elastic/elasticsearch-rails/blob/master/elasticsearch-rails/lib/

[2016-11-20 10:36] karmi commented on #640
Cool!

(Something like `db:migrate` would be a bit complicated to achieve in Elasticsearch model, because people might have incorrect assumptions, like the case with changing the mapping for an existing attribute. In practice, it's important to understand the Elasticsearch model behind the Ruby facade, and in practical terms, be ready for frequent re-indexing, at least during the initial phase of

[2016-11-21 16:29] bhushangahire commented on #639
Thanks I will try this.

[2016-11-21 21:38] Meekohi opened #643 "temporarily disable or skip elasticsearch callback"
I have a model with `include Elasticsearch::Model::Callbacks`. I have a task that imports a lot of data -- I'm going to reindex at the end anyway, so would like to skip the elasticsearch callbacks on `.save!`.
Are there any quick tricks for disabling or skipping callbacks? Something like `instance.save(:elasticsearch => false)`?

[2016-11-23 17:56] skukx commented on #79
+1

[2016-11-26 06:53] rubyrider commented on #643
I would like to suggest to build your own callbacks for controlling your indexing based on your context instead using the default callbacks.

[2016-11-26 09:41] karmi commented on #643
Hi, as @rubyrider mentions, in complex applications, you'd usually implement your own callbacks -- the automatic `Callbacks` module is basically only a starting point.

But when it comes to your question, there isn't a configuration for disabling callbacks declaratively, and when I started snooping around the code during preparing my answer to your question, it seems like the `Callbacks` module wo

[2016-11-28 09:37] sebastianiorga opened #644 "Elasticsearch::Client#msearch is not instrumented"
Not sure where this belongs. I'm guessing here since the Rails logging integrations are in this repository.

Title says it all. The msearch method does not write to rails log though regular search does. I'm assuming it's just not set up to do so.

[2016-11-29 16:48] bhushangahire opened #645 "Elasticsearch::Model.search multimodel always returns 10 records."
How do I override this ?

[2016-11-30 22:43] derosm2 commented on #624
I have a slightly different scenario where I want to override __batch_to_bulk to run some SQL to generate the JSON a bit more efficiently than calling as_indexed_json on each record.

Initially I was heading down the path of just writing a custom import method, but felt there were many conveniences I'd miss out on by using the provided import method (such as recreating the index and the associated

[2016-12-01 14:23] derosm2 commented on #624
Another thought would be providing an option for batch_to_bulk, similar to the transform. I don't think that would work well with the rake task though.

[2016-12-01 17:00] nickrivadeneira commented on #80
I like the idea of @karmi's `IndexManager` class because it's testable. I've taken some of those ideas and built a small rake task that calls the index manager. Gist here for anyone that's interested:

https://gist.github.com/nickrivadeneira/e99fbf9beb82fed2f95eaf6964c97853

[2016-12-05 20:51] Geesu commented on #436
Late to the party I know. But @adrienbourgeois it is possible: ```module MyIndex
  settings index: {
    max_result_window: 75_000,
  } do
    mapping dynamic_templates: [
      {
        strings: {
          path_match: 'mypath.*',
          match_mapping_type: 'string',
          mapping: {
            type: 'string',
            analyzer: 'keyword',
          }
        }
      }
    ] do

[2016-12-06 14:19] agis opened #646 "Document de-serialization fails when non-attributes are present in "_source""
Doing the following in a model:

[code]

...where `foo` is *not* an ActiveRecord attribute, will result in the following error when elasticsearch-persistence attempts to deserialize the document:

[code]

This happens since `#deserialize` attempts to construct an ActiveRecord object using all the attributes from "_source" in [here](https://github.com/elastic/elasticsearch-rails/blob/master/elastic

[2016-12-07 07:30] ahsankamal commented on #567
I was also getting the same error on my rails console whenever i was calling destroy method on ES-enabled model. But it vanished when i replaced automatic callbacks by custom callbacks.
I removed "include Elasticsearch::Model::Callbacks" and included custom callbacks:

    after_commit on: [:create] do
      __elasticsearch__.index_document
    end

    after_commit on: [:update] do
      __elasti

[2016-12-14 16:00] ain commented on #258
Reproduced on PostgreSQL. `to_a` did not resolve.

[2016-12-14 20:02] ianmurrays commented on #479
I did it like this, seems to work:

[code]

[2016-12-15 08:36] JDshi commented on #248
@renatojf  I also encountered the same problem, when I run "bundle exec rake environment elasticsearch:import:model CLASS='Modelname'", Can you give me some suggestions?

[2016-12-15 15:03] dgmora commented on #620
@Startouf A bit late, but you might be interested:  I implemented something similar [here](https://github.com/moviepilot/elasticsearch-rails/commit/af34a0287bf477f7b8948057db0c78776a1db975)

. I could not manage to use a different document type, as then when you searched the base class, it could not find the subclasses.

[2016-12-16 13:40] intrip commented on #420
Have the same problem. The fix needed was similiar to the one proposed by @toddsundsted

[2016-12-16 14:09] jalberto opened #648 "String deprecated by ES5.x"
Elastisearch 5.x don't use String on mappings anymore but text or keyword but current gem cannot define this attribute types as constants Text or Keyword doesn't exists.

What is the recommended way to do something like:

[code]

[2016-12-16 14:28] jalberto commented on #648
as I see here: http://www.rubydoc.info/gems/elasticsearch-persistence/Elasticsearch/Persistence/Model/Utils#lookup_type-class_method

there is not support for new mapping type in ES5 right now, but gem versoins claims to be 5.x compatible

[2016-12-16 14:33] jalberto commented on #648
I guess the workaround for now is to explicitly defien the mapping:

[code]

But I wonders if this keeps the defautl ES behaviour of creating a keyword subfield

[2016-12-19 12:55] geekpete commented on #606
Looks like a fix was merged for this:

```Binary fields indexed into an upgraded (from 1.x -> 2.x) index hit "Compressor detection can only be called on some xcontent bytes or compressed xcontent bytes" exception```

https://github.com/elastic/elasticsearch/pull/21440

[2016-12-19 12:59] karmi commented on #606
Thanks for the link, @geekpete! @SchlauFuchs, is it OK to close the issue?

[2016-12-19 13:28] ain opened #650 "Query sorting fails with Kaminari pagination"
## How to reproduce

1. Add index:

[code]

2. Add data with following names (and `product_category` set to `1`, `active` to `true`):

[code]

2. Use query

[code]
    with

[code]

## What happens

Invalid dataset returned:

    [
      "CAT GP4",
      "CAT GP3",
      "CAT GP2",
      "CAT GP11",
      "CAT GP10",
      "CAT GP1"
    ]

## What should happen

    [
      "CAT GP2",
      "CAT G

[2016-12-19 14:18] ain commented on #650
Using the latest b6d4857 did not improve.

[2016-12-21 14:26] henrikholm89 commented on #542
It works fine here with the following settings:
[code]

[2016-12-21 14:40] henrikholm89 commented on #479
@ianmurrays Nice one. How do you then control which analyzer should be used at query time?

[2016-12-21 14:41] ianmurrays commented on #479
@henrikholm89 I don't, actually, it seems to pick any of them and use the best? Not sure, I'm no elastic expert 😄

[2016-12-21 14:45] henrikholm89 commented on #479
@ianmurrays Hehe fair enough :) Awesome if that is the case. @karmi Can you confirm or help here?

[2016-12-21 14:53] henrikholm89 commented on #479
@ianmurrays I just missed this actually [mix language elastic search docs](https://www.elastic.co/guide/en/elasticsearch/guide/current/mixed-lang-fields.html).

Here you can specific with fields you want to use, like in the example below. Maybe it by default searches in the all the fields as you mentioned.

[code]

[2016-12-21 15:10] ianmurrays commented on #479
@henrikholm89 yeah I just remembered I use something like that in my queries.

[2016-12-22 21:03] henrikholm89 commented on #645
If you use the query DSL, you can do it like this,

[code]

The size parameter determines how many documents elastic search will return for you.

[2016-12-23 09:28] howtwizer opened #651 "Question about scroll API and find_each / find_in_batches"
**Elasticsearch 5.1**

Following docs:
`http://www.rubydoc.info/gems/elasticsearch-api/Elasticsearch/API/Actions#scroll-instance_method`

When I'm trying to reproduce example 'Call the `scroll` API until all the documents are returned', I notice that this call
[code]
doesn't contains the results of this initial call:
[code]
So in the end we missing positions counting by size of initial scroll call

[2016-12-23 11:40] ain commented on #650
I resolved the problem by disabling analyzer on the name field.

[code]

Whoever is facing the same issue, [Elasticsearch mapping and indexing video](https://youtu.be/uMctvIIgBGY) delivers some nice basic insight.

[2016-12-23 11:40] #650 closed

[2017-01-03 07:10] rakeshsaharan commented on #535
@redsquirrel   I am facing the same issue, Did you get it working ?

[2017-01-04 04:36] serodriguez68 commented on #208
@bdmac I'm also not able to eager load and paginate using something like

[code]
Did you find a solution for this?

[2017-01-04 05:46] loren opened #654 "Repository count method still uses deprecated search_type=count"
https://github.com/elastic/elasticsearch-rails/blob/master/elasticsearch-persistence/lib/elasticsearch/persistence/repository/search.rb#L78

https://www.elastic.co/guide/en/elasticsearch/reference/5.1/breaking_50_search_changes.html#_literal_search_type_count_literal_removed

[2017-01-11 00:44] gretch opened #655 "Rake import:model throws an BadRequest error"
Elasticsearch version **5.1.1**

**Running this command will throw a BadRequest error**
rails new searchapp --skip --skip-bundle --template https://raw.github.com/elasticsearch/elasticsearch-rails/master/elasticsearch-rails/lib/rails/templates/03-expert.rb

rake aborted!
Elasticsearch::Transport::Transport::Errors::BadRequest: [400] {"error":{"root_cause":[{"type":"mapper_parsing_exception","reaso

[2017-01-11 08:01] MuneebSarfraz94 opened #656 "Disable Elastic search as whole or Indexing temporarily"
I have integrated Elasticsearch in my ROR project. i want to disable elasticsearch if a specific flag value is 1 and enable if flag value is 0. How can i do that is there any specific method to disable indexing of elasticsearch.

[2017-01-16 17:14] mchaver opened #657 "Support suggestion with context"
https://www.elastic.co/blog/elasticsearch-1-2-adding-context-suggestions

It looks like elasticsearch supports context to suggestions, but I'm not sure if the elasticseach-rails gem supports this or not. I don't think there are any examples in this project either. If it is possible to add context to a suggestion, could you add an example? Otherwise, what is the possibility of supporting context in

[2017-01-17 20:58] woniesong92 commented on #79
multi_field is completely deprecated in ES 5.x

[2017-01-19 12:50] dgmora opened #659 "Is this gem abandoned?"
First of all, I don't want to sound harsh; the amount of work put here and what it provides is amazing!

There's a big number of unaddressed issues, PRs that are not merged nor commented and (apparently) tests are failing since long. So I would just like to know better if this gem has a future or not.

[2017-01-20 10:56] karmi commented on #659
Hi @dgmora, you're not sounding harsh and your concern is justified. It is true that I have been neglecting this particular repository for some time. I had to focus on other responsibilities, and wasn't able to find time for this one.

In particular, I have spent quite some time on the sibling repository, https://github.com/elastic/elasticsearch-ruby, which provides a low-level Ruby client and a c

[2017-01-20 12:30] dgmora commented on #659
Thanks for the clarification! For the elasticsearch versioning and PRs overhead, I guess it'd be helpful if you could test against multiple versions. I used docker (install docker, `docker run elasticsearch`; or per version `docker run elasticsearch:5.1.2`) to have `elasticsearch` running easily for the tests.

[2017-01-21 08:47] karmi commented on #659
Thanks for the understanding!

Testing against multiple version of Elasticsearch is not really a problem -- notice I haven't even included it in my list of problems :)

I use the [`Test::Cluster`](https://github.com/elastic/elasticsearch-ruby/blob/master/elasticsearch-extensions/lib/elasticsearch/extensions/test/cluster.rb) extension for that, which is also used at Travis with the `SERVER=start` e

[2017-01-21 08:47] #659 closed

[2017-01-23 04:23] jamescgibson commented on #546
I'm having (I think) the same issue here, except without Spree. If I use `.records` to return an ActiveRecord collection, then that collection will _always_ be in the order that it came out of Elasticsearch, even if I apply orders to it.

The most baffling thing is that if I do `mycollection.search(...).records.order("column ASC").to_sql`, and then _paste that SQL into my Database_, I get the corr

[2017-01-25 20:20] strivemag commented on #542
@poc7667 , @henrikholm89 , @karmi
I will be grateful if you can reply!
Is it possible to integrate `typeahead.js`(or `Jquery Autocomplete`) to Rails App for **auto-complete searching** with `elasticsearch-rails` and `elasticsearch-model`?

[2017-01-26 06:45] karmi commented on #542
@strivemag, it is definitely possible. I suggest to first read https://www.elastic.co/blog/you-complete-me, to get familiar with Elasticsearch auto-completers. Then, you can use the "Suggest" API, as in [this example from the repository](https://github.com/elastic/elasticsearch-rails/blob/master/elasticsearch-persistence/examples/music/suggester.rb).

[2017-01-27 09:50] karmi opened #661 "ActiveRecord / Arel 3 failures"
ActiveRecord 3 integration tests are failing due to Arel error: `Cannot visit Integer (TypeError)`.

This short script replicates the error:

[code]

Since Rails 3 is [no longer supported](http://rubyonrails.org/maintenance/), we should probably remove the support and the corresponding Gemfile.

[2017-01-30 16:30] phlegx opened #662 "How to prevent some attributes to be stored in ES"
Hi!

I use **ES v5.1**, **elasticsearch-rails** and **elasticsearch-model** gem **v0.1.9**. How can I prevent some ActiveRecord attributes to be stored in ES in my mapping configuration?

I have tried `enabled: false` and `index: false` but without success. I don't want to store `created_at` and `updated_at` in ES.

So, how should my mapping look like?

[code]

[2017-01-30 16:39] phlegx opened #663 "How to set enabled: false to field"
Hi!

I use **ES v5.1**, **elasticsearch-rails** and **elasticsearch-model** gem **v0.1.9**. How can I set `enabled: false` to a field in my mapping configuration like described [here](https://www.elastic.co/guide/en/elasticsearch/reference/5.1/enabled.html)?

https://www.elastic.co/guide/en/elasticsearch/reference/5.1/enabled.html

[2017-02-02 14:54] ilmora opened #664 "Elasticsearch::Transport::Transport::Errors::BadRequest: [400] No handler found for uri [//histories] and method [DELETE]"
Hello,

This is the error when I try to do a get request on my history model localhost:3000/history (CRUD). Here is my model :
[code]
I'm using Elasticsearch in a docker image.
My index method in my controller is the following :
[code]
Ruby : RVM - 2.4.0
Rails : 5.0.1

It's very basic. Do you guys have any solutions ?

[2017-02-02 15:27] karmi commented on #664
Can you try removing the slash from the URL -- `http://172.17.0.2:9200/`?

[2017-02-02 15:30] ilmora commented on #664
This works without the '/' at the end of the host. Thank you.

[2017-02-02 15:30] #664 closed

[2017-02-02 15:34] karmi commented on #664
Glad it's working. I'll think about some way of "squeezing" the double slashes in the library.

[2017-02-02 22:24] dandrews commented on #617
+1 same issue

[2017-02-02 22:24] dandrews commented on #655
+1 same issue

[2017-02-03 12:34] zauzaj commented on #567
Hi,

I'm using Sidekiq for async updating/deleting items on ES but getting this error in `logs/sidekiq.log`

`2017-02-03T12:30:00Z 7487 TID-ougrrn8sc ERROR: Sidekiq::Processor crashed!
Elasticsearch::Transport::Transport::Errors::NotFound: [404] {"found":false,"_index":"development_app_scoped_index","_type":"staff","_id":"14","_version":1,"_shards":{"total":2,"successful":1,"failed":0}}`

This is

[2017-02-03 12:39] sailman opened #665 "elasticsearch-ruby downgraded from 5.0.1 to 1.1.2"
Elasticsearch: 5.1.1
rails: 5.0.1
elasticsearch-rails: head

-  s.add_dependency "elasticsearch",       '> 0.4'
 +  s.add_dependency "elasticsearch",       '~> 1.1'

After this commit these gems was downgraded:

elasticsearch-api 1.1.2 (was 5.0.1)
elasticsearch 1.1.2 (was 5.0.1)
elasticsearch-transport 1.1.2 (was 5.0.1)

Readme says elasticsearch-ruby 1.1 gem is compatible only Ealsticsearch 1.x.

[2017-02-03 13:00] karmi commented on #665
I've recently did some major re-shuffling of versions and fought with dependency hell on Travis, so here might be some side effect.

Can you post more details, as the relevant portion of your Gemfile (or the whole Gemfile) and what change resulted in the problem?

[2017-02-03 13:03] karmi commented on #567
I'm wondering if it's possible that the document has been removed because the database record has ben deleted in the meantime?

It's weird that rescuing `Elasticsearch::Transport::Transport::Error` wouldn't rescue the `Elasticsearch::Transport::Transport::Errors::NotFound` exception, I'll check it.

What does the `ReindexWorker` do? Just re-indexes a document based on ID?

[2017-02-03 13:06] zauzaj commented on #567
Hey @karmi,

thanks on fast reply.
I moved handling errors to perform action of sidekiq worker and it works perfect now. Also, I had to restart my sidekiq.

Everything is ok on my side !

Thanks again.

[2017-02-03 13:08] karmi commented on #567
Thanks for the reply as well! I've quickly tried this:

[code]

and the exception has been catched -- I was worried there's some incorrect class hierarchy at play.

[2017-02-03 13:08] #567 closed

[2017-02-03 13:23] sailman commented on #665
gemfile:
gem 'elasticsearch-model', git: 'https://github.com/elasticsearch/elasticsearch-rails.git'
gem 'elasticsearch-rails', git: 'https://github.com/elasticsearch/elasticsearch-rails.git'

I just ran bundle update.

This commit results the change:
https://github.com/elastic/elasticsearch-rails/commit/db2cd1cccecea678457f90142c0d00240799fb19

[code]

Before elasticsearch was resolved 5.0.1 (beca

[2017-02-03 13:29] karmi commented on #665
Ah, right, thanks for the details, now I remember.

Yes, this is (unfortunately) expected based on the commit. I'll go and relax the requirement, there's (unfortunately) not a better fix at the moment.

Regarding the reason for the change, it was done in the middle of Travis fixing, so my line of thinking probably went along something like "the Rails integration hasn't been properly upgraded in al

[2017-02-03 13:34] karmi commented on #665
I've just pushed commits with the relaxed dependency specification, can you please check?

[2017-02-03 15:15] MaxDBN commented on #662
I think what you're looking for is the as_indexed_json method, here's an example:

[code]

[2017-02-03 15:16] phlegx commented on #662
Thx! :+1: :smile:

[2017-02-03 15:16] #662 closed

[2017-02-05 09:29] MaxDBN commented on #651
@howtwizer Did you manage to solve this problem?

[2017-02-06 21:37] lparry opened #666 "Wrapping results in Hashie::Mash 3.5.1 causes logs to be flooded with warnings"
Originally opened on the wrong repo: https://github.com/elastic/elasticsearch-ruby/issues/398

I updated our bundle today which included hashie@3.5.1, and found our logs are now completely overwhelmed with warnings:

[code]

I believe this is being caused by the "sort" key that comes back in the response body. eg: `"sort":[1.121931762,1477653971450]`. If I remove any use of sort from the query the

[2017-02-07 11:17] sailman commented on #665
Thanx, now installs latest elasticsearch-ruby gem.

[2017-02-07 11:17] #665 closed

[2017-02-08 08:52] MaxDBN opened #669 "update_document doesn't work as it should while being called from a callback"
- I have a model that is being updated several times within a running job, after being created.
- Indexing after creation is working as it should, I can see the document in Elasticsearch.
- The problem is that when the document should be updated, it only updates certain attributes.
- If I execute the `__elasticsearch__.update_document `method from the console, it works as it should and all the att

[2017-02-08 08:56] karmi commented on #666
Yes, this will be tricky to solve, because `Hashie::Mash` is used as a "freeform" wrapper around deeply structured Hashes coming from Elasticsearch, enabling method access to the structures.

On the original ticket, @gfx suggested using `Struct`. That would be technically possible, I guess, but crazily obnoxious -- `Hashie::Mash` is used as a "free-form" wrapper around Hashes coming from Elasticse

[2017-02-08 11:33] clschalkwyk commented on #655
As a test I changed "multi_field" to "text", now I have other issues but with a different module.

[2017-02-08 15:35] karmi commented on #655
Correct, the most immediate problem is the `type: 'multi_field'` setting in the mapping. Simply changing it to "text" isn't enough to make the application run, as @clschalkwyk writes.

I'll have a look into the application templates and make them run on Rails 5 & Elasticsearch 5 in the next days.

[2017-02-09 22:31] zealot128 commented on #666
Workaround for now, setting

[code]

in an initializer silences that output.

[2017-02-10 14:52] Overbryd opened #670 "OO structure is really weird"
The class structure chosen for `Elasticsearch::Persistence::Repository` is more than weird. While it seems to allow for certain niceties like `Elasticsearch::Persistence::Repository.new do ... end` it certainly breaks any idiomatic assumption on how Ruby works.

My main critique is that this yields highly unexpected behaviour.

For example, I am trying to do create a `class FooRepository < BaseRep

[2017-02-10 20:34] michaelherold commented on #666
I released Hashie 3.5.2 today that should allow you to more easily handle this.

As @zealot128 said, if you subclass Mash you can access the new `disable_warnings` method to disable warnings. I would recommend bumping the Hashie requirement to 3.5.2+ to make it so you don't have to do the torturous method that I used in OmniAuth due to their supporting old versions of Hashie.

Please let me know i

[2017-02-11 08:45] #655 closed

[2017-02-11 08:47] karmi commented on #655
I've spent some time with the templates and Rails 4 & 5 and Elasticsearch 5, and all the templates should be now fixed and work for _both_ Rails and Elasticsearch version 5. Importantly, the _tests_ have been fixed as well, so the application templates are again the main entry point for anybody learning the Rails integration for Elasticsearch.

Can you please try the current `master` and report an

[2017-02-11 09:56] karmi commented on #666
Hi Michael, many thanks for the info! I think we will go through the subclass route, using the `disable_warnings` method you've pointed out.

I've also tried some sketches with more acrobatics to remove the `sort` key from the arguments being passed to initializer, so we bypass the warnings on older versions, but had to abandon it for a while. I'll post the code here if I'm successful later.

(Reg

[2017-02-11 15:22] karmi commented on #603
Hi @jogaco, sorry for the long delay on this one... I'll need some time to wrap my head around it. I'll ping you with questions when I have them.

[2017-02-12 16:13] #666 closed

[2017-02-12 16:17] karmi commented on #666
@lparry, thanks for the initial report and debug info!

@michaelherold, many thanks for the pointers and the quick release of a fixed version!

I've added a `HashWrapper` subclass in 5732fa3, and used it as the wrapper across the `elasticsearch-model` and `elasticsearch-persistence` gems. As I've said, I've not defined the version requirement because of worries it might get people into dependency

[2017-02-12 17:24] karmi commented on #670
Hi Lukas, thanks for the critique!

I agree that some of the constructs of the `Repository` implementation are quite uncommon, and it's certainly maybe "too much" acrobatics at times...

However, the motivation is exactly the thing you hint at: to allow a lot of flexibility when it comes to [creating a custom class](https://github.com/elastic/elasticsearch-rails/tree/master/elasticsearch-persisten

[2017-02-12 17:32] karmi commented on #670
I forgot to add that any refactoring which would make the design/structure more "OO", and which would _not_ prevent the current usage patterns :), is highly appreciated and welcomed!

[2017-02-13 03:12] michaelherold commented on #666
That looks good, @karmi! The only versions of Hashie where that won't fully fix the problem are 3.5.0 - 3.5.2. The new 3.5.3 will handle that fine. There were a bunch of hurdles to jump because we didn't have good integration tests in place. Hopefully, that won't cause too many issues since most version constraints that get people to 3.5.x will allow them to get to 3.5.3 without trouble.

I'll add

[2017-02-13 06:38] lparry commented on #666
I've tested master against our codebase and this does appear to fix the excessive logging. thanks! any chance you could push a 0.1.10 version of the `elasticsearch-persistence` gem up to rubygems when  you get a chance please?

[2017-02-14 23:36] AndersEverett commented on #405
Is there a solution for this? `copy_to` doesn't seem to work on elasticsearch-rails gem. `copy_to` is the only elasticsearch option for updating from `index_name` in older ES versions, but it doesn't show up in the mapping when used from within rails/this gem.

[2017-02-15 08:38] timbleck commented on #421
Same problem for us, following the best practices on reindexing using aliases (https://www.elastic.co/guide/en/elasticsearch/guide/current/index-aliases.html) we run into the same error and fixed this by patching `__type_for_hit` as described above.

Another solution could be to set options within the `index_name` like `index_name "index", aliases: ["index-1", "index-2"]` which then are taken into

[2017-02-15 21:35] olivierbuffon commented on #598
I got the exact same problem. I'm doing a simple `create` (I tested `save` also, same problem).
I'm using *Elasticsearch 5.2* with *elasticsearch-persistence (0.1.9)*.

Here is my class:
[code]

and here is the operation that generate this error:

[code]

Finally here is the error I get:
[code]

The worst is this error is happening randomly! I'm going crazy with this, so any help would be very app

[2017-02-15 22:27] guilhermemaranhao opened #672 "does it support :fields parameter?"
Hi everyone,

I'm using ES 5.2.

I have a text field that contains a :fields parameter to map raw separated field for aggregation purpose.
I used the Faraday client :index method to perform the indexing, but when I search for a document, the field.raw aggregation bucket is empty.

Here is my mapping:
[code]

And my aggregation clause is:
[code]

Have I missed something?

Is anything wrong with my

[2017-02-16 00:32] guilhermemaranhao commented on #672
My mistake! Everything is allright!

Thanks

[2017-02-17 14:15] olivierbuffon commented on #598
*Update*:
After hours of investigation it seems the error related to the usage of `delete_by_query`.
I still don't know why but here is the problematic line:
[code]
As I said in my previous post, this error appears randomly which makes it very difficult to fix. So if anyone have an idea...
Thanks for the help.

[2017-02-17 14:54] karmi commented on #598
Hi, I'm not sure of the root cause here yet, _but_, the `delete_by_query` API has been recently fixed in the `elasticsearch-api` gem "master" branch (see https://github.com/elastic/elasticsearch-ruby/issues/387#issuecomment-274050959). So, what version of ES and the Ruby/Rails libraries are you running?

[2017-02-17 15:00] karmi commented on #598
Just a pointer, when looking at the Elasticsearch ["Delete By Query" API documentation](https://www.elastic.co/guide/en/elasticsearch/reference/current/docs-delete-by-query.html):

That corresponds with what you're seeing. What is probably hapenning in practical terms is:

1. You issue a `delete_by_query` API call. That creates a snapshot if the index in question, and starts processing the documen

[2017-02-17 15:19] olivierbuffon commented on #598
Thanks @karmi ! I just found this information in the doc this morning too ^^.
I'm currently working on it but there's still one thing I don't understand. How an object "maked as deleted" could have been updated since the only operation I do here is create new objects after this `delete_by_query` operation.
To me, the only scenario that could explain this case, is that one of my newly created docum

[2017-02-17 15:32] karmi commented on #598
I'm not 100% sure, but the subtlety in the API description is that the operation "gets a snapshot of the index", hence, it "freezes" that index in time, including the versions, and starts processing the documents. (This is exactly the same thing as with the "Scroll" API.) But the index is kept "live", of course, and can happily receive changes, and any change increments the internal version -- in

[2017-02-17 15:44] violetaria commented on #613
@karmi I ran into this issue as well and I think it's due to the `else` part of the code in `update_document`.  If there are no changed_attributes detected, the code calls `index_document` then `index` which rejects the `retry_on_conflict` URL parameter.

[code]

[2017-02-17 15:49] karmi commented on #613
@violetaria, err, that might be indeed true. I'm not happy with that part of the code, it's prone to subtle errors. I'll try to look into it.

[2017-02-17 15:55] olivierbuffon commented on #598
Interesting, I' continue to investigate. FYI I tried two different way to manage the `_id` value.
First, I didn't specified any `_id` for the object creation, so I let ES set his own `_id` value.
After experiencing this `409 conflicts` error I tried a different approach by setting manually the `_id` value by doing this: `_id: SecureRandom.uuid`. Unfortunately, this results to the same issue.
I'm v

[2017-02-17 15:59] karmi commented on #598
Thanks for the detailed info. If the IDs are auto-generated, then it's indeed pretty weird. But the "general" source of the error must come from some clash between the "Delete By Query" operation and a regular document update (presumably triggered by a callback).

I know it's parallel to the issue, but I'll ask anyway: any pressing reason to use the "Delete By Query" operation at all? Normally, I

[2017-02-17 16:08] olivierbuffon commented on #598
@karmi that's very valid question ^^! I would say that I need to delete some documents before create some new ones. I could use another way to do this deletion, if you have any recommandation.
But to be honest "Delete By Query" was the best way I found to do what I needed to do because I don't want to use a "one by one" delete operation since the amount of documents I need to delete could be prett

[2017-02-17 16:15] karmi commented on #598
The "Delete By Query" operation is definitely easier to perform, than to delete documents one-by-one (even though, technically, ES performs the same behind the scenes).

I guess the main question is then what makes these documents "invalidated", to be deleted. Normally, we advise to create some sort of nomenclature based on indices, eg. for time-based data, and drop whole indices, eg. "delete ever

[2017-02-17 16:28] olivierbuffon commented on #598
I understand your point here, unfortunately I don't have a lot of choices. What I'm currently doing is pulling informations from an external API and persist those in ES. The main problem here, is this API endpoint could return a response (here an array of transactions) that could change over the time, e.g a transaction deleted on their side won't be returned by the API endpoint anymore. So as you

[2017-02-17 17:36] violetaria commented on #613
thanks for responding! Appreciate you looking into it :) Further inspection showed that we are falling into that else due to having additional methods added to the index via `as_indexed_json`.  We update the document through a has_many association `after_commit` callback which doesn't trigger the `update` since technically no attributes on the model have changed.

Perhaps our implementation is odd

[2017-02-18 03:06] olivierbuffon commented on #598
**Update**:
I continued to investigate, I completely isolated my code and it seems the entire problem is the `delete_by_query` itself. I don't know the code behind but it sometimes it results to a conflict situation.
Finally I fixed my problem (with kind of walkaround)... So in case it could interest someone here is what I did:
[code]
It's clearly not perfect but it will do the job on my side unti

[2017-02-18 10:52] Overbryd commented on #670
I find some beauty in separating different Persistence/DB-Layers from the main Model code.
So in order to support this on my application I wrote the following "Base" class.
I incorporated the Singleton idea. The only special code is that I infer the `class_name` from the repository class name. That can be removed for a more generalised implementation.

If you think this would represent a valid way

[2017-02-19 20:48] welkie opened #673 "NoMethodError (as_indexed_json) on ElasticSearch::Model::import"
I'm trying to use this gem in a Rails 5 app. I wanted to use MongoDB as my persistence layer and so I'm using the Mongoid ORM. I wonder if that may be the cause of my error.

According to the instructions, it's a good idea to import the data, so I run ```Actor.import force: true``` (force because there is no ES index yet) and I get:

[code]

I was wondering if anyone knew what might be going on he

[2017-02-20 08:51] karmi commented on #673
So, the gem relies on `as_json` method being defined in the model, and I'm wondering whether Mongoid didn't get rid of that method? Can you try running this [isolated example](https://github.com/elastic/elasticsearch-rails/blob/master/elasticsearch-model/examples/mongoid_article.rb) with the exact versions you're using and see if it's OK Or not?

[2017-02-20 10:01] jogaco commented on #433
@makarchuk : I have hit a couple of problems with your fix:

- does not work for Float

- does not work for an object with fields

I'm trying to figure out what the problem is.

[2017-02-20 12:03] jogaco commented on #433
@makarchuk I was mistaken: only affects to arrays of objects with fields. Will try to investigate further.

[2017-02-20 18:51] welkie commented on #673
Ah I see. So it's probably not that hard to fix. I guess I just have to provide my own implementation of ```as_json```. I guess that's easier than manually writing all the code for ES CRUD operations and syncing, etc.

Perhaps it should be in the documentation that Mongoid users will need to manually implement ```as_json``` on their models?

[2017-02-21 12:46] karmi commented on #673
Yeah, but I need to check it out, and update the example (and implementation, of course), depending on what I find... I don't recall 100%, but I bet Mongoid _had_ `as_json` defined for the models.

[2017-02-21 12:47] karmi commented on #673
@welkie, just define the `as_indexed_json` method in your model -- apart from the most trivial cases, you will want to control how your model is serialized for Elasticsearch anyway...

[2017-02-21 13:32] deepakm-webonise commented on #497
Any updates on this issue I am also facing the same issue

[code]

[code]

[2017-02-22 08:56] karmi commented on #598
So, we never really clarified if the "409 conflict" error comes from the document update operation, or from the `_delete_by_query` operation -- I'd still be interested in that.

I'm afraid I still don't have a straightforward explanation or a fix, _but_, when thinking about the workflow you describe, there could be a way how to work around the "Delete By Query" approach, which could, arguably, be

[2017-02-22 14:13] olivierbuffon commented on #598
@karmi thanks for those suggestions. Since I'm only able to reproduce this case on my production environment (related to the amount of data I have in production), you can imagine it's very complicated to investigate through the logs. But what I did is extract the code I wrote to only run the `_delete_by_query` method without any other actions. In this case I had the exact same problem. I don't kno

[2017-02-22 22:38] cpalafox commented on #673
if you implement `as_indexed_json`, does it still take into consideration the custom mappings you define?

Say...

[code]

isn't this redundant? Am I missing something?

[2017-02-24 02:48] faysal-ali commented on #497
I am also having same issue

`after_commit on: [:update] do
    if indexable?
      __elasticsearch__.update_document
    else
      __elasticsearch__.delete_document ignore: 404
    end
  end`

[2017-02-24 08:29] jogaco commented on #603
As reported in the PR, this is actually not a feature, but a non-implemented callback
https://github.com/elastic/elasticsearch-rails/blob/7aa03e87b7fee71007ff7aa1a6fb452de298587e/elasticsearch-persistence/lib/elasticsearch/persistence/model.rb#L38

[2017-02-26 22:33] garyfoster commented on #535
Same here, I can get the attachments search working with Rails 5 and Tire, but once I switch to the elasticsearch-rails gem, it fails. I tried deleting/recreating the search index to no avail. Also, I was not able to get it working with elasticsearch running locally on my mac from homebrew, but it does work when connecting to a bonsai heroku add-on. Hoping to get a solution since the Tire gem was

[2017-02-27 22:01] taylor-a-barnette opened #674 "Querying Association Trouble?"
Hey... I'm trying to query a has_many association of model Post called PostSection and have run into an issue I can't yet work around. The following code works fine locally on ES -v 1.4.4, but it doesn't run on Heroku, using Bonsai, on -v 2.4. However I can't verify that's the root cause, it's just the last remaining difference.

Post model:

    settings index: { number_of_shards: 1, number_of_re

[2017-03-02 12:31] MrTin opened #675 "elasticsearch-persistence not respecting index settings"
### What
Under the circumstance that there is **no index created yet** when you save a model, the client(?) is smart enough to create the index automatically, but it's not respecting the `number_of_shards setting` provided for the index.

If I create the index first, before saving the model by invoking `PageText.gateway.create_index!` it will respect the setting and `3` shards will be created.

##

[2017-03-02 13:36] karmi commented on #675
I see, thanks for the detailed info! However, this comes from the Elasticsearch layer further "down the stack": in Elasticsearch itself, when an index doesn't exist and a document is being indexed, the index is created with the default settings (and mappings!), which frequently creates a lot of confusion (different analyzers, ...) It can be disabled in Elasticsearch with the `action.auto_create_in

[2017-03-03 19:05] phlegx opened #676 "How to set default dynamic string mappings in Elasticsearch::Persistence::Model"
I have a ruby class `MyIndex` with `include Elasticsearch::Persistence::Model`. How can I configure the index in my class like explained here:

https://www.elastic.co/guide/en/elasticsearch/reference/master/tune-for-disk-usage.html#_don_8217_t_use_default_dynamic_string_mappings

[code]

[2017-03-03 19:16] phlegx commented on #544
Can confirm @AaronRustad! Some times it is not required to have timestamps. Any idea how remove it?

[2017-03-03 20:01] phlegx commented on #676
Found a solution here: https://github.com/elastic/elasticsearch-rails/issues/436#issuecomment-264973387

[code]

[2017-03-09 06:49] bernardofire commented on #245
=/

[2017-03-09 11:28] TakaakiFuruse opened #677 "active_record_associations_parent_child test is not working"
Hi.
I just find out that elasticsearch-models's active_record_associations_parent_child.rb test is not loaded by running be rake test:run_integration or test:all command.

It's just because the file lacks _test.rb at the end.
I think it's better to rename the file since, the elasticsearch-model/Rakefile only reads test.rb files.

[code]

Also, if you run active_record_associations_parent_child.rb

[2017-03-10 16:36] #677 closed

[2017-03-10 16:37] karmi commented on #677
Hi, thanks for the ping!, this has been indeed an omission in the filename -- I've fixed that.

The configuration for making the routing required (which I think is beneficial in this case) [has been changed](https://www.elastic.co/guide/en/elasticsearch/reference/5.x/mapping-routing-field.html), so I've fixed that as well.

Thanks again!

[2017-03-12 19:38] dmitriy-sqrt opened #678 "Validation Failed: 1: script or doc is missing on delayed index update"
I`m trying to migrate from direct callbacks to Sidekiq delayed ones:

Have `NewsItem` model with callbacks defined:
[code]

Now following manual from https://github.com/elastic/elasticsearch-rails/tree/master/elasticsearch-model#asynchronous-callbacks

I`ve replaced callbacks to something like:
[code]

Worker looks close to one from readme:
[code]

Delayed indexing works ok on create and destroy,

[2017-03-12 19:53] dmitriy-sqrt commented on #678
I`ve also tried to add 'doc' key to json body for update method
`{'doc': as_indexed_json}`

And using
`NewsItem.__elasticsearch__.index_document(refresh: true, ...)`

But that didnt affect the outcome.

[2017-03-13 04:59] nandukalidindi opened #679 "Mapping for a multi-field query?"
I tried multiple ways to get my mapping
[code]
to work but it kind of is confusing to setup `multi field` mapping. Could someone please help me in translating this to a mapping block for ActiveRecord models.

Rails `4.2.6`
Elastic search `5.2.2`
Ruby `2.2.6`

Thanks

[2017-03-16 01:52] mnoack commented on #648
@jalberto It has been fixed in https://github.com/elastic/elasticsearch-rails/commit/ffc1aa4e0a566d9deeee56e3f636ffc060c9ec07

So alternatively you can fix it by pointing to the master branch, but perhaps @karmi can cut a release or is planning something, after all the last release was May 2016

[2017-03-16 01:59] jalberto commented on #648
IMHO the AR pattern casue too many headaches, it's easier to get rid of it and use the repository pattern  as it's closer to ES

[2017-03-16 01:59] #648 closed

[2017-03-17 07:45] karmi commented on #648
Hi all, I've recently fixed all the examples, and indeed changed the default type to `text`.

@mnoack, yes, I agree, the releases are really behind, apologies for that, I'll push new releases soon.

And agreed with @jalberto, the ActiveRecord pattern for persistance has been and is a source of so many headaches. I'm now working on rewriting the [example application](https://github.com/elastic/elas

[2017-03-17 15:28] nate00 opened #681 "Per-search HTTP timeout configuration"
# Background

You can configure an `Elasticsearch::Client` with an HTTP timeout:
[code]

That means that every search will have the same timeout:
[code]

You can set the Elasticsearch `timeout` parameter on a per-search basis:
[code]

but that parameter sets [the Elasticsearch `timeout`](https://www.elastic.co/guide/en/elasticsearch/reference/current/search-request-body.html#_parameters_4), not th

[2017-03-17 16:07] karmi commented on #681
Hi @nate00, thanks for the idea! I assume the reasoning for the different timeouts is that you want a small one for some requests (eg. indexing) and a large one for eg. complicated searches with aggregations and such?

Allowing passing request_timeout couldn't be done easily, because that is set when the client is initialized.

My usual way of thinking is that people can initialize multiple client

[2017-03-17 16:17] nate00 commented on #681
@karmi Yeah, you described my use case basically correctly. I want to render a webpage that has search results as its main content (with a longer timeout) and search result counts for related search queries as secondary content (with a shorter timeout). It's not terrible if that secondary content is sometimes missing from the page.

[2017-03-21 12:40] vikramjadon921995 opened #682 "Rspec - Elasticsearch automatic callbacks running in before(:all) but not in before(:each)"
When I create a record in before(:all) in rspec, the index also gets created but it does not work in before(:each). Why is this happening?

For example:

I am using elasticsearch-model gem to trigger automatic callbacks.

If I do this,

`

    describe "#update_company_indexes" do

        before(:all) do

            Company.__elasticsearch__.create_index! force: true

            FactoryGirl.cre

[2017-03-22 16:45] Animeye commented on #648
This change breaks compatibility with ES versions prior to 5.  The gem claims to support "Elasticsearch 1.0 (or higher)", but with the switch to use "text" instead of "string", it now actually only supports 5.x or higher.

[2017-03-22 22:35] blackst0ne commented on #608
Any progress on this?

[2017-03-23 10:32] johanlunds commented on #608
I think it has been merged. Read the comments on the referenced PR.

[2017-03-23 10:39] phlegx opened #684 "Bulk index and Sidekiq: java.lang.OutOfMemoryError: Java heap space"
Hi!

I use the `Elasticsearch::Persistence.client` client to perform parallel bulk inserts in ES 5.2. The bulk insert is done by sidekiq jobs.

Here some config information:
[code]

Here a small example:

[code]

I get this error in ES after some jobs are processed:

[code]

**Question**: Do I need to flush the bulk insert after insert to reduce heap memory or what I am doing wrong?

**Another que

[2017-03-23 22:35] Animeye commented on #161
Has there been any further information on this?

[2017-03-24 10:18] karmi commented on #161
@Animeye No new information, this felt off the radar... If anybody would like to pick it up (@fbernier), I'm up for assistance and review!

[2017-03-24 10:56] karmi commented on #684
Hi, first, thanks for all the detailed info!

in general, it is best to leave Elasticsearch at defaults. That said, you might experiment here by executing the [`indices.flush_synced`](http://www.rubydoc.info/gems/elasticsearch-api/Elasticsearch%2FAPI%2FIndices%2FActions:flush_synced) operation between the batches, and observe the effect on the memory. Also, if this is a heavy import, which takes s

[2017-03-24 11:28] phlegx commented on #684
Thank you for the detailed answer. My seed pre-configures ES with:

[code]

**Sidekiq**

I have some Ruby processing and DB queries in my `IndexerJob` before the bulk import happens. An important note is, that Sidekiq threads (in my case 15 threads per worker process) are concurrent but not parallel. Only the 6 worker processes works in parallel. And I don't get `429` HTTP code errors.

**Index bu

[2017-03-24 12:25] aldesantis opened #685 "Elasticsearch::Model does not send routing when indexing"
I have the following two models in my application:

[code]

[code]

I am creating my index with this `IndexManager` class:

[code]

But when I create an article, I get a "routing is needed" error. It turned out that elasticsearch-model wasn't sending neither the parent nor the routing when indexing my document. The only was to fix the issue was to define the callbacks myself:

[code]

Is this expe

[2017-03-24 14:10] MrTin commented on #675
Sorry for the late reply @karmi and thank you very much for taking the time to reply. I can understand why it's working this way, perhaps it's enough just informing users early on in documentation – a notice.

I feel the same using the AR pattern and will take your consideration and give the Repository pattern a spin.

[2017-03-24 21:30] baileyspace opened #687 "Disable _all for type"
I'm trying to disable _all as outlined [here in the ES docs](https://www.elastic.co/guide/en/elasticsearch/reference/2.4/mapping-all-field.html#disabling-all-field) . The following looks right to me but isn't being implemented when I create the index:

[code]

Mappings as json:

[code]

[2017-03-24 22:27] baileyspace commented on #687
Looks like I was mistaken. This seems to be working now.

[2017-03-24 22:27] #687 closed

[2017-03-25 09:11] karmi commented on #687
Hi, what was the correct syntax? Can you leave it here for the Google visitors? :) Thanks!

[2017-03-25 10:24] karmi commented on #608
First of all, my apologies, @alexceder, for not responding to this issue sooner, and many thanks for the care you took in providing all the details in the issue description. Also, many thanks for everyone responding on this thread!

As @johanlunds says, the [fix by @inkstak](https://github.com/elastic/elasticsearch-rails/commit/c9c4d2f1e0146b68feec76a54e8b27c569049d61) has indeed been merged throu

[2017-03-25 12:15] karmi commented on #684
Thanks for all the details!

So, what has changed since your original configuration?

Yes, that seems quite logical to me -- when you look at the _type_ of the memory, it's the "Terms" part of the "Index Memory" output. It grows with the amount of documents you keep adding to the index during the bulk load, because that's the fundamental Lucene data structure keeping the inverted index.

This shou

[2017-03-27 05:35] carolliu commented on #666
Hi, will the fix to be released?

[2017-03-29 12:46] #675 closed

[2017-03-29 12:52] karmi commented on #685
Yes, this is expected -- the default callbacks will not include the `parent` parameter in the indexing call. In fact, the [integration test](https://github.com/elastic/elasticsearch-rails/blob/master/elasticsearch-model/test/integration/active_record_associations_parent_child_test.rb#L39-L41) for a parent:child relationship has exactly the same code as you have in your example. (Note: Sending the

[2017-03-29 12:53] karmi commented on #684
I'm still interested if anything has changed in your configuration and/or environment, since the operation has been failing previously, and now runs fine. Any news there? :)

[2017-03-29 13:07] karmi commented on #682
Hi, I've created this isolated example which executes the `create_index!` operation before each test, can you run it?

[code]

[code]

[2017-03-29 14:21] phlegx commented on #684
Hi! The problem was the amount of RAM. Giving more RAM to the machine and to the JVM solves the problem. In fact, the `Index Memory` has reached the maximal memory. That causes the error. Working with the following memory configuration all works fine for the moment:

- ES_JAVA_OPTS=-Xms20g -Xmx20g
- maximal memory limitation to 40 G

[2017-03-30 17:34] wonderwoman13 opened #690 "Mapping definition for [title_suggest] has unsupported parameters: [payloads : true]"
@karmi thank you for all of your incredible work on Elastic. We happily converted our repositories to Elastic a few months ago and are giving a talk in our community about why we did so.

I'm eager to add in autocomplete. I read over your excellent completion suggester example [here](https://github.com/elastic/elasticsearch-rails/blob/ded20356920802c35d258756113acfd95b25ade6/elasticsearch-model/ex

[2017-03-30 17:37] macartur opened #691 "Last Realse of elasticsearch-rails"
I am working to pack the 'elasticsearch-rails' repository to debian, but the last tag is  'dischord.yml' and this is different of previous version. I want to know if this last tag is right ?

[2017-03-31 10:00] bublik commented on #657
latest versions has been changed, and context is removed
https://www.elastic.co/guide/en/elasticsearch/reference/5.2/search-suggesters-completion.html

[2017-03-31 10:02] bublik commented on #690
https://www.elastic.co/guide/en/elasticsearch/reference/5.2/search-suggesters-completion.html

[2017-03-31 13:03] karmi commented on #690
Hi, thank you for such kind words!

The example has been changed, actually, to support the new syntax in Elasticsearch 5.x, which removed the support for the `payload` options: https://github.com/elastic/elasticsearch-rails/blob/16ef3934b4408de950e6c676fac0c88f4eb5ff7b/elasticsearch-model/examples/activerecord_mapping_completion.rb#L22

Now, instead of returning the payload, the whole `hit` is ret

[2017-03-31 14:39] karmi commented on #685
Hi, I see your 👍 , but don't know if the issue can be closed then? :)

[2017-03-31 14:41] karmi commented on #691
Hi, I've abused the "Releases" feature of the repository to store a file with data for the [example application](https://github.com/elastic/elasticsearch-rails/tree/master/elasticsearch-persistence/examples/music).

So, you will have to filter the tags for the correct format, something like `/v\d+/`. I'm not familiar with the Debian packaging processes, but maybe it's better to use the versions re

[2017-03-31 14:49] alessandro1997 commented on #685
@karmi I thought this was a bug. Since it's expected behavior, I guess it can be closed. It's just a little counterintuitive, so maybe it should be documented somewhere (unless it's documented already and I missed it)!

[2017-03-31 15:13] karmi commented on #685
Well, I strongly consider removing the automatic callbacks for the reasons I've mentioned. There's the [integration test](https://github.com/elastic/elasticsearch-rails/blob/master/elasticsearch-model/test/integration/active_record_associations_parent_child_test.rb#L39-L41) I've linked, and I consider the integration tests part of the documentation, but maybe we should advertise them more in the R

[2017-03-31 15:19] karmi commented on #681
So, I was thinking about it a little, and it occured to me, that instead of passing the client object as an argument to the `search` method, which is _really_ weird, we could follow the `with_foo {}` convention, used frequently in the Ruby world. In pseudo-code, something like this:

[code]

[code]

[code]

What do you think about that? Would you be interested in having a shot at the implementatio

[2017-03-31 19:15] wonderwoman13 commented on #690
That is exactly what I needed. Thank you x a million @karmi! 🎉

[2017-03-31 19:15] #690 closed

[2017-04-01 02:56] nate00 commented on #681
Agreed, I like that interface better.

Were you thinking the implementation would be something basically equivalent to:

[code]

I think that would get us the functionality in your first example. Because we're only shallow copying the proxy, you get potentially surprising behavior like:

[code]

I think it's unlikely anyone will want to mutate the index name like that. But maybe `ClassMethodsProxy

[2017-04-01 07:45] nate00 commented on #681
The block version could work like:

[code]

That's useful and not magical, I think. What do you think?

[2017-04-01 08:18] karmi commented on #681
I was more or less just throwing the ideas for the usage/syntax around, without much thinking about the implementation...

I think it's crucial to start with something immediately usable, which solves the actual problem you have, and for that the first, non-block syntax seems like a good candidate? So I would leave out the block syntax for now.

I think that we'll have to hook into the [`SearchReq

[2017-04-01 09:02] karmi commented on #681
I was playing with it a little bit inside a Pry session with the [`activerecord_article.rb`](https://github.com/elastic/elasticsearch-rails/blob/master/elasticsearch-model/examples/activerecord_article.rb) example, and I think I can provide less confusing feedback now :)

So, without the block, predictably, we have no way of setting that different client _temporarily_, since we don't have any way

[2017-04-01 20:00] math-on commented on #605
For those who may face this "problem" in the future: The correct approach seems to be ```number_of_fragments: 0```, as shown in the documentation linked by @karmi.

[2017-04-03 12:11] phlegx commented on #684
Here a good documentation that I have found: https://thoughts.t37.net/how-we-reindexed-36-billions-documents-in-5-days-within-the-same-elasticsearch-cluster-cd9c054d1db8

[2017-04-04 06:23] nate00 commented on #681
Thanks for the thoughts @karmi!

1. I definitely agree that our implementation should support methods other than `search`, e.g. `create_index!`.

2. I also agree that the implementation should support `with_client` on both model classes and model instances.

3. I don't love using `instance_eval`. I always find it a bit surprising when the value of `self` changes inside a block. For example, using

[2017-04-04 15:57] phlegx opened #693 "Elasticsearch::Persistence find_in_batches causes BadRequest reason unrecognized token"
Hi!
I use:
- Elastisearch 5.x
- elasticsearch-rails 0.1.9
- elasticsearch-persistence 0.1.9
- elasticsearch-ruby 5.0.3

and if I want to `find_in_batches` I get this error:

[code]

The problem comes from this line in [persistence/model/find.rb#L135](https://github.com/elastic/elasticsearch-rails/blob/master/elasticsearch-persistence/lib/elasticsearch/persistence/model/find.rb#L135)

`response = g

[2017-04-05 13:36] ttrmw opened #694 "'ArgumentError: `type` is missing' when moving inclusion of module to base class."
Hey,

I wanted to define a base class that includes `ElasticsearchPersistence::Model`, ie:

[code]

however, as soon as I move the inclusion from `MyModel` to `ElasticRecord`, I get:

[code]

when I try to instantiate `MyModel`. Any pointers?

[2017-04-05 13:55] karmi commented on #694
I don't get this error when using current `master` of "elasticsearch-model" and "elasticsearch-persistence", but I do get another one, when I do `MyModel.new`: "undefined method `set' for nil:NilClass".

When you're using inheritance like this, the workaround is to `include` the model also in the child class:

[code]

Can you try it out?

[2017-04-05 16:30] ttrmw commented on #694
Sure, that works fine. I was hoping I might be able to include from the base class only but I see that's not possible. Thanks anyway!

[2017-04-05 16:30] #694 closed

[2017-04-05 16:38] ttrmw opened #695 "Approach to schemaless models (or attributes?)"
So say I'm trying to associate some ES documents with my normal db backed models in Rails. I'm using the ActiveRecord pattern, and define `attribute :model_id, Integer` on my ES backed model. Now, I want to store basically an arbitrary JSON document for the rest of the model's attributes, making it kinda schemaless.

I've tried adding `attribute :schemaless_stuff, Hash`, which allows me to store a

[2017-04-05 19:02] andyw8 commented on #571
@dogweather any luck with solving this? I'm not super familiar with with ES but this message pollutes my test output.

[2017-04-06 13:44] karmi commented on #694
This is probably the same problem reported in #670, and it's certainly we should fix, even though the workaround is that simple.

[2017-04-06 13:54] Meekohi commented on #656
Seems the same as #643

[2017-04-06 14:29] karmi commented on #656
@MuneebSarfraz94 There's an example in the ["Custom Callbacks"](https://github.com/elastic/elasticsearch-rails/tree/master/elasticsearch-model#custom-callbacks):

[code]
Is this what you're after?

[2017-04-06 14:36] karmi commented on #571
Hi @andyw8, I think we've debated adding some "quiet mode" in some issue, but I don't recall the reference now.

Looking at the code now, it comes from `delete_index!`, where we should use the `ignore` option in the Elasticsearch client, instead of capturing the exception like this.

[2017-04-06 14:38] karmi commented on #695
@ttrmw, it's a good start indeed! :) However, when you use those fields in the `match` query, you have to use `schemaless_stuff.foo` notation -- can you try it?

[2017-04-06 14:40] ttrmw commented on #695
Oh! So like `{"schemaless_stuff.foo": "bar"}`"?

[2017-04-06 15:03] karmi commented on #679
You have to use the `indexes` method inside the `mapping` definition in the model -- please have a look at the [examples](https://github.com/elastic/elasticsearch-rails/blob/master/elasticsearch-model/examples/activerecord_mapping_completion.rb) in this repository, and also the [example Rails applications](https://github.com/elastic/elasticsearch-rails/tree/master/elasticsearch-rails#rails-applica

[2017-04-06 15:05] karmi commented on #695
Yes, something like

[code]

But I'm writing that from memory, try it and ping me if you'll get into trouble.

[2017-04-06 15:44] ttrmw commented on #695
Great, will do!

Relatedly enough that it doesn't feel worth opening a new issue for... Using the AR implementation, is there a way to actually just map an attribute as JSON? I'm guessing the mapping option would take 'json' as a value, but I don't think virtus will support it?

[2017-04-06 16:15] karmi commented on #695
Feel free to open issues in the repository, we use it for general questions as well. For the use case you mention, can you provide some kind of context, ideally with some code? If "AR implementation" means the _ActiveRecord_ pattern for `elasticsearch-persistence`, I advice against it, in favour of the [_Repository_](https://github.com/elastic/elasticsearch-rails/tree/master/elasticsearch-persiste

[2017-04-07 08:20] jogaco commented on #603
Any progress with this @karmi please? This is a show stopper.

For elasticsearch-persistence Repository Pattern, there is customizable deserialization:

https://github.com/elastic/elasticsearch-rails/blame/109c155df6c8b8989aa935bc1fe163a1452a2b4e/elasticsearch-persistence/README.md#L144-L148

For elasticsearch-persistence ActiveRecord Pattern, there is a promise for it in the defined Model callbac

[2017-04-07 08:26] jogaco commented on #693
Same problem for find_each here

[2017-04-07 08:28] jogaco commented on #693
Wonder if this should remain opened, as the Gemfile dependencies refer to a possibly incompatible 6.0.0 version in the future:
[code]

[2017-04-07 09:23] ttrmw commented on #695
Sorry, yeah - the ActiveRecord pattern implementation. It seems a little more limiting on the face of it than the repository pattern implementation, but naturally our team is more familiar with AR style persistence, so this felt like a good idea.

Basically I'm looking to store arbitrary JSON and join it to our RDBMS backed models, then query on the JSON with ES. The way I was looking at doing tha

[2017-04-07 18:32] baileyspace commented on #687
Sure thing, the syntax in my original post worked:

[code]

[2017-04-07 19:27] sechix commented on #567
Hello, What is the solution exactly? I have same issue

[2017-04-09 18:12] sonalkr132 opened #697 "Custom analyzer not working as expected"
Steps to reproduce:
* Set up `03-expert.rb` template
[code]
* Add a custom analyzer to article title:
[code]
* Reimport records
[code]
* Start rails server and create a few articles with title as: `example_1`, `example_gem`
* Search for `example`.

**I don't get any results back**. My pattern analyzer seems to be working fine:
[code]
Any kind of help or general guidance about debugging this would

[2017-04-10 06:41] zachdb86 opened #698 "Include aggregations when rendering json on elasticsearch model"
How can I include aggregations or other response data when rendering an elasticsearch response object to json?  Right now I am only getting a list of results back.

In my model I have this method:
[code]
And In my controller I have:
`render json: Post.list('abcd')`

But the json response from rails does not include my aggregations.

[2017-04-10 07:34] karmi commented on #693
@phlegx I've released couple of new versions for both -rails and -ruby, can you check it with them, please?

@jogaco, in which Gemfile is the `6.0.0.pre` version referenced?

[2017-04-10 07:36] zauzaj commented on #567
@sechix Sidekiq should be restarted when you do some changes in worker class.

[2017-04-10 07:38] karmi commented on #695
@ttrmw, all right, makese sense. I'd really advice against the AR pattern, the implementation in `elasticsearch-rails` is inconsistent and the pattern itself too limiting. You can always work with a thin wrapper eg. based on `Hashie::Mash` with the Repository pattern.

I think we should close this issue then, and you can open new issues for specific problems?

[2017-04-10 07:41] karmi commented on #567
Hi @sechix, this thread is quite long, what "same issue" do you have?

[2017-04-10 08:04] karmi commented on #698
Hi, you have to use the `#aggregations` accessor, see the example here in the integration tests: https://github.com/elastic/elasticsearch-rails/blob/master/elasticsearch-model/test/integration/active_record_basic_test.rb#L229-L246

More examples are available in the example application:

* https://github.com/elastic/elasticsearch-rails/blob/master/elasticsearch-rails/lib/rails/templates/searchable

[2017-04-10 09:00] karmi commented on #697
Hi, is this in the context of search for Rubygems?

I think it's better to try this out with an isolated example, and then try to integrate it into the example application.

What I've come up with is this Ruby code, I'll add it to the `examples` folder of the repository later:

[code]

[2017-04-10 09:54] phlegx commented on #693
I have write this hook using the versions mentioned in this issue. If this changes are in the new `pre` versions than all works fine:

[code]

[2017-04-10 10:42] ttrmw commented on #695
sure, thanks!

[2017-04-10 10:42] #695 closed

[2017-04-10 14:47] karmi commented on #693
I've updated the dependencies in the .gemspec, and fixed the failing[integration tests](https://github.com/elastic/elasticsearch-rails/blob/master/elasticsearch-persistence/test/integration/model/model_basic_test.rb#L199-L229), which are now passing for me locally.

[2017-04-10 16:55] sonalkr132 commented on #697
Yes. It is also my explaination for using `[\s#{Regexp.escape('.-_')}]+` . I want to search rubygem name and  `'.-_'` is where the names split. For example, if I query `elasticsearch`, I should get back gems named `elasticsearch_rails`, `elasticsearch-rails`, `elasticsearch_rails.rb` etc.

Thank you so much for your example :blue_heart: . I have modified your script to better illustrate my point (

[2017-04-10 17:04] zachdb86 commented on #698
I have no problem accessing aggregations in my views, this is strictly an issue when I want to render the elasticsearch response as json rather than rendering an html view.

[2017-04-10 18:59] karmi commented on #698
Right, that's correct, Rails will probably call `#to_a` on the object, and that will only return `#records`, or `#results`. Closing the issue then?

[2017-04-11 08:10] christianonrails opened #699 "failed to find geo_point field only when i use one index!"
Hi there,

I came across a really strange issue. I've got two repos User and Request.

[code]

[code]

Since it is a parent/child relationship I had to use the same index. And there is the problem. Since both types using the same index I get this error when I do this search:

[code]

Just in case you like to see the search:

[code]

If I change the index back, so every type has their own index, th

[2017-04-11 08:42] jogaco commented on #693
@karmi The working version was in master.
Here the relevant portion from Gemfile.lock
Will check again when I find the time.
Thanks for the fix.

[code]

[2017-04-11 12:26] christianonrails commented on #699
I foun

[2017-04-11 12:26] #699 closed

[2017-04-11 12:51] karmi commented on #699
@christianonrails, any info about how did you solve it?

[2017-04-11 12:52] christianonrails commented on #699
not solved, i switched now to the model pattern. not sure how you would do it in repository pattern though

[2017-04-11 16:12] soujanya24 commented on #567
I got this error. What does this mean and any solution quickly would be appreciated. error_class="Elasticsearch::Transport::Transport::Errors::NotFound" error="[404] <html>\r\n<head><title>404 Not Found</title></head>\r\n<body bgcolor=\"white\">\r\n<center><h1>404 Not Found</h1></center>\r\n<hr><center>nginx/1.9.5</center>\r\n</body>\r\n</html>\r\n" plugin_id="object:3febccf36194"
Thanks

[2017-04-12 08:33] karmi commented on #567
@soujanya24, I'm sorry, but you would have to provide full details about your environment, the versions of the Rubygem and Elasticsearch used, preferably in a new issue, so we're able to help you. Posting a question like this isn't helpful at all.

[2017-04-12 08:40] karmi commented on #699
Interesting point, I can't see how the _ActiveRecord_ pattern makes this easier on the ES level... But in any case, I plan to remove this pattern in the next major release, and leave the _Repository_ pattern only.

[2017-04-12 08:46] christianonrails commented on #699
I switched now to the activerecord pattern and i'm quite happy with that. anyway, i found out that the problem was simply the mapping. once you have a parent child relationship, you have to merge both models and create the index just once. before i created the index for both models individually even they share the same index and this causes problems. so nothing really wrong with the repository pat

[2017-04-12 08:51] karmi commented on #699
Yes, indeed, you have to write some kind of `IndexManager` to merge all the settings/mappings, and create the index. Glad it's working!

[2017-04-12 08:53] christianonrails commented on #699
yeah thats what i did now. any reasons why activerecord pattern gets removed? probably you just wanna maintain one approach?

[2017-04-12 09:06] karmi commented on #699
There are numerous problems with that pattern, some coming from the "impedance mismatch" between the semantics of _ActiveRecord_ for relational databases, some coming from incomplete implementation. It was an attractive thing to do, since you can hook such a class so easily into Rails. But in reality, it's really too tight coupling between the "persistence" logic and the "business" logic, leads to

[2017-04-12 10:29] sechix commented on #567
Thanks for your answers. I finally solved my issue creating index. My problem was with heroku and elasticsearch. The solution is install gems elasticsearch rails / model, and for bonsai heroku gem elasticsearch-bonsai. After run in rails index create for corresponding class.

[2017-04-12 10:57] karmi commented on #567
@sechix, glad it's working!

[2017-04-12 13:07] karmi commented on #697
Right! Ping me if you'd like to get some help, preferably by opening an issue in the rubygems/rubygems.org repository, and mentioning me. In the past, we have been working with David Radcliffe on the initial implementation.

Yes, that's what I understood, I was confused by the escaping and the whitespace character there. I've checked it now, and it works the same as my example, though I like the `

[2017-04-12 18:04] sonalkr132 commented on #697
Thanks. We just need to update ES 5 before we can enable it on rubygems.org.

I would really appreciate it if you could go over our [implementation](https://github.com/sonalkr132/rubygems.org/blob/361197214130d944d77a78d2ba632ca9babc84ee/app/models/concerns/rubygem_searchable.rb) and [test](https://github.com/sonalkr132/rubygems.org/blob/361197214130d944d77a78d2ba632ca9babc84ee/test/unit/rubygem_s

[2017-04-12 18:04] #697 closed

[2017-04-12 20:00] captainhaddock29 opened #701 "Mongoid and embeds_many model"
Hi,
I use Rails + MongoDB (with Mongoid) + ElasticSearch.
So, I have many rails class model, for example :
[code]

[code]

and

[code]

So, when I use the rails console, the collections Sheets and Pages are empty because objects Sheet and Page are included in the Document collection. I can get the first page of the first document with : `Document.all.first.pages.first` for example. There are many

[2017-04-13 10:16] karmi commented on #697
I'll try to do that, do @-mention me whenever you would feel like getting some feedback on the Rubygems.org repo. I'll try to ping @dwradcliffe on the Slack channel we had back then, to see if we can continue expanding the search features.

[2017-04-14 13:42] alepore commented on #665
@karmi it's normal that `elasticsearch-model` 2.x depends on `elasticsearch` 1.x? https://github.com/elastic/elasticsearch-rails/blob/2.x/elasticsearch-model/elasticsearch-model.gemspec#L26

[2017-04-14 14:19] karmi commented on #665
@alepore, it isn't :) There's a PR at https://github.com/elastic/elasticsearch-rails/pull/702 which I'm gonna merge soon. These are some unfortunate side effects of making the support matrix a bit predictable in both the Ruby client and Rails integration...

[2017-04-17 06:50] rajcybage opened #704 "Elastic Search automatically set limit 1000"
I ran same query

    Article.filter_channel('Soonter_CRM')
      Article Load (956.2ms)  SELECT articles.id id,articles."Federation_Id" "Federation_Id",articles."Contact" "Contact",articles."Source" "Source",articles."Datetime" "Datetime",articles."Trackback_Id" "Trackback_Id", articles."Previous_Activity" "Previous_articles",brands."Name" "Name",brands."Master_Id" "Master_Id",articles."Level" "L

[2017-04-18 07:31] one0fnine opened #705 "Rails 5 & Deprecations"
Rails 5.0.2 and elasticsearch-rails 0.1.9
`DEPRECATION WARNING: Method to_hash is deprecated and will be removed in Rails 5.1, as `ActionController::Parameters` no longer inherits from hash.
(called from initialize at /elasticsearch-persistence/lib/elasticsearch/persistence/model/base.rb:13)`

[2017-04-19 11:10] mangeshdevare commented on #661
Getting same problem when updating a model.. Is there any way around

[2017-04-19 11:42] mangeshdevare commented on #661
hi @karmi , I am currently working on a program, but due to this error I am stuck there, Is there aany way around for different version of gem or anything?

[2017-04-20 10:29] zauzaj opened #707 "Urls in as_indexed_json method in model"
I have as_indexed_json method in my model, where I include all fields/methods for that model I need:

[code]
As you can see there are methods `path`&`url` which are actually from decorator, and they used to generate object urls.

[code]

I know this is not good practice, but that was only way to do it! Now I want to refactor it and to move decorator from model, but not sure what would be the best

[2017-04-26 16:16] rafaeldioni4 opened #708 "Data loss after create new mapping and Re-Index"
Hello, im a newbie for elasticsearch, so to the point :
### I'm using elasticsearch 1.6.1,  elasticsearch-rails, elasticsearch-model
1. I want to add mapping for only `avg_skill_rating` field :

[code]
*Note : This is the ONLY mapping i create in my model (PS: All other field generate auto default mapping (?)

2. I'm using Sidekiq for Index Operation

[code]

3. Before running `bundle exec rake sr

[2017-04-30 14:47] zauzaj opened #709 "Multiple queries in one request - _msearch/"
Hi,
I'm wondering if there is an option to use `/_msearch` using a gem and how? I need this in order to parse results to diff sections and would like to do it via ES rather then parse results in Ruby or to send few diff requests.

Thanks

[2017-05-01 21:43] admin-it opened #710 "How to search associated models"
I'm trying to build a search that searches a "Product" table and also its parent "Model" table and the parent table of the "Model" table called the "Brand" table. I've asked the question on stackoverflow and I have done a bit of research but I can't seem to get anywhere and I'm rather confused at this point as to which options I should use for the desired results.  http://stackoverflow.com/questio

[2017-05-05 15:11] alrooney opened #711 "occasionally seeing wrong argument type Module (expected Proc)"
I'm occasionally getting this error when creating a document as follows:

[code]

Anyone else see this?  Any ideas?

Here's where the exception is raised:

[code]

And here's the relevant stack trace:
[code]

[2017-05-08 11:40] zauzaj commented on #709
Is there anyone who knows something about this ? @karmi maybe you ?

[2017-05-08 15:29] karmi commented on #709
@zauzaj, sorry, I had to focus on another project for the last couple of weeks.

In general, any ES API can be used directly, since the client can be accessed by `MyModel.__elasticsearch__.client`. But your use case might require something else, can you be more specific in what you're trying to achieve, ideally with a code example?

[2017-05-08 17:45] acareaga commented on #710
@admin-it have you checked out the `activerecord_associations.rb` example?

https://github.com/elastic/elasticsearch-rails/blob/master/elasticsearch-model/examples/activerecord_associations.rb

[2017-05-09 07:55] zauzaj commented on #709
Hey @karmi thank you for response. My concrete requirements are next:
4 diff sections with data from elasticsearch, where every section has to have sub-headline.
`1st is only users in specific region with availabilities`
`2nd is only users around that region with availabilities ~ 20km`
`3th is only users around regions without availabilities ~ 20km`
`4th not confirmed users ( another type of user)

[2017-05-11 01:35] raghavendra-prithvi opened #712 "rails 3 application behaving differently with the elasticsearch 1.7 using elasticsearch-rails and elasticsearch-model gem"
Thanks for reading it. I am trying to implement the keyword search in my rails application. I wanted to categorize the results one after the other based on one field value. SO I tried to apply weight using function_score. The weight is working fine and I could able to categorize But the multi match query inside the function_score is not returning all results when I call from rails application But

[2017-05-11 13:17] zaziemo commented on #458
@karmi I have the same problem. How can we deal with null_values using this gem?

[2017-05-11 13:23] Draqun commented on #458
Sorry but I don't remember, and cannot check it in source code. Is possible I never found solution. Cannot help so again sorry and good luck.

[2017-05-11 15:53] BriocheBerlin commented on #458
Hi @karmi, do you think passing null_value will be implemented any time soon? Thanks!

[2017-05-12 10:00] karmi commented on #709
Right, thanks for the details!

First of all, as I've said in the last reply, you can call the "Msearch" API through the model, by accessing the client. This, however, gives you the "raw" result from the `elasticsearch` gem, and you would presumably have to do some kind of wrapping on the application layer, so you can present the results easily.

Considering the use case, I don't think "Msearch" i

[2017-05-12 15:18] karmi commented on #458
Hi, I did some experimenting with it, and this _does_ work:

[code]

But it doesn't work for the `text` type (an _analyzed_ type in Elasticsearch), which is the default for the `indexes` method.

So, @zaziemo and @BriocheBerlin, it _would_ work, if you'd explicitely set the field to be the `keyword` type, like in that example.

But the larger question is, in what case do you actually need this? Is

[2017-05-12 18:08] Draqun commented on #458
@karmi

No problem. I finished with RoR. I hate languages with single inheritance. I prefer Python and C++ :)

Best regards.

[2017-05-15 10:04] zaziemo commented on #458
Hi @karmi,

thanks for your quick response.
We are still working with v 2.4 and are using the type: ‚completion’ because we use it in the context of a suggest field. Probably it doesn’t work with this type?

To explain the larger context: we have a database of speakers who can list their profile details in different languages, e.g. their main topic of expertise. Most of them only have one language

[2017-05-15 14:07] karmi commented on #458
Yes, @zaziemo, that is what I see as well now on `2.4.0` when I try it.

Thanks for the details — I understand now how the `null_value` would be attractive there. I was playing with the [bundle `activerecord_mapping_completion.rb` example](https://github.com/elastic/elasticsearch-rails/blob/master/elasticsearch-model/examples/activerecord_mapping_completion.rb), and when the `title` attribute of t

[2017-05-15 20:23] zaziemo commented on #458
@karmi thanks a lot. With your hint and a little help of @svenfuchs I got it working using the select method `output.select{ |key, value| value.present? }`

[2017-05-16 01:01] frankolson commented on #313
I am getting a similar error when trying to generate the basic template:

[code]

Ruby version: `2.4.0`
Rails version: `5.0.2`

Is this generator able to work with Rails 5?

[2017-05-17 07:42] arunn commented on #663
I don't know if you still need this information. But the following way should work for the `enabled: false` thing.

      settings do

         mappings do

              indexes :stored_unindexed_data, enabled: false, type: "object"

         end

     end

[2017-05-18 16:21] BenTalagan opened #713 "[Feature(?)] No bang (!) methods for create/save on elasticsearch models"
Hi, a small difference between classical ActiveRecord models and elasticsearch models is that elasticsearch ones come without bang methods (which would raise exceptions on validation failure) :

[code]

Is it a choice of design or a missing feature?

Thanks for this awesome gem.

[2017-05-18 20:43] davedash opened #714 "`changed_attributes` is deprecated in Rails 5.1"
`changed_attributes` is deprecated in favor of `saved_attributes`.

When I updated my project to Rails 5.1 I started seeing this:

[code]

The stack-trace included a reference to this:

https://github.com/elastic/elasticsearch-rails/blob/2.x/elasticsearch-model/lib/elasticsearch/model/proxy.rb#L65

I'm not sure how to cleanly resolve this without modifying elasticsearch-model.

[2017-05-24 00:00] hanhdt opened #716 "How to connect AWS Elasticsearch?"
I want to use AWS Elasticsearch service.
But I'm not sure that my config in the initializers folder work:

[code]

Anyone can help me review?

[2017-05-27 19:50] chadfurman commented on #606
This issue is present in the source I pulled following the tutorial here:https://documentation.wazuh.com/1.1/ossec_elk_elasticsearch.html#ossec-elk-elasticsearch

[2017-06-01 10:23] erdemgezer commented on #716
@hanhdt have you found anything useful about this?

[2017-06-01 10:28] hanhdt commented on #716
Yes, it works for me with AWS Elasticsearch.

Please refer to the elasticsearch-transport library documentation for all the configuration options,

Thanks.

[2017-06-01 10:32] erdemgezer commented on #716
@hanhdt thanks!

[2017-06-01 13:16] anuj-verma commented on #710
Hi @admin-it

I looked into this issue. The problem is with your as_indexed_json method in Product Model.
If you want to search for fields of associated models, then you must index their fields in Product Model's elastic-search index.
You can refer below code:
[code]
As you can see above I have included both `NormalModel` and `NormalBrand` fields in Product Model's Index.

Then in your search meth

[2017-06-01 22:20] admin-it commented on #710
Thanks for looking into this! I still can't search the normal_model.name and normal_model.normal_brand.name fields as soon as I override the self.search method. My own implementation doesn't work and neither does the one you provided. When I don't override the search method, then I am able to search the desired columns in the tables, but as soon as I override the search method the only column I ca

[2017-06-02 04:12] anuj-verma commented on #710
Hi @admin-it
Please provide a sample of your elastic-search index json and the version of elastic-search and elastic-search gems you are using.
I will test this scenario in your version of elastic-search.

[2017-06-05 12:39] jordan-brough opened #718 "IndexAlreadyExistsException during tests while recreating index"
The following code from v2.0.1 of elasticsearch-rails does not seem to work 100% reliably for me in my specs.

The problem happens sporadically (rarely) during a call to:
[code]
The code from elasticsearch-model that is failing is:
[code]
See the code comment above ^

How could that error happen since the code checks for index existence on the previous line?

The full error is:
[code]
With this ba

[2017-06-05 12:46] prikha commented on #234
Hi guys(@sgringwe, @karmi ) , surprisingly, there is so much on reindexing, and no one asks about working time-based indices? Maybe you can point me to the right direction?

it is general practice to have time-based indices like this:

[code]

and aliases:

[code]

For now it seems like we cannot do this with the repository/model abstraction out of the box . What do you think is the right way here

[2017-06-07 16:20] admin-it commented on #710
@anuj-verma Thank you for looking into this.

When I run bundle install, here are the gems that are installed related to elasticsearch.

    Using elasticsearch-rails 5.0.0
    Using elasticsearch-api 5.0.4
    Using elasticsearch-transport 5.0.4
    Using elasticsearch 5.0.4
    Using elasticsearch-model 5.0.0

My gemfile: (I am also using Kaminari for pagination)

    #elastic search
    gem 'el

[2017-06-09 11:51] zauzaj commented on #709
Hi @karmi,
I solved it on different way, as non of the above suggestions not fully matched our requirements. So what I did are 4 diff strategies for 4 diff sections ( which make query to ES accordingly) and then using ruby have recursive function which call those sections.
Also I've implemented our custom pagination for those sections, so before calling next section we check if there is already 20

[2017-06-13 05:52] #716 closed

[2017-06-13 13:03] RonaldKlaus opened #719 "`Scope#import` with `options[:preprocess]` throws exception when preprocessed data returns empty"
Hej!

I have a model `person` and I want to import all `published` people. All not yet published people will be rejected from the `batch` in the `preprocess`. So it is possible, that all items will be removed from the `batch` and I am sending an empty `batch`.  That will throw the following exception:

[code]

I think the behavior should be like `import` empty scoped data.

[2017-06-15 11:57] henrikholm89 opened #721 "Updating `as_indexed_json` on after commit update callback"
I am not sure if it is a bug or intentional.

However, whenever `__elasticsearch__.update_document` gets triggered, it makes the following call to elasticsearch: `http://localhost:9200/development_users/user/8064/_update`

And this does not seen to trigger the `as_indexed_json` method?
At least, the following methods on my model/document is not getting updated:

[code]

However, when I call the `_

[2017-06-15 16:17] emilia-friedberg opened #722 "Total count not updating when document gets deleted"
Hi, I'm having a problem where calling .total_count on the records that elasticsearch returns will not diminish when I delete an existing document from the index. It does, however, increment when I add a document. Am I missing something here? Is there another way to get the number of extant records that I have?

[2017-06-20 01:09] keferboeck opened #724 "Geo_point does not get update, but works on create."
Hi, I opened this issue today:

[https://stackoverflow.com/questions/44631151/elasticsearch-rails-elasticsearch-5-4-geopoint-not-updating](https://stackoverflow.com/questions/44631151/elasticsearch-rails-elasticsearch-5-4-geopoint-not-updating)

I run a few more tests in the console, just to confirm the issue is not with my code. Everything gets updated and works as expected. The problem is that g

[2017-06-20 06:05] victor-cruz opened #725 "Query string on multiple indexes with fields by index"
Hi all!

Wanted to check if is possible to do a query string search (or multi match search) on multiple indexes but specifying on which field of each index to search. Let me explain with a sample:

[code]

I'm upgrading from ElasticSearch 1.7 to 5.4. Query with fields ```['user.name^2', 'animal.description']``` works on 1.7 but not working on 5.4.

Thanks in advance!

[2017-06-27 19:41] twigbranch opened #726 "[Persistence] No updated_at or created_at added to mapping of nested objects"
Elasticsearch-rails persistence adds updated_at and created_at timestamps to the mappings of a model.  It appears it does not add them to the mappings of nested objects in a given model, though it does add them as virtus attributes to the nested objects -- shouldn't it add them to the mappings, as well?

[2017-06-27 23:38] eggie5 commented on #313
same issue on rails 5 ruby 2.2.5

[2017-06-28 19:45] ctrlaltdylan commented on #76
@karmi is it possible to have `each_with_hit` return an instance of `Elasticsearch::Model::Response::Response` instead of an Array? This method is doing exactly what I need it to do without adding a script_field but returning an Array breaks all of the built in pagination awesomeness.

[2017-07-04 12:39] neyp commented on #490
So, is it possible to define `_id` in the `indexable_json` block? I can't access the url above.

[2017-07-05 17:06] pablosky commented on #682
Am having the same issue i runned the code

root@8eddeea39b20:/home/app/webapp# bundle exec rspec --format documentation tmp/rspec_example.rb
-- create_table(:companies)
   -> 0.0013s

Company
  updating the index
I, [2017-07-05T17:04:46.151099 #11690]  INFO -- : DELETE http://crm-assistant-es:9200/companies [status:404, request:0.002s, query:N/A]
D, [2017-07-05T17:04:46.151180 #11690] DEBUG -- :

[2017-07-07 16:46] pablosky commented on #682
I added a sleep of 5 seconds and tests started passing, maybe you could try that

[2017-07-08 10:08] quorak opened #729 "stack level too deep with inheritance_enabled when acessing __elasticsearch__.index_name"
hey there,

thanks for the great gem.
just followed your docs and came across the folowwing issue when working with inheritance in my rails models.
With the default settings
```Ticket::EmailTicket.__elasticsearch__.index_name```
return me the correct index name `ticket-email_tickets` but when ```Elasticsearch::Model.settings[:inheritance_enabled] = true```
I get a

	from /usr/local/lib/ruby/2.0.0/

[2017-07-12 18:42] pacuna commented on #258
I had the same issue with MySQL. I was applying a random score function and it was being ignored. I added to_a and then it worked.

[2017-07-13 09:25] twigbranch opened #730 "Ingest pipeline examples!"
Are there any examples showing creation of an ingest pipeline?

[2017-07-17 16:32] karmi commented on #730
Not at the moment, but I think those would probably go to the https://github.com/elastic/elasticsearch-ruby first, in this repo, it would have to be somehow Rails specific...

[2017-07-17 18:33] Meekohi commented on #178
I'm having this issue as well -- in my case just have a small derived field to put geo-coordinates in the right format

[code]
, but even when lat/lon are updated correctly `geo` is not being updated. Seems like this is what #182 is trying to address. In the meantime, trying to understand how to force this at the right times. Any suggestions?

[2017-07-17 18:40] Meekohi commented on #724
I think this is related to https://github.com/elastic/elasticsearch-rails/pull/182 (trying to understand how this works exactly myself...)

[2017-07-17 18:45] Meekohi commented on #195
For anyone else searching -- As @wielinde points out, I don't think this issue is actually resolved by #166.

#182 looks like the new place to track the issue.

[2017-07-18 08:35] zauzaj commented on #709
@karmi I think we can close this one as I done with it! Thanks a lot for your help&suggestions !

[2017-07-18 08:35] #709 closed

[2017-07-21 20:50] fbarriosCL commented on #338
+1 Hi, I have the same problem(elasticsearch-persistence + kaminari), I will try with the solution of @amal007 🤞

[2017-07-31 21:37] eduzera commented on #724
@keferboeck i had the same situation

so i found one possible solution: The idea is after you update with `save` or `update_attributes` method, force index again, like:

[code]

[2017-08-01 12:14] tostasqb commented on #313
Same here
[code]
Open a different issue?

[2017-08-01 15:03] Meekohi commented on #724
@eduzera indeed, my own solution is to add this as a callback after any update:

[code]

so it re-indexes the entire object. Ideally we would have a solution like proposed in #182 that handles "partial updates" correctly even for derived attributes.

[2017-08-02 11:26] henrikholm89 commented on #710
@admin-it Have you tried downgrading to 2.0?

I have had similar issues after I upgraded from 2.0 to 5.0.

[2017-08-03 18:58] henrikholm89 commented on #725
@victor-cruz You managed to fix this problem?

And btw, is it only behaving this way when you upgraded the ES cluster from 2.x to 5.x, or also if you are only upgrading the elasticsearch gem 5.x, while still using an ES 2.x cluster?

[2017-08-04 22:00] cannonmoyer opened #734 "Synonyms not working"
I need to set a synonym for my product name field (eventually several of my fields) that allows the user to see the same search results if they type in "roller" or "wheel". I've been working on the code below all day and cannot get this to work. The search does return results when I search for "roller" (because I have products named "roller", but returns no results when I search for "wheel". I hav

[2017-08-05 07:15] karmi commented on #734
The `synonym` analyzer is set only for the name field, can you use the "Match" or "Multi Match" query instead of the "Query String" query — the latter should be avoided in general?

Also, are you familiar with the ["Analyze"](http://www.rubydoc.info/gems/elasticsearch-api/Elasticsearch/API/Indices/Actions#analyze-instance_method) API? It should allow you to debug the analysis process much faster t

[2017-08-07 14:35] cannonmoyer commented on #734
Thanks for the help. I changed the query_string to multi_match and everything started working as expected.  Thanks again!

[2017-08-07 14:35] #734 closed

[2017-08-07 15:18] Hirurg103 opened #735 "ArgumentError: comparison of NilClass with 7 failed"
Environment:
elasticsearch: v1.6.2
gem elasticsearch-rails: d6e534c7b3ae
rails: 4.2.1

Backtrace:
[code]

Steps to reproduce:
1. Add `sleep 10` in elasticsearch-model/lib/elasticsearch/model/adapters/active_record.rb:17 to make the following steps more stable
2. Perform search `records = Model.search(criteria).records.records`
3. Create new record matching the search criteria
4. Wait until `sleep

[2017-08-09 03:24] arturtr commented on #657
@bublik what about this?
https://www.elastic.co/guide/en/elasticsearch/reference/current/suggester-context.html

[2017-08-14 12:07] phlegx commented on #681
Hi! Do this work also if I use `Elasticsearch::Persistence::Model` like described here: [elasticsearch-persistence#the-activerecord-pattern](https://github.com/elastic/elasticsearch-rails/tree/master/elasticsearch-persistence#the-activerecord-pattern)?

[2017-08-16 18:33] postmodem commented on #603
Having this fix merged would be very beneficial to me as well. Any word on merging?

[2017-08-17 15:48] victor-cruz commented on #725
@henrikholm89 not solved yet. I've upgraded both ES cluster and gem, because if I'm not wrong elasticsearch gem 5.x requires ES cluster 5.x in terms of compatibility.

[2017-08-18 06:07] jkeam commented on #714
Ya, you can see the approach I took here:

https://github.com/jkeam/elasticsearch-rails/commit/e3a764b28a48c197d0167cd17bf2e4588434bddf

[2017-08-18 14:27] admin-it commented on #710
@henrikholm89 I have not done this yet

[2017-08-22 15:55] loganh0522 opened #736 "ERROR: Routing_missing_exception - Parent-Child Relationship"
Hi, I have been trying to set up a parent-child relationship in ES for a while now and have thoroughly searched through issues, and documentation to set-up this relationship. I have referred to the [Integration Test](https://github.com/elastic/elasticsearch-rails/blob/master/elasticsearch-model/test/integration/active_record_associations_parent_child_test.rb), and this issue seems to be most simil

[2017-08-28 19:37] admin-it commented on #710
@karmi  Can you please look into this? I've been able to get things to pretty much work how I need them to with query_string, but with multi_match I cannot get this to work.

[2017-08-29 14:41] janraasch commented on #714
From my point of view @jkeam's code looks fine. @jkeam, could you open a pr so this can be discussed with the maintainers of this gem?

[2017-08-29 15:07] jkeam commented on #714
Good call.  Opening a PR now.

[2017-08-30 14:43] admin-it commented on #577
Same problem

[2017-08-31 09:16] Mathiou04 commented on #238
Hi,
I am using ```elasticsearch-persistence (5.0.1)``` but cannot find a way to instrument it in my development environment.  I tried to ```require 'elasticsearch/rails/instrumentation'``` in my application.rb file but this does not seem to work as I do not see any more log in my rails console.
I suppose I could make it work by overloading the ```client``` using option ```log: true``` in my model

[2017-08-31 19:08] admin-it commented on #710
I've made a little progress but I'm still having issues. Please reference this stackoverflow question.
https://stackoverflow.com/questions/45986946/elasticsearch-cannot-search-nested-field-with-multi-match

[2017-09-01 02:18] andrba commented on #725
Looks like type prefixes are removed since ES v2.0: https://www.elastic.co/guide/en/elasticsearch/reference/2.0/breaking_20_mapping_changes.html#_type_name_prefix_removed

[2017-09-06 20:54] harunsmrkovic opened #739 "7"

[2017-09-06 20:54] #739 closed

[2017-09-07 14:49] #443 closed

[2017-09-10 16:36] neeklamy opened #740 "Easyish fix: 02-pretty.rb fails at kaminari:views"
[Kaminari 1.0.1](https://github.com/kaminari/kaminari/releases/tag/v1.0.1) has a problem with its view generator, this trips up the `02-pretty.rb` template:

[code]

Thankfully this has been fixed on Kaminari HEAD, it just hasn’t made it to a release yet, kaminari/kaminari#912

In the meantime, either `02-pretty.rb` or the `Gemfile` can be updated to point directly to the Kiminari commit:

    gem

[2017-09-13 22:08] calvinchso opened #741 "Custom analyzer for multi-value field seems not working?"
Hi,

I have the following block of code in AR and my goal is to be able to find any document with the tags "running", "runs" by using the search keyword "run".

With the following code, if I have "running runs" in "description" field (single value), using "run" as the search keyword (against "description" field") works fine and I'm able to find the documents with description having "running" or "r

[2017-09-20 21:40] calvinchso commented on #741
Nevermind. I think it's caused by something else and it's not related to this gem.

[2017-09-20 21:40] #741 closed

[2017-09-22 02:12] atcoco commented on #25
Hello!

I have some issues with AWS. I have installed and configured perfectly about apache2 and passenger.  But this times out to the deployment app on AWS. So I tried to deploy sample project. As a result it worked. Only My real project doesn't work.  I need your help! :)

[2017-09-22 03:54] pathbox opened #742 "Randomizing Hosts vs round-robin"
Hi,
    I read the document  http://www.rubydoc.info/gems/elasticsearch-transport, and I am confused about the Randomizing Hosts。 My Rails application does not config the `randomize_hosts: true`, so it use the default configuration `round-robin`, isn't right? I have five elasticsearch services, I check the newrelic external services, it shows that my Rails application accesses the five elasticsear

[2017-10-01 06:46] anuj-verma commented on #722
Hi @emilia-friedberg .
As per docs, there is a slight latency (normally one second) from the time you index a document until the time it becomes searchable (in your case you are checking only the count).
Can you please elaborate a little more on this. Please list down the steps you are performing and then I will surely help you out. Thanks.

[2017-10-03 08:42] dim0627 opened #743 "Sometime `@__changed_attributes` have {} value."
[code]

ActiveRecord's `update_attributes` does return `{}` from `instance.changes` when don't have changed record.

`update_attribute` runs below.

[code]

`update_attributes` runs below.

[code]

This behavior affects `def update_document(options={})` method.

https://github.com/elastic/elasticsearch-rails/blob/5.x/elasticsearch-model/lib/elasticsearch/model/indexing.rb#L394

`if changed_attribu

[2017-10-05 12:32] zauzaj opened #744 "Bulk issue - request timed out"
Hi,

I have observer which update elasticsearch according to changes on our app:

[code]
And everything worked just fine but now I've noticed that Sidekiq thrown an error:
[code]
Seems like it fails on this line in SidekiqWorker `Staff.__elasticsearch__.client.bulk`

Last what we did is upgrading Redis to 3 but on my local machine I've already used such version and everything works just fine !

An

[2017-10-05 19:10] lostapathy opened #745 "Please re-enable travis-ci builds"
Could we re-enable travis-ci builds for this project?  There's a .travis.yml in the repo and issue #183 talks about it being turned on in the past.

I've run into some issues with these gems that I'd like to fix and PR upstream, but I'm also finding that time has taken it's toll on some of the scripts and the dev/test infrastructure doesn't run out of the box on a fresh checkout.  I'm in the proce

[2017-10-05 19:15] lostapathy opened #746 "Rails 3 support in tests?"
Related to #745, I'm working on fixing up the dev/test/build scripts and there appears to be a lot of issues with the rails 3 builds.  Since rails 3.2 has been EOL for some time now, is there any opposition to just dropping those rather than fixing them?

Similarly, would there be any opposition to a PR that converted the current test infrastructure to something based on the [Appraisal gem?](https

[2017-10-08 09:41] karmi commented on #722
Hello, @anuj-verma is correct — any write operation is reflected only after a delay. To "force" the refresh of the index, either use the `:refresh` parameter to the write operations or call the "Index Refresh" API, but note that this can have significant performance implications.

[2017-10-09 16:42] lostapathy commented on #745
Apologies - I must have mixed this up when looking for it on travis.  Put in PR to add link as #747

[2017-10-09 16:42] #745 closed

[2017-10-10 13:50] lostapathy commented on #645
At @bhushangahire did that take care of the issue for you, and if not can you provide a little larger snippet of an example of how you're using the library?

[2017-10-10 14:11] bhushangahire commented on #645
Yes, I used similar DSL but we built custom code to build DSL dynamically.

[2017-10-10 14:40] lostapathy commented on #645
Great!  Is there anything else you need or can you close this issue?

[2017-10-10 15:00] #645 closed

[2017-10-11 13:20] webattitude commented on #10
Hi, what about single model, but multiple time-based indices ?

[2017-10-11 13:38] webattitude commented on #10
is wildcard index_name allowed ?

[2017-10-12 12:13] bolshakov opened #749 "elasticsearch/rails/lograge broke my custom lograge options"
My application.rb file:

[code]

Since engine from `elasticsearch/rails/lograge` loads after my `application.rb`, it overrides `config.lograge.custom_options` and my configuration has no effect.

[2017-10-15 01:28] arcutright opened #751 "lib/rails/templates/01-basic.rb missing requirement"
I'm not sure what environment you're testing under, but I had to add a `require 'json'` to run this file since you were making use of the JSON gem.
Specifically, my runtime error was
[code]

[2017-10-17 12:01] k-rudy commented on #450
+1 guys, the issue seems to be there for a long time already and is pretty important, could you please update us if anyone is working on that and what's the ETA for the fix.

[2017-10-17 18:09] hfenton commented on #675
@karmi You mentioned deprecating the ActiveRecord pattern

Will this pattern be deprecated? If so, do you have a timeline?

I have already implemented my feature in the ActiveRecord pattern and am wondering if I should change patterns now or am I ok to continue.

[2017-11-06 22:01] Geesu opened #752 "Painless script error is being ignored and only an empty result is returned"
I ran into an issue when upgrading from Elasticsearch 2.4 to 5.6. After converting my script to painless I thought I was good to go. No errors were being thrown. But then my tests failed.

When looking into it, calling `model.__elasticsearch__.search(query).records.to_a` (or `results.to`) would yield an empty result.

This didn't make much sense. If I ran the exact same `query` via curl, I was pre

[2017-11-07 14:47] karmi commented on #752
Hi, what is the HTTP status returned from Elasticsearch? If it's [anything above 299](https://github.com/elastic/elasticsearch-ruby/blob/master/elasticsearch-transport/lib/elasticsearch/transport/transport/base.rb#L267) it should definitely raise a Ruby exception...

[2017-11-08 09:23] mwoskowicz opened #753 "after_touch on nested model seems to trigger indexing before actual value is changed"
[code]
Let's say I can update _ProjectRow's stage_ value to three attributes = ["A,"B","C"].
If I update from A to B, still **A** is indexed. Then, if I update from B to C, **B is indexed**. From C to A, **C is indexed** etc.
It seems like the update takes place one iteration too late. Am I doing something wrong?

[2017-11-08 20:39] lostapathy commented on #746
Closing this, PR is on #754

[2017-11-08 20:39] #746 closed

[2017-11-09 11:06] nerfologist commented on #221
Hello, I might be missing something here but the following continues to fail due to `includes` returning a plain `ActiveRecord::Relation`:

[code]

[2017-11-11 13:37] mwoskowicz commented on #753
It turned out that after_touch _as_indexed_json_ was not changed, so I had to do person.reload, before doing person.update_document

[2017-11-12 20:30] lostapathy commented on #439
One thing I've done to simplify this is to use an ActiveSupport::Concern, such as:

[code]
and then inside each indexed model

[code]

That at least centralizes the naming logic and reduces how much it leaks into your models.

Did you have any other questions or can this be closed?

[2017-11-16 01:37] martinemde commented on #161
@karmi I submitted a partial fix for this in #755. Hopefully it can address some of the concerns in this thread.

[2017-11-16 12:29] peter-hank opened #756 "ES 6.x support"
Does the gem support Elasticsearch 6.x? If not, do you plan to support it anytime soon?

[2017-11-16 14:07] karmi commented on #756
Hi @peter-hank, the libraries should _in general_ support Elasticsearch 6.x, but it might require some additional configuration, namely when it comes to [removal of types](https://www.elastic.co/guide/en/elasticsearch/reference/6.x/removal-of-types.html). Eg. the `elasticsearch-model` in the default configuration will try to use multiple types per model class, so a user configuration which makes i

[2017-11-18 16:49] abdomazzika opened #757 "building a custom query"
When i try to extend the QueryBuilder::Base to add my own cutomization  i got uninitialized constant QueryBuilder ??

[2017-11-18 17:01] #757 closed

[2017-11-22 16:49] psylone commented on #751
Here's a related [PR](https://github.com/elastic/elasticsearch-rails/pull/733).

[2017-12-04 17:14] karmi commented on #714
Hi all, and especially @davedash, please accept my apologies for not solving this problem sooner.

I've spent some time with @jkeam's and @Geesu's patches, and I think we have a solution in 7815039 which solves the problem with Rails 5.1 and keeps the compatibility with older Rails versions.

I'll close this issue for now, if it's OK, can you please re-open or open a new one if the problem persist

[2017-12-04 17:14] #714 closed

[2017-12-04 17:41] davedash commented on #714
@karmi Thanks for fixing this.  We ended up running into a lot of little issues in general (not just ES related) when trying to upgrade to 5.1 for our project, that we just settled for 5.0.x.  But I'm glad that this won't be a blocker.

[2017-12-04 17:43] jkeam commented on #714
Agreed, thanks so much @karmi and everyone else that helped with this issue.

[2017-12-04 20:02] karmi commented on #714
Thanks for the info, @davedash, and good luck with the upgrade!

[2017-12-06 09:08] sly7-7 commented on #756
@karmi In order to test this, I guess I must use the master branch ? (Also, maybe you want some help to update the tests and examples ?)

[2017-12-06 18:36] uri opened #759 "Is it possible to reduce Ruby memory usage when running an `import`"
For example when running `MyModel.import(force: true)` in a Rails console, I'm seeing the Ruby process climb to almost 2GB in memory usage.

[2017-12-06 22:04] wisetara opened #760 "Deprecation Warning - Rails 5.1 - nothing"
I would happily submit a PR for this if I could track it down, but I haven't been able to do so.

This [line](https://github.com/elastic/elasticsearch-rails/blob/master/elasticsearch-rails/lib/elasticsearch/rails/instrumentation/controller_runtime.rb#L20) is causing a deprecation warning: `DEPRECATION WARNING: `:nothing` option is deprecated and will be removed in Rails 5.1. Use `head` method to r

[2017-12-14 01:29] nrvakil opened #761 "Failed to parse value [not_analyzed] as only [true] or [false] are allowed."
I get the following error:

[code]

Model: (ploymorphic)

[code]

Am am I doing something wrong? Or some syntax has changed again? Please help. Thanks.

[2017-12-14 19:03] nilbus commented on #740
👍 Good find. As you said, this was broken until kaminari released [1.1.0](https://github.com/kaminari/kaminari/releases/tag/v1.1.0). Since elasticsearch-rails doesn't specify a specific version, it pulls the latest, and applying the `02-pretty.rb` template works again now.

This issue can be closed.

[2017-12-14 20:52] nilbus commented on #743
BTW, the line number to the referenced line has changed in the 5.x branch. Here's a permalink: https://github.com/elastic/elasticsearch-rails/blob/d8859aed2aa75c93840b763d70e8fce8ce7761ff/elasticsearch-model/lib/elasticsearch/model/indexing.rb#L394

---

The behavior you see happens because `update_attribute` [does nothing][] when there are no changes to save, thus bypassing the `before_save` filt

[2017-12-18 14:02] Vandalisk opened #765 "Geo point parameter ignore_malformed in v. 2.4.5 doesn't work."
I've tried to use `ignore_malformed` parameter with geo_point in my project, but it couldn't work with `location: {}`
I even tried `lat_lon` parameter, as suggested [here](https://gist.github.com/hkorte/9936192) , but this couldn't work either. After some picking, one of the options `"location": null` worked for me. Is it worth repairing this issue?

[2017-12-20 09:08] bkazez commented on #161
I'm still seeing large performance issues due to `Hashie::Mash` - see below. What is the recommended workaround?

<img width="800" alt="screen shot 2017-12-20 at 01 06 49" src="https://user-images.githubusercontent.com/64005/34199285-262c9cca-e522-11e7-98d5-1669712f02e9.png">

[2017-12-22 16:18] nilbus commented on #760
Here's a link to the Rails source where you can find the deprecation message you reported: [rails/rails@5-0-stable:…/rendering.rb#L102](https://github.com/rails/rails/blob/a02a8d72de5a04b5e0504067083ec1d043b62c5f/actionpack/lib/action_controller/metal/rendering.rb#L86-L102)

Looking at the lines around it, you'll see that this is the code handling options to `render` calls in controller actions, a

[2017-12-22 19:37] nilbus commented on #761
@nrvakil Yes, the syntax [changed in elasticsearch 5.0][1]. The `string` type has been replaced by the `text` (analyzed) and `keyword` (not analyzed) types. You're specifying the `text` type, but `keyword` is what you want for no analysis.

[1]: https://www.elastic.co/guide/en/elasticsearch/reference/5.0/breaking_50_mapping_changes.html#_literal_string_literal_fields_replaced_by_literal_text_liter

[2017-12-23 06:27] nrvakil commented on #761
That did it. Thanks @nilbus .

[2017-12-23 06:27] #761 closed

[2017-12-23 17:57] nilbus commented on #759
I haven't tried to reproduce this yet to do memory analysis, but I do see that it defaults to processing batches of 1000 records at a time. If your model instances consume a lot of memory, you might try decreasing the batch size to see if this helps your memory usage. E.g.:

[code]

Also, roughly how many records are there?

[2017-12-26 01:59] Aesthetikx commented on #756
Just anecdotal evidence, I have been seeing HTTP 406 errors on 6.x, haven't dug into why though.

[code]

[2017-12-26 07:38] Thomastar opened #766 "how sort by shop_level in (aggregation :shop_ids do)"
[code]

[2017-12-26 20:23] martinemde commented on #161
@bkazez I monkeypatched the gem for now to remove the wrapping in a Hashie::Mash. It has made a big difference for me. I also submitted #755 to attempt to deal with it without breaking anything.

btw, here's the monkeypatch we are using in our production app:

[code]

[2017-12-26 21:49] bkazez commented on #161
Thanks so much, this shaved 25% off my search! It's still creating some Hashie::Mashes somehow but this much better. Going to try dropping down to the lower-level ES APIs to see how much that saves.

[2017-12-30 22:26] bkazez opened #767 "Virtus accounts for 45% of view rendering time for large result sets"
See attached performance analysis. Virtus seems to be adding a significant slowdown when processing a result set of 10k smallish documents. Note that the attached is just for rendering a single .erb.html template and does not include time spent querying es or even processing the results.

I am porting legacy code from PHP/MySQL and right now it performs much better on PHP/MySQL (~10x).

Eventually

[2018-01-01 17:54] nilbus commented on #767
solnic/virtus#287 discusses performance in Virtus, which is a little worse in Ruby 1.9, and a _lot_ worse when loading the `binding_of_caller` gem. I'm not sure if you're being affected by these or not, but that's worth looking into.

It is possible to use Virtus without the type coercer, but not [in `Elasticsearch::Persistence::Model`][1] without modifying the gem to use `Virtus.model(coerce: fal

[2018-01-02 18:45] uri commented on #759
There are only ~7000 records of `MyModel` but we are also indexing a relationship which causes us to touch ~430000 records.

I reduced the `batch_size` to `10` and it helped significantly, thanks!

[2018-01-02 18:45] #759 closed

[2018-01-10 23:23] AntoninMarchardDev commented on #567
Hi !
Same issue :
`Elasticsearch::Transport::Transport::Errors::NotFound ([404] {"_index":"travels","_type":"travel","_id":"11","_version":4,"result":"not_found","_shards":{"total":2,"successful":2,"failed":0},"_seq_no":40,"_primary_term":1}):`

Here is my config :
[code]
In the Travel model :
[code]

And when I call `@travel.destroy `, I have the error.
Any help will be appreciate !

[2018-01-13 14:57] tenaz3 commented on #756
How can I have the elasticsearch 6 with elasticsearch-rails 5 ?

[code]

[2018-01-14 02:08] AntoninMarchardDev opened #768 "Elasticsearch::Transport::Transport::Errors::NotFound 404"
There is already an issue https://github.com/elastic/elasticsearch-rails/issues/567, but the status is closed while no solution has been found.
This error occur on `Model.destroy `. In my model I call :

I try using custom callbacks, and using Model::Callbacks, but I still have this issue, in production using Bonsai/Heroku. I've launched :

`sudo heroku run:detached rake environment elasticsearch:

[2018-01-14 10:14] karmi commented on #768
Hi @AntoninMarchardDev, in the code you've posted, the index will be deleted and created each time you update a model, which is not what you want I guess — the `create_index!` call is suitable for some kind of bootstrapping Rake task, in integration tests, and so on.

So I understand from your description that the `delete_document` call results in a `404` error when you delete a record from the da

[2018-01-14 10:36] karmi commented on #756
@tenaz3, so what is exactly the problem with 6 and 5? The `elasticsearch-model` has a [very relaxed dependency](https://github.com/elastic/elasticsearch-rails/blob/master/elasticsearch-model/elasticsearch-model.gemspec#L26) on the Elasticsearch client. I've just generated a new Rails 5, and when added the following to the Gemfile:

[code]

this is what I see after running `bundle install`:

[code]

[2018-01-14 10:37] karmi commented on #756
@Aesthetikx, this would indicate that you're using an older `elasticsearch` gem, can you check that you have upgraded the dependency for `elasticsearch` to something like `~> 6`?

[2018-01-14 14:06] AntoninMarchardDev commented on #768
Hi @karmi !
Thank you for the answer !
I was already calling `log: true`, but right now, I find this Stackoverflow post :
https://stackoverflow.com/questions/35812742/rails-elasticsearch-bonsai-with-heroku-performance-issues

I try using same callback than the question, and it work well, using `begin..rescue `

[2018-01-14 15:54] karmi commented on #768
Hello, I'm wondering why you think the Stackoverflow post is relevant? Again, make sure that you don't call `create_index! force: true` in the `after_touch` callback, or you'd effectively wipe out the entire index on every model change.

[2018-01-16 04:20] jujudellago commented on #608
I'm not sure if this was fixed for ActiveRecord, but I have exactly the same issue with Mongoid

[2018-01-16 13:57] ervinb commented on #365
@chappejw This is a long shot, but I've managed to fix the issue by updating VirtualBox (`5.1.8` -> `5.1.30`).

The bug causes SSL connections to be incorrectly reset ([ticket](https://www.virtualbox.org/ticket/16084)). My error rate before this was around 43% and zero after the update. I've got the hint from [@dploger](https://github.com/puppetlabs/r10k/issues/670) 🍻.

[2018-01-19 05:10] lulessa commented on #756
@karmi Your suggestion works. However, since v5.0.1, `elasticsearch-model` has depended on `'elasticsearch', '~> 5'`.

https://github.com/elastic/elasticsearch-rails/blob/3b6f27d371c848d04488bf77a294fd1ff25929e4/elasticsearch-model/elasticsearch-model.gemspec#L26

Following your suggestion to add this to Gemfile
[code]

Note that it will install `elasticsearch-model` 5.0.0. I suppose this is good

[2018-01-21 21:33] PrimeTimeTran opened #770 ".import(force: true) fails"
I get this error message when trying to import a model using Elasticsearch-rails.
`NoMethodError: undefined method params_encoder' for {"timeout"=>300, :proxy=>nil}:Hash`
`from /Users/Lois/.rvm/gems/ruby-2.4.0/gems/faraday-0.14.0/lib/faraday/request.rb:60:in url'`

`ruby 2.4.0`
`rails 5.1.4`

I'm currently using Elasticsearch
[code]

A suggestion to resolve this would be highly appreciated. I thou

[2018-01-21 22:52] #770 closed

[2018-01-31 23:24] skukx opened #772 "Indexing input for Completion Suggesters"
I currently have a similar mapping to https://github.com/elastic/elasticsearch-rails/blob/master/elasticsearch-model/examples/activerecord_mapping_completion.rb#L20-L25.
[code]

**My question is if there is a way to pass multiple inputs while indexing similar to:**
https://www.elastic.co/guide/en/elasticsearch/reference/current/search-suggesters-completion.html#indexing
[code]

Something like:
[co

[2018-02-03 00:27] #632 closed

[2018-02-05 20:04] surjay commented on #756
Are there any updates on the timeline for this? It looks like master is pointing towards 6.0alpha now?  ES is officially at 6.1.3 as of January.

[2018-02-07 17:50] dngo commented on #306
I in my model I added an aftersave and it fixes the problem. I think this is better than doing it in a controller

after_save :reindex

def reindex
  __elasticsearch__.index_document
end

[2018-02-12 16:38] kaspergrubbe commented on #756
It would be wonderful to have an ETA, are we looking at Q2 or Q3?

[2018-02-12 18:07] toddcesere commented on #187
For the sake of anyone else coming here with this issue and experiencing the side effect of wondering how to best explain any issue: It's hard for me to imagine a clearer example than what @jvenezia posted in the first comment, or a more confusing way to express the problem than the fully working, standalone example from https://github.com/elastic/elasticsearch-rails/issues/187#issuecomment-549636

[2018-02-15 13:58] karmi commented on #756
Right! We are looking at investing some significant effort into the `elasticsearch-rails` family of gems in couple of months, so realistically, Q3 would be the answer here. (Again, please note that the dependencies are very relaxed and the `-rails` gems should be freely mixable with `-ruby` gems, and the main practical issue I see is the configuration for `index_name` and `dcoument_type`, so the g

[2018-02-17 05:42] lulessa commented on #379
`total_pages` missing is still an issue. Related to #208, which has a good descriptive name for this issue, but is closed. #208 should, in fact, be reopened.

[2018-02-22 12:36] victorhazbun commented on #772
Is this an issue? Please close.

[2018-02-22 23:02] pjfitzgibbons opened #773 "#records Elasticsearch::Model::NotImplemented on ActiveRecord 4.2.0 ?"
[code]

[code]

I'm not allowed to give much more context than that.

Any general ideas on why this would be happening?

"Yesterday it worked fine".

Maybe, is there an Elasticsearch::Model method to erase __ALL__ of the indices in the ES server?

Thanks and Kindest Regards,
Peter Fitzgibbons

[2018-02-23 08:51] karmi commented on #773
That's really a weird error. Your `include` directive is all right. The "not implemented" exception is surprising, because the library does a bit of introspection, and picks up an "adapter" for the specific model class, eg. [ActiveRecord](https://github.com/elastic/elasticsearch-rails/blob/master/elasticsearch-model/lib/elasticsearch/model/adapters/active_record.rb).

Can you run [this simple exam

[2018-02-26 14:03] roeltm opened #774 "Can't Retrieve Records from a Search when Using a Custom ID"
When using a custom field as the document id in elasticsearch the basic actions(create/update/delete) are fairly easy to change in the code, e.g.:
[code]

However, when searching and retrieving the `records`, it seems that the _id is always matched with the primary_key and this is not configurable:
https://github.com/elastic/elasticsearch-rails/blob/b6d485748c71a07d064ea2a46a6da82d64a04cd7/elastic

[2018-02-26 21:27] jalberto commented on #756
it doesn't works for elasticsearch-persistence

[code]

[2018-02-27 14:46] karmi commented on #756
@jalberto, that's really strange, can you post your Gemfile (and possibly a Ruby version), so I can run it?

[2018-02-27 17:06] jalberto commented on #756
@karmi

ruby 2.4.1

My Gemfile is quite long but this is the relevant part:

[code]

This is lockfile relevant part with versions set to 5.x:

[code]

[2018-03-06 16:04] exocode opened #777 "Model gets index, but no "indexes" defined"
Is this a feature or a bug.

I have a very basic model, where I try to make a custom index. But it seems that the model gets indexed anyway:  whatever I define: an "indexes" method or not. It indexes when I __dont__ define an index. And wont index if I add an "indexes" method.

My model:
[code]

Without an index defined, I find the alias. With an index defined, I dont find anything

[code]
I also

[2018-03-07 09:01] exocode commented on #777
For completion: So, nested queries should look like this:

[code]

[2018-03-07 09:01] #777 closed

[2018-03-13 15:53] skukx commented on #772
I'll answer this question:
By mapping the `suggest` field as a field of the property, it is not possible to then pass the `input` array when indexing. It is better to create a new property such as `title_suggest`

[2018-03-13 15:53] #772 closed

[2018-03-14 20:09] Oshuma opened #778 "undefined method `total_pages' when using Kaminari"
I know this has been reported before (back in 2014 with #208), but none of the mentioned workarounds fix this issue.

To cover the basics, I do have the `kaminari` gem *before* `elasticsearch-model` and `elasticsearch-rails` in my Gemfile.  ElasticSearch is installed and configured properly, and the `.search()` method does return valid results if no extra scopes are used after the `.records` call.

[2018-03-19 16:54] Oshuma commented on #778
@karmi Can I get an update on this?

[2018-03-19 17:54] Oshuma commented on #778
For what it's worth, I just switched over to will_paginate in that same application and the exact same problem exists with that library.

[2018-03-21 15:31] karmi commented on #778
Hi @Oshuma, this sounds either like a bug in the "wrapper", as you suggest, or some gotcha in the integration between the pagination library and a) `elasticsearch-model` b) `ActiveRecord`. Just to be sure, `Listing.active.page(1).total_pages` does work or no?

I'm afraid I won't have time to properly look into it soon, but we've scheduled some significant effort for May/June this year to pick up t

[2018-03-21 15:40] Oshuma commented on #778
@karmi Yes, `Listing.active.page(1).total_pages` does work and returns a valid value.  If you could point me in the right direction, I could try taking a look at fixing this if I get some time.  I briefly glanced at the code, but nothing really stuck out as being "wrong".

[2018-03-22 14:33] m1neral commented on #774
+1

Need API to normalize `_id` before insertion in SQL.
Frequent case, when `_id`'s are `child:123`, `parent:123` etc

[2018-03-23 14:04] sahadevgd opened #779 "The final mapping would have more than 1 type Error - Intermittent"
I am currently observing the below error. Strangely, it worked for the first time, later on I had to an additional field (Tag) to my data and that was the only change I have done and now i get the mapping error. I was not able to figure out the reason behind it and now when i remove the field i added, I still get this error. ELK version - 6.2.3

`[2018-03-23T06:15:30,271][WARN ][logstash.outputs.e

[2018-04-02 07:25] ravindra9278 opened #781 "is there any way to remove extra fields from the ElasticSearch response?"
[code]

Above you can see that there are some additional fields coming with the response like _index, _type, _score, max_score etc. I have followed ElasticSearch response_filtering guide to remove these fields but it was not working for me. I have also passed the filter_path parameter to the request 0.0.0.0:5000/v4/reports/user.json?filter_path=unique_users,unique_users.user_details.hits.hits._sou

[2018-04-03 20:49] Yi3nz opened #782 "Search returns no data, but with no errors also."
Tried to implement the searchkick with elasticsearch,

Have no errors occurred but when the search button is clicked the table returns no data:
![1](https://user-images.githubusercontent.com/8803860/38273680-84cb3ebc-3784-11e8-9db3-56341b70595b.PNG)
Search
![2](https://user-images.githubusercontent.com/8803860/38273690-87fb532e-3784-11e8-8746-6da975dfb6ca.PNG)
While the server does response
![3](h

[2018-04-04 20:39] blevine opened #783 "Overriding index_name and document_type for all subclasses of a given Model"
I have a model called Node with a number of subclasses. Let's use the subclass Page as an example. We use our own typing schema so I want all Node instances and all subclass instances to be written to the same index using the same document type.

Node includes a concern called Searchable which contains the following:

[code]
This seemed to have worked because when I do `Node.index_name` and `Page.

[2018-04-05 22:44] ctrlaltdylan opened #784 "`Model.import` not respecting `default_scope`"
My model has a `default_scope` like this:

`  default_scope { where(status: 1).where.not(user: nil) }`

However, during searches Elasticsearch will return `response.records` that do not actually respect the scope:

[code]

I ran the query _without_ the `WHERE status = 1` and was able to retrieve the records, so that means that Elasticsearch imported records outside of the defined `default_scope`

[2018-04-06 18:00] pml984 opened #787 "bn vcbnbvbnm"

[2018-04-09 08:56] leifcr commented on #756
This requirement  ``` elasticsearch (~> 5) ``` corresponds to ```elasticsearch (~> 5.0) ``` which will be the same as ```elasticsearch (> 6.0, <=5.0)```

In order to support both 5.x and 6.x, this requirement must be changed to ``` >= 5.0 ```

[2018-04-11 08:28] ravindra9278 commented on #751
Getting same issue

[2018-04-11 19:06] key88sf commented on #672
@guilhermemaranhao How about closing this issue?

[2018-04-11 23:27] #672 closed

[2018-04-11 23:28] guilhermemaranhao commented on #672
Sure!

Sorry.

On Wed, Apr 11, 2018 at 4:06 PM, key88sf <notifications@github.com> wrote:

[2018-04-12 20:55] yuki24 commented on #778
Just checking in since it's been a while since this was reported a few weeks ago. I'm not familiar with `elasticsearch-rails`, so correct me if I'm wrong.

I wonder what happens under the hood when calling `Listing.active.search('bluetooth').page(1).records`. If I understand this correctly, once we call the `search` method then it'll become an `elasticsearch` scope, which is the receiver of the `p

[2018-04-19 01:37] Thomastar opened #788 "how to match the name"
"match": {
              "product_name": {
                "query": "锐科机械 砂边机",
                "operator": "and"
              }

            }

data:
id = 1 product_name = 锐科机械-直线-铣型砂边机-已利生产效率,适合合开复杂的直线曲子面型成沙光

the result
`{
  "took": 4,
  "timed_out": false,
  "_shards": {
    "total": 134,
    "successful": 134,
    "failed": 0
  },
  "hits": {
    "total": 0,
    "max_score": null,
    "hits"

[2018-04-20 18:15] tylercrocker opened #789 "Cannot filter on property fields with ES 6.x"
We've had an ES system set up in the past but with ES 2.4 and when we did that we were able to define fields with custom analyzers on object properties like so:

[code]

And we've set up that custom analyzer here:

[code]

In the past we were then able to run queries like so (my code from Kibana):

[code]

Which worked fine. But we're trying to upgrade our system to use all the latest and greatest

[2018-04-23 17:46] ttrmw opened #790 "Unexpected search behaviour in test"
Ruby 2.4.0/Rails 5.1.4/elasticsearch-model 0.1.9/Elasticsearch 5.3.0

I'm using elasticsearch-model, and manually indexing in my test.

My test looks a little like this:

[code]

however, result comes back nil. If I put a debugger in after the assignment to result, and repeat `result = ModelName.search_with_elasticsearch('reddit.com').records.first`, the record is assigned as expected (!?).

If I

[2018-04-24 14:35] karmi commented on #790
Hi, not sure about how VCR interferes with the test in general, if at all, but it is definitely needed to call the "Refresh" API in order to propagate the changes from your import — force first deletes the index — to the search.

It is strange if it works in isolation, but not as part of the whole test suite, since even if a`setup` somewhere would delete / re-create the index, the `import` and `re

[2018-04-25 07:26] hokuma opened #791 "How to get "sort" value from a searched document?"
I want to use `Search After` feature.
https://www.elastic.co/guide/en/elasticsearch/reference/current/search-request-search-after.html

This feature requires the last searched document `sort` value in next search query, but there is no `sort` accessor in [Model](https://github.com/elastic/elasticsearch-rails/blob/5.x/elasticsearch-persistence/lib/elasticsearch/persistence/model/base.rb)

Is there

[2018-04-25 11:25] karmi commented on #791
Hi @hokuma, when you get search results from `MyModel.search`, the `each_with_hit` method should give you access to the "raw" JSON hits from Elasticsearch, so you should be able to feed it into the `search` method, in order to use the "Search After" feature.

[2018-04-25 11:53] karmi commented on #789
Hi @tylercrocker, thank you for such a detailed explanation. Nothing jumps on me from the code you have attached, so either we're both overlooking something, or the problem is elsewhere. I'm afraid I can't dedicate time to replicate in Ruby code at the moment, but I have couple of suggestions:

1. First, I'd try looking if the analyzer is doing what you expect it to do, by using the `_analyze` API

[2018-04-25 12:30] karmi commented on #729
@blevine , thanks for posting the workaround.

I've seen including the module again in the child classes to fix it as well. Sorry for the silence here, we're scheduling some effort to focus on the `elasticsearch-rails` group of gems again soon.

[2018-04-25 12:32] karmi commented on #756
Sorry for the silence here. @leifcr's suggestion sounds right, would that work for you. As I wrote in the other tickets, I still need to focus on other responsibilities at the moment, but we're planning a significant attention to the `elasticsearch-rails` group of libraries soon.

[2018-04-25 13:17] jalberto commented on #756
@karmi I still need to test that solution, but if it works is good to go.

[2018-04-25 13:28] karmi commented on #756
@jalberto , let me know please. I'll find a time to try a `Gemfile` on my side if it doesn't work.

[2018-04-25 14:16] theresahoeck opened #792 "SystemStackError: stack level too deep (new to elasticsearch)"
### hi

We started to integrate Elastic Search to a Portfolio application.
For our Users and Projects we added ActiveStorrage as a FileUpload.
When importing Project to elasticsearch it works well,
but importing User raises an error and also loads ActiveStorrage::Attachment (look at logs).

<img width="1277" alt="screen shot 2018-04-25 at 16 05 28" src="https://user-images.githubusercontent.com/30

[2018-04-25 15:03] karmi commented on #792
Hi @theresahoeck, I'm afraid I don't have any immediate idea why you're getting the "stack level too deep" error on one model, and not on the other one...

I would suggest to a) remove other integrations from that model, to see if it still happens, and/or b) to remove the `Elasticsearch::Model` specific DSL methods, like `settings`, since they might interfere with another library.

[2018-04-25 15:39] theresahoeck commented on #792
@karmi Thanks a lot for the fast answer!
I just uncommented:
has_one_attached :avatar

then it worked 😄

[2018-04-25 16:50] karmi commented on #792
Hmm, then it somehow clashes with the attachment library, but I don't have any idea why — had a cursory look at the `activestorage` API and it doesn't seem to have an offending method.

For this reason, `elasticsearch-model` supports the [`__elasticsearch__` proxy method](https://github.com/elastic/elasticsearch-rails/tree/master/elasticsearch-model#the-__elasticsearch__-proxy), which you can use

[2018-04-26 08:07] karmi commented on #789
Unless your use case is really specific (eg. limit disk space for big documents, ...), I'm not sure if it's worth it to fine-tune the properties like this. I would just index all the properties, since then you can search/aggregate them, etc.

Yeah, this configuration went through many changes over the versions, right now, you should use the [`enabled`](https://www.elastic.co/guide/en/elasticsearch

[2018-04-26 15:07] tylercrocker commented on #789
@karmi Oh, I forgot to talk about the enabled bit... I actually tried that, but I get an error in ES saying:

[code]

This is using ES 6.2.3 and the gems as:

[code]

"index: false" passes through just fine, but doesn't affect anything.

If what you said about just letting things index by default is fine I guess I won't worry about that for now, but it'd be nice to be able to fine-tune things a li

[2018-04-26 16:38] tylercrocker commented on #789
SOLVED!!!

I finally figured out my problem was with our bulk indexing method. With the old system it worked fine to set up the index for the model and call `.create_index! force: true` once and then you were golden, all subsequently created indexes were created based on that. But with the new system I have to forcefully create EVERY index (we create daily indexes based on the primary one we have.

[2018-04-26 16:38] #789 closed

[2018-04-26 16:55] karmi commented on #789
Ah, nice, thanks for report, @tylercrocker!

(BTW, ["Index Templates"](https://www.elastic.co/guide/en/elasticsearch/reference/6.x/indices-templates.html) help a lot with time-based indices, might be useful to look at it.)

[2018-04-26 16:56] tylercrocker commented on #789
@karmi yeah a coworker literally just told me about that... haha. I'm going to be looking into that once I have time for sure since it's obviously a better way to deal with that.

Thanks for all your help btw!

[2018-04-26 16:58] karmi commented on #789
Not always :) Sometimes the Ruby code is more transparent to understand for everybody on the team, as opposed to "magical" indices :)

You're welcome!

[2018-04-27 09:57] theresahoeck commented on #792
@karmi ,
I have been using `User.import force: true` for importing the index.
So I tried `User.__elasticsearch__.import force: true`.

But there still seems to be an issue with active storage:

<img width="1271" alt="screen shot 2018-04-27 at 11 39 24" src="https://user-images.githubusercontent.com/30858810/39356864-6ccbacc6-4a11-11e8-9c3a-965743bf4df8.png">

Still it was not possible without unco

[2018-04-27 13:35] domangi commented on #792
Just tried to reproduce the errore (without luck)  by doing the following steps:
1) create a new rails app
2) add active_storage and elasticsearch gems
[code]

3) create a model with a single attribute firstname
[code]
4) install active_storage by adding require "active_storage" to config/application.rb and running
[code]

5) Add modules to User Model
[code]

Finally the test from the console

[co

[2018-05-01 13:58] spodlecki commented on #774
+1 here.

I've had to monkey patch around to make the gem work as expected, which is not optimal for obvious reasons. With ElasticSearch 6.x getting rid of multi-type indices, I've had to opt to do a "custom type field" to keep the number of shards down in our clusters. I first tried to keep IDs as-is, but problems quickly reared their heads when IDs started to conflict (e.g. updating the document

[2018-05-02 09:50] Startouf commented on #315
For future readers [this link will bring you directly to the doc](https://github.com/elastic/elasticsearch-rails/tree/master/elasticsearch-persistence#usage)

[2018-05-02 16:17] theresahoeck commented on #792
@domangi thanks for your support.

You uses branch 5.x version for elasticsearch. I should go for that one as well probably.

This is our Gemfile:

[code]

[2018-05-02 17:09] domangi commented on #792
I tried also with ES 6 and with your elasticsearch gem versions but I was not able to reproduce the error.

[2018-05-02 20:58] IvRRimum opened #793 "Mappings are ignored in rails 5"
So I have been trying to make this work for few days now, nothing seems to work.

I have mappings defined in my model:
[code]
But when I do:
[code]

and visit: `http://localhost:9200/podcasts/_search?pretty=true&q=*:*&size=1000`

I see all of the model data poured into the indexes(I need only title, description and user name).

What is the problem here?

[2018-05-03 09:53] #740 closed

[2018-05-04 03:01] bysxiang commented on #793
在模型中定义一个as_indexed_json方法，

`def as_indexed_json(options = {})
    as_json(only: [:id, :parent_id, :name, :barcode])
  end`

[2018-05-04 15:07] justinoue opened #794 "Inconsistent string and text behavior when auto generating indexes"
I have a model, Client.

When running create_index on the model or running import_document on an instance of it for the first time I get different results in my development environment than i do in my test environment.

Both environments should be the same as far as ruby, rails, other gems, postgres, and elasticsearch.

In dev i get proper text indexes with keyword attributes, but in test I get st

[2018-05-04 15:12] justinoue commented on #794
I'm an idiot, my test elasticsearch version wasn't 6 after all.

[2018-05-04 15:12] #794 closed

[2018-05-09 07:55] Startouf commented on #204
Because I was looking for a more detailed example, the following helps me clear my indexes of models implementing `Elacticsearch::Model` in RSpec when I don't want to delete/create the index and mappings each time

[code]

[2018-05-15 07:34] karmi commented on #792
@theresahoeck, hmm hmm, there seems to be some kind of method clash, or some kind of inheritance problem... these are _really_ hard to debug when it's not isolated...

@domangi , many thanks for looking into this!!

[2018-05-15 07:46] karmi commented on #577
Argh, this went under my radar, sorry for the silence, everybody.

The [`search_after`](https://www.elastic.co/guide/en/elasticsearch/reference/master/search-request-search-after.html) is indeed the right way to work around the "result window too large" limit, because it  is something which can be optimized on the Elasticsearch side, as opposed to just increasing the limit, which would potentially

[2018-05-15 07:50] karmi commented on #204
Thanks for the snippet, @Startouf!

[2018-05-15 07:55] karmi commented on #793
Hi @IvRRimum, as @bysxiang suggests above, the `mappings` DSL only _sets up_ the fields in your index with proper types, analyzers, etc. When you need to filter the properties of your model to be indexed, you have to use `as_indexed_json` — have a look at this chapter in the README: https://github.com/elastic/elasticsearch-rails/tree/master/elasticsearch-model#model-serialization

[2018-05-17 02:38] faliev commented on #669
Any updates on this?

[2018-05-17 07:53] pctj101 commented on #756
As a note for the curious, for example this kind of parent-child type does not work:
elasticsearch-model/test/integration/active_record_associations_parent_child_test.rb

Where it says something like:
[code]

This is the kind of document/test which would need to be updated and operate fairly differently than previous ES versions.

In my case, I may need to do a gradual migration between ES vOld an

[2018-05-18 01:11] briansanchez commented on #761
I changed this "preserve_original": 1 to "preserve_original": "True" and worked

                "analysis": {
                    "filter": {
                        "email": {
                            "type": "pattern_capture",
                            "preserve_original": True,
                            "patterns": [
                                "([^@]+)",

[2018-05-18 13:06] pmaksimenko commented on #669
@faliev if your application has STI try to add
[code]
to all your STI models.

[2018-05-18 22:26] #418 closed

[2018-05-18 22:47] jnfeinstein opened #795 "Dirty tracking in `Elasticsearch::Persistence::Model`?"
Is there dirty tracking in `Elasticsearch::Persistence::Model`?  I tried including `ActiveModel::Dirty` but to no avail.  I see it a few times in the documentation for `Elasticsearch::Model` but no actual reference.  As far as I can tell Virtus doesn't have great support for dirty tracking since the assumption is those models are not persisted.

Our ecosystem has multiple clients writing to Elasti

[2018-05-22 14:11] stuaxo commented on #640
You can say this about migrations in general, but I don't think it's an argument against having them.

[2018-05-23 09:32] ttrmw commented on #790
This turned out to be my mistake, the VCR cassette was recorded with a specific ID, but of course the model created in test would not necessarily match, so whilst results were present, records couldn't be rehydrated from them.

[2018-05-23 09:32] #790 closed

[2018-05-25 09:54] solaleye commented on #10
Late to this convo, but really informative!!! Thanks everyone. 👍

[2018-05-26 01:39] spodlecki commented on #577
To follow up here, provided business end of things with the different options and after a bit of discussion, we ended up just upping the limit to an acceptable level (~60k) to cover most of the most viewed content. At the eod, we're still using `from`/`size` -- I'm hoping there is no plans to really remove this entirely?? It'd seem pretty silly in the sense of actual pagination to get rid of somet

[2018-05-30 23:16] camkidman commented on #546
Wanted to comment that I'm running into this issue as well. Doing any kind of `.order` doesn't seem to order the records how I want them. I'll get an example organized and see if I can dig into this too.

[2018-05-31 18:38] camkidman commented on #546
Okay here's my test case so far with a new rails app:

#### Environment

[code]

#### Test Setup

[code]

[code]

Now if I create some models, the index, do an import, and search on them...

[code]

However, if I copy + paste that SQL right into a psql session:

[code]

Am I doing something wrong or is this an issue? I'd be happy to spend some time diving into the problem if it is indeed a problem

[2018-06-04 14:03] patrykk21 commented on #678
I know this issue is old but people browsing for this error might find the following useful.

Use the following payload:

[code]

I was having the same issue because it wasn't converting correctly the object to json. (I was only converting to json the variabile you call "as_indexed_json" but you actually need to convert the whole to json).

[2018-06-05 13:10] yozzz commented on #657
@karmi can you provide some information about using context suggestions?

[2018-06-07 01:37] anlek commented on #497
Any news on this? I'm seeing a similar issue in my code.

[2018-06-08 17:25] ttrmw opened #799 "is_a? doesn't work as expected with multi-model search"
Given a multi model search, the rehydrated records do not return true for `.is_a? RecordClassName` - inspection of `.class.object_id` and `RecordClassName.class.object_id` shows different values.

[2018-06-14 15:19] estolfo commented on #793
Hi @IvRRimum
Has using `as_indexed_json` achieved the functionality you were looking for?
If so, can we close this issue? If not, please let us know how we can help further.
Thanks

[2018-06-14 16:24] #793 closed

[2018-06-15 08:23] estolfo commented on #773
Hi @pjfitzgibbons
Have you been able to resolve this?
If not, would you mind running the simple example linked in the comment above and see if you get the same error?
Thanks

[2018-06-15 08:23] estolfo commented on #787
spam

[2018-06-15 08:23] #787 closed

[2018-06-15 08:38] estolfo commented on #742
Hi @pathbox

The default configuration is `round-robin`, and as you can see [here in the source code](https://github.com/elastic/elasticsearch-ruby/blob/master/elasticsearch-transport/lib/elasticsearch/transport/transport/connections/selector.rb#L51-L56), it will select each node from the list of nodes serially with each request. The other option,`randomize_hosts`, [will call `:choice` or `:sample

[2018-06-15 13:21] estolfo commented on #791
Hi @hokuma
Have you tried to use the raw JSON hits to get the sort value, as suggested in the comment above?
Please let us know if you were able to resolve this and we can close the issue.
Thanks
Emily

[2018-06-15 13:28] estolfo commented on #788
Hi @Thomastar
My initial guess would be that you haven't properly defined the language analyzer.
I would also suggest you direct your question to https://discuss.elastic.co/
Please let us know if you were able to resolve this issue so we can close it or if we can help further.
Thanks

[2018-06-18 09:01] estolfo commented on #742
Great! I'm going to close this issue then.

[2018-06-18 09:01] #742 closed

[2018-06-18 10:07] leifcr commented on #756
PR #797 is missing fixing the parent relationship tests to use join mapping instead of _parent.

[2018-06-20 15:48] estolfo commented on #781
Hi @ravindra9278
Have you been able to resolve your issue? If not, perhaps https://discuss.elastic.co/ would be a good resource for you.

[2018-06-21 14:52] estolfo commented on #765
Hi @Vandalisk
Have you been able to resolve your issue? If not, perhaps https://discuss.elastic.co/ would be a good resource for you.

[2018-06-21 14:57] estolfo commented on #788
Hi @Thomastar
I'm going to close this issue but please open a new one if you have further questions or if you still need assistance on this one.

[2018-06-21 14:57] #788 closed

[2018-06-21 14:58] estolfo commented on #782
Hi @Yi3nz
Have you been able to resolve this issue? Please let us know if you still need assistance.
Emily

[2018-06-21 14:59] estolfo commented on #766
Hi @Thomastar
Have you been able to resolve this or do you still need assistance?

[2018-06-21 15:09] estolfo commented on #791
Hi @hokuma
I'm going to close this issue but feel free to open a new one if you have further questions.
Thanks!

[2018-06-21 15:09] #791 closed

[2018-06-21 15:32] estolfo commented on #768
Hi @andremm
Have you been able to resolve this issue? As mentioned in the above comment, the `#create_index!` call [will delete and recreate the index](https://github.com/elastic/elasticsearch-rails/blob/master/elasticsearch-model/lib/elasticsearch/model/indexing.rb#L222-L237), resulting in a 404 when you try to search for another document. Please let us know if you need further assistance with th

[2018-06-22 01:06] andremm commented on #768
@estolfo by any chance where you trying to reach out to @AntoninMarchardDev ?

[2018-06-22 08:46] estolfo commented on #768
Sorry for the noise @andremm, your name was auto-completed.

[2018-06-22 13:09] andremm commented on #768
No problem @estolfo :)

[2018-06-26 13:37] jcoyne opened #804 "to_param incorrectly returns nil for an unpersisted object"
On an ActiveRecord model (see `User` below), calling `to_param` on an unsaved object returns it's key.  This is part of `ActiveRecord::Integration` however on `Elasticsearch::Persistence::Model` calling `to_param` on an unsaved object returns nil.  It would be nice if `Elasticsearch::Persistence::Model` matched the behavior of `ActiveRecord::Integration`: https://github.com/rails/rails/blob/master

[2018-06-26 15:17] estolfo commented on #782
Hi @Yi3nz
I'm going to close this issue but feel free to open another one if you are still having trouble. Thanks
Emily

[2018-06-26 15:17] #782 closed

[2018-06-26 15:18] estolfo commented on #781
Hi @ravindra9278
I'm going to close this issue but feel free to open another one if you are still having trouble. Thanks
Emily

[2018-06-26 15:18] #781 closed

[2018-06-26 15:23] estolfo commented on #768
Hi @AntoninMarchardDev
I'm going to close this issue but feel free to open another one if you are still having trouble. Thanks
Emily

[2018-06-26 15:23] #768 closed

[2018-06-26 15:23] estolfo commented on #765
Hi @Vandalisk
I'm going to close this issue but feel free to open another one if you are still having trouble. Thanks
Emily

[2018-06-26 15:23] #765 closed

[2018-06-26 15:59] estolfo commented on #766
Hi @Thomastar
I'm going to close this issue but feel free to open another one if you are still having trouble. Thanks!

[2018-06-26 15:59] #766 closed

[2018-06-29 11:22] estolfo commented on #804
Hi @jcoyne

I'm sorry you're running into this inconsistency between `ActiveRecord::Base` and `Elasticsearch::Persistence`'s implementation of the ActiveRecord pattern.

Typically, we would work to fix bugs in the elasticsearch gems but we have plans to deprecate the ActiveRecord pattern (`Elasticsearch::Persistence::Model`) in the next major version, 6.0.

I recommend checking out the [Repository

[2018-06-29 13:40] reneweteling commented on #497
Hey guys,

Im experiencing the same issue, and i have a case to replicate the problem.

1. create a model (User) and link it up to elastic as shown in the docs
2. create the index User.__elasticsearch__.create_index!(force: true)
3. modify the record, User.update(name: 'Joe')

## Error
[code]

But if you index the model
[code]
and then try to update it, its ok, so the gem somehow assumes the model

[2018-06-29 15:06] estolfo commented on #725
Hi @victor-cruz
Have you resolved this? Let me know if I can close this issue.
Thanks

[2018-06-29 15:08] estolfo commented on #726
Hi @twigbranch
We are deprecating the ActiveRecord persistence pattern in favor of the Repository pattern. It's unlikely we'll make any changes to address your issue. That said, do you mind if we close this?
Thanks

[2018-06-29 15:33] estolfo commented on #756
Hi all
We are working towards a 6.x release of the gem in a few weeks. Currently, the work and testing against ES 6.x is in the [6.x branch](https://github.com/elastic/elasticsearch-rails/tree/6.x).

[2018-06-29 15:34] estolfo commented on #730
Hi @twigbranch
Do you mind if we close this issue or do you have further questions?

[2018-06-29 15:35] estolfo commented on #760
Hi @wisetara
Were you able to resolve this? Can we close this issue?
Thanks

[2018-06-29 15:38] estolfo commented on #736
Hi @loganh0522

Were you able to resolve this issue? We've updated the parent-child test [here](https://github.com/elastic/elasticsearch-rails/blob/master/elasticsearch-model/test/integration/active_record_associations_parent_child_test.rb) to work with Elasticsearch 6, for your reference.
Otherwise, I would suggest checking out: https://discuss.elastic.co/

[2018-06-29 20:59] wisetara commented on #760
I wasn't able to resolve it, but it seems like it may not be related to elasticsearch-rails, so go ahead and close. Thank you.

[2018-06-29 23:22] kaspergrubbe commented on #756
@estolfo Please keep this issue open until support for 6.0 is shipped. It will be a nice indicator how things are progressing for everyone interested.

[2018-07-02 17:56] #760 closed

[2018-07-04 07:33] kaspergrubbe commented on #756
@estolfo How come the label for this issue is `waiting-for-user`, what do you need from us to continue?

[2018-07-04 07:44] estolfo commented on #756
Sorry @kaspergrubbe, I put that label when I originally asked if I could close the issue. I'll take that label off now.

[2018-07-04 17:43] fatbeard2 opened #811 "Index name is being set on repository class not instance"
Hey, I've found out some weird behaviour, want to clarify I'm using the gem correctly. Here is the repository I have -

[code]

Now I want to write to a specific index using this repository. So I create a repository and provide an index name in arguments
[code]

Everything seems fine so far. But then I try following code

[code]

Now all repositories that I created before are pointing to a differe

[2018-07-05 10:16] estolfo commented on #811
@fatbeard2 The various settings on a Repository are set at the class-level, so having two instances of the UserRepository with different settings might cause some issues. I would suggest defining two separate classes for your scenario. Please let me know if that works for you. Thanks!

[2018-07-05 11:47] fatbeard2 commented on #811
Ok so I was able to solve the issue using different class, it requires to have extra builder service to actually build this repository with proper index, but it works. Here are some pieces of code that I came up with when trying to find out a working solution.

[code]

But [documentation](https://github.com/elastic/elasticsearch-rails/tree/master/elasticsearch-persistence#a-custom-class) suggests

[2018-07-05 14:50] estolfo commented on #811
Hi @fatbeard2 Thanks for posting the code that worked for you. I think what's best for now is if we keep this issue open so we can investigate if it makes more sense to update the documentation or actual behavior of the Repository mixin.

[2018-07-05 14:53] estolfo commented on #795
Hi @jnfeinstein We have plans to deprecate the ActiveRecord pattern (`Elasticsearch::Persistence::Model`) in the next major version, 6.0.
I recommend checking out the [Repository pattern](https://github.com/elastic/elasticsearch-rails/tree/master/elasticsearch-persistence#the-repository-pattern) in the `Elasticsearch::Persistence` gem, as we will focus our future development efforts there.
If you

[2018-07-06 15:38] estolfo commented on #804
Hi @jcoyne, I'm going to close this issue. Please open a new one if you have further questions. Thanks

[2018-07-06 15:39] estolfo commented on #736
Hi @loganh0522, I'm going to close this issue. Please open a new one if you have further questions. Thanks

[2018-07-06 15:39] #736 closed

[2018-07-06 15:39] estolfo commented on #730
Hi @twigbranch I'm going to close this issue. Please open a new one if you have further questions. Thanks!

[2018-07-06 15:39] #730 closed

[2018-07-06 15:40] estolfo commented on #726
Hi @twigbranch, I'm going to close this issue. Please open a new one if you have further questions.

[2018-07-06 15:40] #726 closed

[2018-07-06 16:01] estolfo commented on #725
Hi @victor-cruz I'm going to close this issue. Please open a new one if you have further questions. Thanks

[2018-07-06 16:01] #725 closed

[2018-07-06 16:07] estolfo commented on #779
Hi @sahadevgd Elasticsearch 6.0 has deprecated support for multiple types in a single index. Please see the notes [here](https://www.elastic.co/guide/en/elasticsearch/reference/current/removal-of-types.html#_schedule_for_removal_of_mapping_types) for the schedule of the removal of mapping types. I would suggest looking at your mapping and adjusting so there is only one type in a single index.

[2018-07-06 16:12] estolfo commented on #773
Hi @pjfitzgibbons I'm going to close this issue. Please open a new one if you have further questions.

[2018-07-06 16:12] #773 closed

[2018-07-06 19:20] jcoyne commented on #804
I am using the repository pattern. But I’d still like the to_param to behave consistently in order to use the rails route helpers.

[2018-07-09 08:52] estolfo commented on #804
Hi @jcoyne, in your example above, you've included the `Elasticsearch::Persistence::Model` module so can you please provide an example using the Repository pattern and what the expected behavior is? I'm reopening this issue so we can continue looking into it. Thanks!

[2018-07-09 08:56] estolfo commented on #713
Hi @BenTalagan, we have plans to deprecate the ActiveRecord pattern (`Elasticsearch::Persistence::Model`) in the next major version, 6.0.
I recommend checking out the [Repository pattern](https://github.com/elastic/elasticsearch-rails/tree/master/elasticsearch-persistence#the-repository-pattern) in the `Elasticsearch::Persistence` gem, as we will focus our future development efforts there.
If you

[2018-07-09 08:56] #713 closed

[2018-07-09 08:57] estolfo commented on #711
Hi @alrooney Is this still an issue? It looks like from the stacktrace it should be reported in the [elasticsearch-ruby project](https://github.com/elastic/elasticsearch-ruby). Let me know if you've found a solution. Thanks

[2018-07-10 08:17] BenTalagan commented on #713
Sure! I approve that orientation since the conceptual bridge between AR and elastic search has its limits. Good luck!

[2018-07-10 08:18] estolfo commented on #713
@BenTalagan I couldn't have said it better myself =)

[2018-07-11 08:47] estolfo commented on #779
@sahadevgd I'm going to close this issue. Please open a new one if you have other questions.

[2018-07-11 08:47] #779 closed

[2018-07-11 08:53] estolfo commented on #792
Hi @theresahoeck Is this still an issue? If so, is there any chance you can provide an isolated example that we can use to try to reproduce it?

[2018-07-11 08:56] estolfo commented on #722
@emilia-friedberg Is this still an issue? Were you able to resolve it by using the `:refresh` parameter (while keeping in mind the performance implications)?

[2018-07-11 08:56] estolfo commented on #712
@raghavendra-prithvi Is this still an issue?

[2018-07-11 08:59] estolfo commented on #721
@henrikholm89 Have you been able to resolve this or is it still an issue?

[2018-07-11 09:00] estolfo commented on #718
@jordan-brough Is this still an issue or have you been able to resolve it?

[2018-07-11 09:01] estolfo commented on #744
@zauzaj Is this still an issue or have you resolved it?

[2018-07-11 09:02] estolfo commented on #701
@captainhaddock29 Have you been able to resolve this or is it still an issue?

[2018-07-11 09:03] estolfo commented on #705
@one0fnine Is this still an issue? Can you please elaborate on what the problem is? Thanks

[2018-07-11 09:05] estolfo commented on #698
I'm going to close this issue because the user has indicated it is resolved.

[2018-07-11 09:05] #698 closed

[2018-07-11 09:07] estolfo commented on #661
This error was due to incompatible versions of Ruby and Rails. Please see this [Stackoverflow post](https://stackoverflow.com/questions/44053672/simple-rails-app-error-cannot-visit-integer).

[2018-07-11 09:07] #661 closed

[2018-07-11 09:13] zauzaj commented on #744
@estolfo Hi, yes I did resolve. It was kind of typo.

I'm closing it now .

[2018-07-11 09:13] #744 closed

[2018-07-11 11:12] jordan-brough commented on #718
I'm no longer working with this code so I'm not sure. Closing.

[2018-07-11 11:12] #718 closed

[2018-07-12 14:19] jcoyne commented on #804
Sure. I'm retrieving an object like this:

[code]

Now, when I want to route to a controller to handle that document using the rails routing helpers I am doing:
[code]

In order to do that latter part, you need to include `Elasticsearch::Persistence::Model` on `Document` so that `Document` will respond to `to_param`, right?

[2018-07-12 15:39] estolfo commented on #410
@nitinstp23 Is this still an issue for you or can we close this? I would recommend not using an attribute `store` on your Product model.

[2018-07-12 15:40] estolfo commented on #275
@mrkaspa Is this still an issue for you? Please let me know if I can close this. Thanks!

[2018-07-12 15:41] estolfo commented on #280
@lorgio Is this still an issue for you? Please let me know if I can close this. Thanks!

[2018-07-12 15:42] estolfo commented on #281
@phawk Is this still an issue for you? Please let me know if I can close this, thanks!

[2018-07-12 15:43] estolfo commented on #324
@alolis Is this still an issue for you? Please let me know if I can close this, thanks!

[2018-07-12 15:44] estolfo commented on #356
@jraczak Is this still an issue for you? Please let me know if I can close this, thanks!

[2018-07-12 15:45] estolfo commented on #350
@Aetherus Is this still an issue for you? Please let me know if I can close this, thanks!

[2018-07-12 15:47] estolfo commented on #365
Hi @krim @chappejw, Is this still an issue for you or can I close this? Let me know, thanks!

[2018-07-12 15:49] estolfo commented on #811
Duplicate of https://github.com/elastic/elasticsearch-rails/issues/385

[2018-07-12 15:51] alolis commented on #324
@estolfo heh, it's been two years since then; we have moved to other platforms/libraries since then but thank you for asking :)

[2018-07-12 15:55] estolfo commented on #324
thanks for letting me know @alolis !

[2018-07-12 15:55] #324 closed

[2018-07-12 16:06] chappejw commented on #365
I am no longer experiencing this issue. I set everything up on a new machine and no problem. I believe my openSSL was replaced by a networking tool and this was the core issue. Go ahead and close.

[2018-07-12 16:48] #280 closed

[2018-07-12 16:49] estolfo commented on #365
Thanks @chappejw for letting me know!

[2018-07-13 10:31] phawk commented on #281
@estolfo I’m not 100% sure, I think it's still an issue, although the version of elasticsearch-rails could well be out of date by now. Worth checking with @colinyoung87 and @chrisarmstrong

[2018-07-13 15:59] jvenezia commented on #187
As you like, never used this gem because of this issue 🙂

[2018-07-16 11:20] nitinstp23 commented on #410
@estolfo It was a long back when I reported this. 😄

_I'm not working with ruby and have no context whether the issue still persists._

You can close this if its not relevant anymore. 👍

[2018-07-16 11:22] estolfo commented on #410
ok, thanks for letting me know @nitinstp23

[2018-07-16 11:22] #410 closed

[2018-07-16 11:23] estolfo commented on #187
thanks @jvenezia

[2018-07-16 11:23] #187 closed

[2018-07-16 13:10] henrikholm89 commented on #721
Yes, I have fixed it on my end, but it is still a bug in the framework I guess.
It is a bit weird that I have to do this

[code]

instead of

[code]

[2018-07-16 14:22] estolfo commented on #350
I'm going to close this. Please open a new issue if you have further questions.

[2018-07-16 14:22] #350 closed

[2018-07-16 14:24] estolfo commented on #275
I'm going to close this, please open a new issue you are still having trouble.

[2018-07-16 14:24] #275 closed

[2018-07-16 14:24] estolfo commented on #281
Hey @colinyoung87 and @chrisarmstrong, is this issue still relevant? Let me know, thanks!

[2018-07-16 14:25] #365 closed

[2018-07-16 14:30] estolfo commented on #505
Hi @charlescui is this issue still relevant or can I close it?

[2018-07-16 14:35] colinyoung87 commented on #281
@estolfo it was so long ago, i'm honestly not sure. Feel free to close it 👍thanks.

[2018-07-17 11:48] estolfo commented on #281
thanks @colinyoung87 for getting back to me.

[2018-07-17 11:48] #281 closed

[2018-07-18 12:37] estolfo commented on #804
@jcoyne I just wanted to check in and see if you could define `#to_param` on the model?

[2018-07-18 12:38] estolfo commented on #792
I'm going to close this, please feel free to open another issue if you have further questions.

[2018-07-18 12:38] #792 closed

[2018-07-18 12:51] estolfo commented on #356
I'm going to close this, feel free to open a new issue if you still have questions.

[2018-07-18 12:51] #356 closed

[2018-07-18 12:52] estolfo commented on #512
I'm going to close this, especially as it references gem version 0.1.7. Please open a new issue if you have further questions.

[2018-07-18 12:52] #512 closed

[2018-07-18 16:12] webhive commented on #571
Any progress on it? Very annoying!

[2018-07-19 19:56] jcoyne commented on #804
Yeah, I can add all that ActiveModel stuff myself. Thanks for following up.

[2018-07-20 09:58] markivancho opened #815 "Pagy support"
Hello, thanks for a great gem. I'm just curious, are you going to add a support for a new pagination gem [Pagy](https://github.com/ddnexus/pagy)?

[2018-07-22 22:17] magedmakled opened #817 "Datetime is not getting saved."
[This issue](https://stackoverflow.com/questions/51468588/elasticsearch-date-invalid-format-too-short) If I created a document from model `save` I get

`Elasticsearch::Transport::Transport::Errors::BadRequest: [400] {"error":{"root_cause":[{"type":"mapper_parsing_exception","reason":"failed to parse [starts_at]"}],"type":"mapper_parsing_exception","reason":"failed to parse [starts_at]","caused_by"

[2018-07-23 11:23] estolfo commented on #817
Hi @magedmakled, in order to help answer your question, can you please share the following:
Whether you are using `Elasticsearch::Persistence::Model`?
How you are creating the mapping for the `starts_at` field in the model (the Ruby code).
The Ruby code where you are trying to create the document in Elasticsearch.
The result of calling `#to_json` on the model instance that you are trying to index

[2018-07-23 13:15] estolfo commented on #505
I'm going to close this issue, please open a new one if you have further questions. Thanks!

[2018-07-23 13:15] #505 closed

[2018-07-23 13:16] estolfo commented on #513
I'm going to close this issue, please open a new one if you have further questions. Thanks!

[2018-07-23 13:16] #513 closed

[2018-07-23 13:16] #804 closed

[2018-07-23 16:06] magedmakled commented on #817
@estolfo updated the question, Thanks

[2018-07-24 13:15] estolfo commented on #817
Hi @magedmakled, The reason you are getting the error is because the String returned from calling `iso8601` on the Datetime doesn't exactly match what you've defined as the date format for the `starts_at` field in the index mapping.
I would recommend instead doing something like this:
[code]
Let me know if that works!

[2018-07-25 11:05] Chiether opened #818 "I was worried about "Use default doc type: _doc""
I was update gems. and I meet some trouble.
(tentatively, I write ```document_type "_doc"``` to ApplicationRecord, now)

$ bundle update
[code]

$ bundle exec rails c
[code]

$ bundle exec rails s  (web-console)
[code]

Sorry, I do not understand it deeply.
Is this behavior as expected?

Rails 5.2.0
ruby 2.5.1p57 (2018-03-29 revision 63029) [x86_64-darwin17]

probably linked to 4d056ed

[2018-07-25 11:44] estolfo commented on #818
Hi @Chiether We have changed the default document type to "_doc", unless you override it with the `document_type` setting. The reason for this change is that the ability to have multiple types in a single index is deprecated and will be removed in Elasticsearch 7. Please see the documentation [here](https://www.elastic.co/guide/en/elasticsearch/reference/master/removal-of-types.html#_schedule_for_

[2018-07-27 03:32] Chiether commented on #818
I understood background. May be I've confusion because branch[elastic:6.x].
Your example is match as I assumed. There is no problem. :)

Thanks @estolfo.

[2018-07-27 03:32] #818 closed

[2018-07-27 11:20] estolfo commented on #818
Great, I'm glad this is resolved. Thanks!

[2018-07-30 13:43] estolfo commented on #817
@magedmakled Did you get a chance to try my suggestion in the previous comment? Let me know, thanks!

[2018-07-30 13:45] estolfo commented on #815
Hi @markivancho, we aren't currently working on adding support but would welcome a pull request, if you'd like to open one.

[2018-07-30 13:51] estolfo commented on #799
@ttrmw Can you please provide a code example? That will make it easier for us to see where the problem is. Thanks

[2018-08-01 11:25] estolfo commented on #811
@fatbeard2 I've opened a [pull request](https://github.com/elastic/elasticsearch-rails/pull/822) against the 6.x branch that changes the way the repository pattern should be used with this gem. With the changes proposed in the pull request, you will avoid the issues that are reported here. Please let me know if you have any feedback, thanks.

[2018-08-01 11:49] TopdiR commented on #497
I have exactly same issue as @reneweteling ! Rails and gems are up to date. Please somebody explain this behavior. Thanks!

[2018-08-02 00:08] jinhucheung opened #823 "keyword field is splited into two types"
Hi elastic,

Thanks for your AMAZING Project.

I'm trying to define the following mappding.

[code]

In prodution env, it defines the following lang_name field

[code]

but In development env,  it defines the following

[code]

How can I make sure that they are consistent?

Versions:

+ rails: 3.2.2

+ elasticsearch: 6.3.1

+ elasticsearch-model: 5.1.0

Thanks a lot

[2018-08-02 07:55] estolfo commented on #823
Hi @jinhucheung did you just create the indexes or was the production index created before when the mapping was defined differently in your Ruby code? Are the versions of Elasticsearch the same in Production and Development?

[2018-08-02 07:57] estolfo commented on #817
I'm going to close this issue. Please open a new one if you have further questions.

[2018-08-02 07:57] #817 closed

[2018-08-02 07:58] estolfo commented on #799
@ttrmw Would it be possible to get a code example so we can help? Thanks

[2018-08-02 09:10] jinhucheung commented on #823
Hi @estolfo,

thanks a lot for your reply

it is sad, the indexes has run on production, and elasticsearch is the same version in the development or production

but I did not find the above production mapping from git

Thanks

[2018-08-02 09:19] estolfo commented on #823
@jinhucheung So have you found the reason for the difference?

[2018-08-03 07:50] leiz-me commented on #421
@karmi
Since this conversation has been done for a while, I wonder if any solution for this by now?

[2018-08-03 14:21] ttrmw commented on #799
Ah apologies, I will put one together this week

[2018-08-03 14:45] estolfo commented on #799
@ttrmw That would be most helpful, thanks!

[2018-08-03 15:57] estolfo commented on #784
@ctrlaltdylan Would [this change](https://github.com/elastic/elasticsearch-rails/pull/414/files#diff-c31364bbef3dfe92e6d34dce8d37775cR66) in a pull request fix the issue you're having?

[2018-08-03 15:59] estolfo commented on #708
@rafaeldioni4 is this still an issue?

[2018-08-03 16:01] estolfo commented on #749
@bolshakov Is this still an issue for you or can we close it?

[2018-08-03 16:30] ctrlaltdylan commented on #784
@estolfo honestly I'm not sure, I haven't looked into the internals much of ElasticSearch, I just wanted to at least report the bug. I'm sure you know better than I if it'll fix the issue!

[2018-08-03 16:31] ctrlaltdylan commented on #784
Also this bug was using the `mysql2` Rails db adapter, not mongo.

[2018-08-03 17:03] ttrmw commented on #799
in a weird turn I now can't repro this either in a SSCE or the affected applications! @victor-cruz, since you :+1:'d this, is there any chance you can reproduce? I'm baffled!

[2018-08-04 12:58] bolshakov commented on #749
@estolfo I tried to fix it here #750, but the build was broken in master. So PR wasn't merged.

[2018-08-06 08:02] estolfo commented on #784
ah, ok. Thanks for letting me know.

[2018-08-06 08:08] estolfo commented on #749
Thanks for the update, @bolshakov

[2018-08-07 13:41] estolfo commented on #823
I'm going to close this issue. Please open a new one if you are still having trouble.

[2018-08-07 13:41] #823 closed

[2018-08-07 14:01] estolfo commented on #721
@henrikholm89 I've tried to reproduce this but am having trouble without a code example. Can you please provide a simple example to demonstrate the issue? Thanks

[2018-08-07 15:05] estolfo commented on #385
same issue as this one: https://github.com/elastic/elasticsearch-rails/issues/811

[2018-08-07 15:08] estolfo commented on #710
@admin-it Is this still an issue or can I close it?

[2018-08-07 15:10] estolfo commented on #811
@fatbeard2 I've opened another [pull request](https://github.com/elastic/elasticsearch-rails/pull/824) to refactor the gem in a different way, in case you want to look at that one as well.

[2018-08-07 15:36] #743 closed

[2018-08-09 13:55] estolfo commented on #161
Hi @bkazez @benjaminbarbe @martinemde I opened [a pull request](https://github.com/elastic/elasticsearch-rails/pull/825) that provides a `#raw_response` accessor on the response objects and that only wraps the response when it's accessed. Does that help with this issue?

[2018-08-13 17:29] adamcrown commented on #721
I am having the same issue and can confirm that the following code works for me, while `Elasticsearch::Model::Callbacks` does not.
[code]

In my case it seems like updates to regular number fields are fine. But updates to `enums` are ignored.

[2018-08-13 19:27] magedmakled commented on #817
Sorry for the late response. That didn't work, I will open a new ticket and write more detailed description

[2018-08-14 07:24] songky opened #826 "Problems when searching by email"
I am using `elasticsearch-model`. If I search by email, the record seems not what I want. I used like this:

`search_records = Model.search(query:{match: {"email": "xxx@gmail.com" }})`

There is only one data in the database, but multiple data are returned, and email also contains other addresses.  Please help, thanks.

[2018-08-14 07:27] estolfo commented on #826
Hi @songky can you please show me an example document in Elasticsearch and the log output for that query when your log level is set at debug? Thanks

[2018-08-14 07:57] songky commented on #826
Hi @estolfo, Thank you for your prompt reply.

This is my model:
[code]
In `Rails console`:

`search_records = MemberLog.search(query:{match:{email:"test_gmail@gmail.com" }})`
`search_records.records.to_a`

This is ES log:

[2018-08-14T15:48:30,782][DEBUG][index.search.slowlog.query] [oE22qCv] [member_logs][0] took[948.4micros], took_millis[0], types[member_log], stats[], search_type[QUERY_THEN_FE

[2018-08-14 11:50] estolfo commented on #826
@songky Can you please confirm what version of ES you are using? Also, can you show the mappings for the member_logs index, the code where you create the object, and the results returned from the query? Thanks

[2018-08-15 01:34] songky commented on #826
@estolfo I am using v5.6.2 . I used `match_phrase` instead of `match`. Now I can check it correctly. Thank you very much.

[2018-08-15 01:34] #826 closed

[2018-08-15 04:57] #436 closed

[2018-08-15 08:57] estolfo commented on #756
Hello, I wanted to let you all know that there are a 6.0.0.pre versions available of the elasticsearch-rails, elasticsearch-model, and elasticsearch-persistence gems, if you'd like to try them out in your testing environments.
Please open a GitHub issue if you'd like to report anything. Thanks!

[2018-08-15 14:33] estolfo commented on #721
@adamcrown Would you mind providing a code example so I can reproduce this and resolve it? Thanks

[2018-08-15 14:54] estolfo commented on #767
@bkazez @nilbus The ActiveRecord persistence pattern (`Elasticsearch::Persistence::Model`) has been deprecated and removed in version 6.0 of the elasticsearch-persistence gem so this issue is no longer relevant. If you don't mind, I'd like to close it.

[2018-08-15 14:56] estolfo commented on #708
I'm going to close this issue. Please open a new one if the problem persists.

[2018-08-15 14:56] #708 closed

[2018-08-15 14:59] estolfo commented on #799
@victor-cruz can you provide a code example? Thanks!

[2018-08-15 15:01] estolfo commented on #811
@fatbeard2, 6.0.0.pre versions are available of elasticsearch-rails, elasticsearch-model, and elasticsearch-persistence. They include a refactor so that this problem should be resolved. Feel free to try it out in your testing environment.

[2018-08-15 15:02] estolfo commented on #385
@MMartyn @JonathanKolnik @dimroc
6.0.0.pre versions are available of elasticsearch-rails, elasticsearch-model, and elasticsearch-persistence. They include a refactor so that this problem should be resolved. Feel free to try it out in your testing environment.

[2018-08-15 15:04] estolfo commented on #712
Closing this issue, please open a new one if the problem persists.

[2018-08-16 09:29] estolfo commented on #767
@bkazez I apologize, my mistake. I must have looked at the last comment and noticed that `Elasticsearch::Persistence::Model` was cited. Is there anything you think the `elasticsearch-persistence` gem can do about this or is the performance issue with the Virtus gem itself?

[2018-08-16 09:40] estolfo commented on #670
I've refactored the `elasticsearch-persistence` gem with `Elasticsearch::Persistence::Repository` and `Elasticsearch::Persistence::Repository::DSL` as mixins. 6.0.0.pre versions of the `elasticsearch-rails`, `elasticsearch-model`, and `elasticsearch-persistence` gems are now available for testing. Please see the [readme](https://github.com/elastic/elasticsearch-rails/tree/master/elasticsearch-pers

[2018-08-16 12:59] estolfo commented on #778
I don't understand what it semantically means to chain pagination-related methods after the query is "handed over" to ActiveRecord. For instance, using this example:

`Listing.active.search('bluetooth').page(1).records.where(auction: false).total_pages`

What do you expect 'total_pages' to refer to? The Elasticsearch query or the ActiveRecord query?

There are two queries to 2 separate data source

[2018-08-16 13:01] #710 closed

[2018-08-16 15:36] bkazez commented on #767
Unfortunately I'm rather new to Rails and the only solution I had was to
remove Virtus entirely. Sorry I can't be of more help right now.

On Thu, Aug 16, 2018 at 10:29 AM, Emily S <notifications@github.com> wrote:

[2018-08-16 16:43] estolfo commented on #784
@ctrlaltdylan I've opened [a pull request](https://github.com/elastic/elasticsearch-rails/pull/827) to address this. Please test it out and let me know if it works ok for you. Thanks!

[2018-08-17 06:49] adamcrown commented on #721
I'd love to, and I probably can at some point. But it won't be for at least a little while. Got a few other high-priority things on my plate right now. But I'll see what I can do. Maybe next week sometime.

[2018-08-17 10:54] estolfo commented on #721
@adamcrown Ok, that'd be great. I'll be able to fix this if I can reproduce it and understand exactly what the expected behavior is. Thanks!

[2018-08-17 11:05] estolfo commented on #767
@bkazez ok, I think the performance issue lies with Virtus, not with the elasticsearch-rails gems. If I'm mistaken, please let me know where you notice a bottleneck or if I can close this issue. Thanks!

[2018-08-17 15:56] estolfo commented on #774
@roeltm @m1neral @spodlecki
I have opened [this PR](https://github.com/elastic/elasticsearch-rails/pull/828) as a proposed implementation of your request. Please take a look, try it out in your testing environments, and let me know what you think. Thanks!

[2018-08-17 19:50] Oshuma commented on #778
@estolfo The issue is that pagination methods are getting "lost" somewhere along the way.  As in, `#total_pages` doesn't exist after chaining AR methods (filtering the results from ES).

[2018-08-23 22:06] bkazez commented on #537
Never mind, turns out I wasn't calling Elasticsearch::Client.new from within the block passed to ConnectionPool::Wrapper.new, so it was always using the same client.

[2018-08-28 19:35] henrikholm89 commented on #721
@estolfo Sorry for the late response.
However, I just looked through some of the other issues and spotted this one #669 which is the exact same issue as I have.
I am still not sure if it is a bug or intentional, as the things that are not getting updated in my case, are not properties on the actually model, but an association.

[2018-08-29 16:33] jazzytomato commented on #546
@camkidman I am having the same problem with those versions

[code]

[2018-08-30 10:15] jazzytomato commented on #546
I noticed that the order will be lost if the call to the method `order` isn't done directly on the records from elastic search.

Because of the monkey patch on `.to_a` here

https://github.com/elastic/elasticsearch-rails/blob/138781992a8a945bd716a83718fc74d54229baa6/elasticsearch-model/lib/elasticsearch/model/adapters/active_record.rb#L25-L37

and here

https://github.com/elastic/elasticsearch-rai

[2018-08-30 11:07] jazzytomato commented on #546
For those using more recents methods of ActiveRecord, calling `.to_a` will fix the problem. Because the monkey patch on `.to_a` is removed but not the one on `.records`.

@camkidman in your test set up, this would fix it: `Thing.search("aaa*", size: 200).records.order(created_at: :desc).to_a.map(&:created_at)`

So there are two issue, one is fairly simple to fix (taking into account `.records` in

[2018-09-04 11:18] estolfo commented on #811
Closing this issue, as the refactor has been merged and a pre gem version is released.

[2018-09-04 11:18] #811 closed

[2018-09-04 11:20] #799 closed, assigned to nobody

[2018-09-04 11:26] estolfo commented on #778
Hi @Oshuma Did you see my above comment? This code:

[code]

actually makes two requests: first it queries Elasticsearch, then it fetches the records from your other datastore using the ids obtained in the Elasticsearch query. It doesn't make sense to apply the pagination to both requests. The pagination should apply to only one. If you want to get the total_pages from the pagination on the Elasti

[2018-09-04 11:27] #767 closed

[2018-09-04 11:29] estolfo commented on #756
I'm pinging this thread again to remind everyone that a 6.0.0.pre version is available for the rails integration gems. Please open an issue if you find any.

[2018-09-05 10:16] estolfo commented on #784
I'm going to close this issue as I've merged in the pull request https://github.com/elastic/elasticsearch-rails/pull/827 testing this issue and showing that the default scope is indeed applied to an import. Please comment or open a new issue if it's not resolved.

[2018-09-05 10:16] #784 closed

[2018-09-05 12:34] estolfo commented on #161
Closing this as I've merged in the pull request https://github.com/elastic/elasticsearch-rails/pull/825. Please comment on this issue if it's not resolved and I'll reopen it and investigate further.

[2018-09-05 12:34] #161 closed

[2018-09-05 13:03] #506 closed

[2018-09-05 13:46] estolfo commented on #506
Closing this as the pull request https://github.com/elastic/elasticsearch-rails/pull/692 was merged.

[2018-09-06 15:48] estolfo commented on #756
6.0.0 of the rails integration gems is released.

[2018-09-06 15:49] estolfo commented on #385
I'm closing this as 6.0.0 is released and it includes a fix for this.

[2018-09-06 15:49] #385 closed

[2018-09-07 10:43] estolfo commented on #450
Please see my comment [here](https://github.com/elastic/elasticsearch-rails/pull/658#issuecomment-419400259). We have deprecated and removed the `ActiveRecord` pattern in the elasticsearch-persistence gem.

[2018-09-07 10:43] #450 closed

[2018-09-07 11:17] #719 closed

[2018-09-07 12:07] estolfo commented on #751
The require line was added in this commit https://github.com/elastic/elasticsearch-rails/commit/e1fc0e6df0b85d2eb65df1dec1459fc1da980dc8
so I will close this.

[2018-09-07 12:07] #751 closed

[2018-09-07 12:13] estolfo commented on #654
This issue is no longer relevant. The repository uses the `#count` api on the client. Please see [this line](https://github.com/elastic/elasticsearch-rails/blob/master/elasticsearch-persistence/lib/elasticsearch/persistence/repository/search.rb#L96).

[2018-09-07 12:13] #654 closed

[2018-09-07 12:14] estolfo commented on #420
I'm going to close this as we've deprecated and removed the ActiveRecord persistence pattern and this issue is no longer relevant.

[2018-09-07 12:14] #420 closed

[2018-09-07 12:17] estolfo commented on #431
I'm going to close this as I doubt it's still relevant, looking at the timestamp. Please comment if it's still an issue.

[2018-09-07 12:17] #431 closed

[2018-09-13 15:30] estolfo commented on #756
Hi @jalberto
You will have to set a client on the Repository class or instance instead.
You may find [this documentation]( https://github.com/elastic/elasticsearch-rails/tree/6.x/elasticsearch-persistence#the-dsl-mixin) useful.
Please see the [CHANGELOG on the 6.x branch](https://github.com/elastic/elasticsearch-rails/blob/6.x/CHANGELOG.md).
And [this blog post](https://www.elastic.co/blog/activer

[2018-09-13 16:34] jalberto commented on #756
thanks @estolfo still I cannot see a "breaking changes" list, will be very useful for a migration from 5.x to 6.x.

Also will be great to know why those breaking changes happened, in particular if not deprecation warnings has been implemented. I am sure there are good reasons behind that decisions, still a good practice.

[2018-09-14 10:06] estolfo commented on #756
Hi @jalberto, I've created entries for the two releases ([6.0.0.pre](https://github.com/elastic/elasticsearch-rails/releases/tag/v6.0.0.pre) and [6.0.0](https://github.com/elastic/elasticsearch-rails/releases/tag/v6.0.0)) and put the list of changes there. I've also included a list of breaking changes in the details for 6.0.0. Please let me know if there's anything else I can do to make the change

[2018-09-14 21:35] jalberto commented on #756
thanks @estolfo that is what I needed.Great work.
Right now the Changelog and release notes contains different information so it's bit confusing.

[2018-09-18 15:36] estolfo commented on #756
@jalberto
The CHANGELOG is automatically generated as part of a rake task when we release the gems. I'm going to leave it as-is for now. I'm considering removing it and converting all the release notes to the GitHub releases so that there's only one source of the change log.

[2018-09-18 15:37] estolfo commented on #756
I'm going to close this issue, as the gems supporting Elasticsearch 6.0 have been released for over a week.

[2018-09-18 15:37] #756 closed

[2018-09-20 15:46] matteoredz opened #841 "Result window is too large even with pagination"
I'm trying to get page XXX (1288) with Kaminari for a ElasticSearch result object and it states:

`[500] {"error":{"root_cause":[{"type":"query_phase_execution_exception","reason":"Result window is too large, from + size must be less than or equal to: [10000] but was [12880]. See the scroll api for a more efficient way to request large data sets. This limit can be set by changing the [index.max_re

[2018-09-21 14:37] estolfo commented on #841
@matteoredz Thanks for your question. As the documentation says [here](https://www.elastic.co/guide/en/elasticsearch/reference/current/search-request-scroll.html) for the scroll API, it’s not intended for realtime user requests but rather more for data-processing. It’s quite resource-intensive so I would not recommend building user-facing functionality with it. This is why you’ll find that the pag

[2018-09-21 14:39] estolfo commented on #778
I'm going to close this, as there's nothing the gem can do about where the pagination is intended.
Please call a pagination method on either the Elasticsearch query chain or ActiveRecord query chain.

[2018-09-21 14:39] #778 closed

[2018-09-21 14:41] estolfo commented on #473
I'm going to close this as the issue is quite old. Please open a new issue if you'd like to discuss caching.

[2018-09-21 14:41] #473 closed

[2018-09-24 09:28] estolfo commented on #670
I'm going to close this as `elasticsearch-persistence` 6.0 has been available for a few weeks and it resolves the mentioned OO structure issues. Thanks!

[2018-09-24 09:28] #670 closed

[2018-09-24 09:35] estolfo commented on #529
This is resolved with the release of elasticsearch-persistence 6.0.

Please see the documentation [here](https://github.com/elastic/elasticsearch-rails/tree/6.x/elasticsearch-persistence#the-repository-pattern).

[2018-09-24 09:35] #529 closed

[2018-09-24 09:36] estolfo commented on #552
Is this still an issue, @divyashravanthi ?

[2018-09-24 09:45] estolfo commented on #523
I'm going to close this as it's no longer relevant with the restructure and refactor of the tests to rspec. See commit https://github.com/elastic/elasticsearch-rails/commit/e72e02ca3eefef1e6af673456ec28b90e0e5c873

[2018-09-24 09:45] #523 closed

[2018-10-04 11:07] estolfo commented on #841
@matteoredz Did you have a chance to read my comment above?

[2018-10-04 12:41] estolfo commented on #841
@matteoredz
ok, thanks for your response. I'm going to close this issue, if you don't mind.

[2018-10-04 12:41] #841 closed

[2018-10-09 12:43] renshuki commented on #815
Hi @estolfo, @markivancho,
I saw [Pagy](https://github.com/ddnexus/pagy) gem can manage *[Backend extras](https://github.com/ddnexus/pagy/#easy-to-extend)* which are modular extensions for compatibility with other gems. Then, I'm wondering if it's better to create a *Backend extra* in [Pagy](https://github.com/ddnexus/pagy) gem for elasticsearch-rails or implement this directly in elasticsearch-ra

[2018-10-09 15:34] PhilCoggins opened #848 "Invalid single-table inheritance type: SubClass is not a subclass of Class"
I encountered some serious headaches while working with `Elasticsearch-Model` in development.

My problem is that the `Invalid single-table inheritance type: X is not a subclass of Y` exception was being thrown when I tried to instantiate records with the `Multiple` adapter after my code had been reloaded for the first time. I would have to restart my Rails server every time I made any changes to

[2018-10-09 16:28] estolfo commented on #848
Hi @PhilCoggins Thanks for raising this issue. Would you mind providing an example so we can reproduce it?