[2018-10-09 18:35] perkins2099 opened #849 "Example With Parent/Child Setup for ES 6"
This may not be the right place for this but I'm struggling on putting together a Parent/Child (using the join field since the types were removed) relationship in the same index with two different mappings.  Could a comprehensive example be created to illustrate how to set it up using elasticsearch-rails?

Thank you

[2018-10-09 21:43] estolfo commented on #849
Hi @perkins2099
Sure, we can add an example. Please keep in mind though that using the join datatype with the `has_parent` query, or the `has_child` query adds significant overhead to query performance. That said, the join datatype can still be used. It is required to index the lineage of a parent in the same shard as a child so you must always route child documents using their parent id. If you p

[2018-10-10 15:08] estolfo commented on #552
I'm going to close this issue. Please reopen if you have further questions.

[2018-10-10 15:08] #552 closed

[2018-10-15 21:29] hiracky16 opened #851 "Can't generate rails task after installing es-rails"
Hi.
I installed es-rails into my application running docker.
After installing, I executed the following command. However, I couldn't.

[code]

I tried `docker-compose run web bundle install` again but I can't do it yet.
Please tell me the way to resolve this problem.

[2018-10-16 17:03] estolfo commented on #849
@perkins2099 Did the resources mentioned above help?

[2018-10-16 18:07] perkins2099 commented on #849
I've reviewed the document but its a bit cryptic for me.  Was hoping for a dead simple example. :)  I dont know if it would help someone else but I've decided to go another direction away from the parent join.  So perhaps we can close this issue?

[2018-10-16 18:14] estolfo commented on #849
@perki Sorry the resources didn't help.
I would encourage you to represent your objects without using the join data type and am glad to hear you've gone in another direction. We can close this issue but feel free to open a new one if you have further questions.

[2018-10-16 18:14] #849 closed

[2018-10-16 22:59] PhilCoggins commented on #848
Thanks @estolfo, here is a sample app with instructions:

https://github.com/PhilCoggins/elasticsearch-sti-fail

LMK if you have any issues running. I tried to do this in a single script file but `ActiveSupport::Reloader.reload` would not trigger the error for some reason.

[2018-10-17 13:38] fnordfish opened #852 "Elasticsearch::Persistence::Repository#index_exists? silently drops arguments"
I was just upgrading and ran into an issues when trying to use `my_repository.index_exists?(index: "my_index_name")`

In https://github.com/elastic/elasticsearch-rails/blob/master/elasticsearch-persistence/lib/elasticsearch/persistence/repository.rb#L213-L215

While I can still pass in an explicit `:index`, all arguments are ignored and the repositories index_name is used instead.

This is a bit s

[2018-10-17 13:38] estolfo commented on #851
@hiracky16 What are you trying to accomplish with the command?

[2018-10-17 13:58] hiracky16 commented on #851
@estolfo Thank you reply Emily.
I hope to make a Rake task to index into ElasticSearch.
When I try to generate task, this problem is happened.

[2018-10-17 14:02] estolfo commented on #851
@hiracky16 Are you trying to import your models as outlined [here](https://github.com/elastic/elasticsearch-rails/tree/master/elasticsearch-rails#rake-tasks) ?

[2018-10-17 14:12] hiracky16 commented on #851
@estolfo
Thank you for telling me the way to resolve this problem!
I can generate task 👍

[2018-10-17 14:12] #851 closed

[2018-10-17 14:13] estolfo commented on #851
Great, I'm glad you've resolved it!

[2018-10-17 14:15] estolfo commented on #852
Hi @fnordfish Thanks for reporting this! I've opened a pull request to fix it [here](https://github.com/elastic/elasticsearch-rails/pull/853)
Can you try it out in your testing environment and let me know if it resolves the issue for you? Thanks!

[2018-10-17 15:40] estolfo commented on #274
I don't think this is still an issue. @dimroc and @rahilsondhi can I close this?

[2018-10-17 15:41] estolfo commented on #330
I'm going to close this issue. Please open a new one if the problem persists.

[2018-10-17 15:41] #330 closed

[2018-10-17 15:43] estolfo commented on #338
I'm going to close this as there is currently support for Kaminari and WillPaginate (and Pagy in progress).

[2018-10-17 15:43] #338 closed

[2018-10-17 15:44] estolfo commented on #396
Hi @vfa-dunghn can I close this?

[2018-10-17 15:45] estolfo commented on #442
Closing this as the mentioned best practices are taken into account. Thanks!

[2018-10-17 15:45] #442 closed

[2018-10-17 15:48] estolfo commented on #815
Related pull request: https://github.com/ddnexus/pagy/pull/96

[2018-10-17 16:00] rahilsondhi commented on #274
Definitely close, thanks @estolfo

[2018-10-17 16:03] estolfo commented on #274
thanks @rahilsondhi = )

[2018-10-17 16:03] #274 closed

[2018-10-17 16:20] estolfo commented on #459
I'm going to close this because you can pass those options as the body field:
[code]

or as an option to the method on a repository object:
[code]

[2018-10-17 16:20] #459 closed

[2018-10-20 06:51] estolfo commented on #815
Great! Thanks so much @renshuki

[2018-10-20 06:51] #815 closed

[2018-10-30 14:55] ddavisgraphics commented on #497
Same Issue on update and new items created after the import was made.

[code]

[2018-10-30 17:40] loren opened #854 "ActiveRecord migration example/help for 6.x gem"
I understand that the 6.x version of this gem has [deprecated the ActiveRecord pattern](https://github.com/elastic/elasticsearch-rails/blob/master/elasticsearch-persistence/README.md#the-activerecord-pattern). I have code that looks like [this example](https://github.com/elastic/elasticsearch-rails/commit/31510278e06d1c00d213f695640d9e4efdfaaab5) that I'm trying to migrate to the recent gem.

I'm

[2018-10-30 18:14] ddavisgraphics commented on #497
To fix the issue that I had, I destroyed the indexes and reimported each model separately from IRB.  This helped and has removed all issues.  Not sure what the problem was or why it appeared.

[2018-10-31 16:23] estolfo commented on #854
Hi @loren Thanks for your question. I've published a [blog post](https://www.elastic.co/blog/activerecord-to-repository-changing-persistence-patterns-with-the-elasticsearch-rails-gem) on this subject and have migrated one of the example apps to use the Repository pattern. You will find links to it in the blog post but [here](https://github.com/elastic/rails-app-music) is the repo itself. Let me kn

[2018-10-31 16:24] estolfo commented on #852
I'm going to close this as a fix was merged. See above for pull request reference.

[2018-10-31 16:24] #852 closed

[2018-10-31 22:38] loren commented on #854
Oh wow, I somehow totally missed that blog post! My apologies. I'll close this out.

[2018-10-31 22:38] #854 closed

[2018-11-01 12:06] jogaco opened #856 "[PERSISTENCE] no find_each or find_in_batches method for the Repository pattern"
I am migrating my app from the deprecated ActiveRecord pattern to the Repository pattern.

I could not find any equivalent to `find_each` in the Repository pattern.
The only thing I found is some code to do something similar in #693

Am I missing anything?

[2018-11-06 18:49] armhold opened #858 "Document mapping type name can't start with '_', found: [_suggest]"}"
Hi, thanks for creating this library!

I'm having trouble getting autocomplete/suggest to work, almost certainly user error on my part.

I'm following the example in [activerecord_mapping_completion.rb](https://github.com/elastic/elasticsearch-rails/blob/master/elasticsearch-model/examples/activerecord_mapping_completion.rb).  But the elasticsearch server (6.4.2) doesn't seem to like mappings with

[2018-11-07 11:41] estolfo commented on #858
Hi @armhold Would you mind sharing the code that leads to the error? I.e. the code surrounding `test/models/book_test.rb:26` and the code in the method `BookTest#test_autocomplete`.
Thanks!

[2018-11-07 11:42] estolfo commented on #396
Closing issue as there hasn't been activity on it since 2016.

[2018-11-07 11:42] #396 closed

[2018-11-07 15:21] armhold commented on #858
Hi @estolfo thanks for your help.

In an effort to eliminate errors on my part, I'm now running the [article example](https://github.com/elastic/elasticsearch-rails/blob/master/elasticsearch-model/examples/activerecord_mapping_completion.rb) directly (I had to re-tool my project a bit and add libs+gems for sqlite3 and 'ansi' that the example uses). My only change to that file is to pass in the url

[2018-11-08 08:46] mrmason opened #859 "Retrieving 'took' time results in extra queries and latency"
We recently upgraded a small service from elastic 2.3 to elastic 6.

Using the same code we've been using for a while resulted in a large increase in latency for the query ( not inside elastic, but from rendering the results ).

After some investigation the problem seems to be with the 'took' method on results... so we were using code like this:

[code]
This image shows the latency spike:
![image]

[2018-11-08 10:12] estolfo commented on #858
Hi @armhold
As per this issue https://github.com/elastic/elasticsearch/pull/20305, the separate `_suggest` endpoint has been deprecated. I would recommend using `search` instead and sending the suggest criteria in the body. I will update the example you referenced to reflect this deprecation. Let me know if that makes sense.
Please see this documentation for how to construct the `search` query to

[2018-11-08 11:55] estolfo commented on #859
Hi @mrmason I have an idea as to why you would notice a performance decrease but I'd like to confirm which versions of the elasticsearch gems you've upgraded from. Can you tell me what version you were using before and what version you are using now?

In addition, was the code that showed a decrease in performance exactly what you've provided or have you simplified it for the issue?
Thanks!

[2018-11-08 12:14] mrmason commented on #859
Looking through the old code, we seemed to be using
[code]
which paired up to an ES server running `2.4.0`.

We've upgraded to
[code]

which has resulted in

[code]

I have simplified the code but not by much, the real code goes through the results and creates a new array so something more like

[code]

We debugged everything and the slowdown and extra query(ies?) were caused by `r.took`

[2018-11-08 13:42] estolfo commented on #859
Hi @mrmason Thank you for that information. I believe the reason you are seeing a difference is because of a change in 6.0 where the `raw_response` of the request was cached in addition to the wrapped response. In the 6.0 release, some methods on the response object erroneously weren't use the cached response.
There is a change in master and the 6.x branch to fix this. Would you mind trying the 6.

[2018-11-08 14:50] armhold commented on #858
Thank you @estolfo, I see what I need to do now.

Shouldn't the [suggest method](https://github.com/elastic/elasticsearch-ruby/blob/master/elasticsearch-api/lib/elasticsearch/api/actions/suggest.rb#L31) also be updated to reflect this deprecation? My initial problem was in calling that code, getting a similar error. Thank you.

[2018-11-08 15:08] estolfo commented on #858
Hi @armhold
I've added a deprecation tag to the documentation in this commit: https://github.com/elastic/elasticsearch-ruby/commit/34d4633e3513f383b227f64a5a0b0dc049308ddb
I will leave the method as-is, in case the gem is being used with an older version of elasticsearch.
If everything is sorted on your end, may I close this issue? Thanks!

[2018-11-08 15:09] armhold commented on #858
Closing, thank you @estolfo !

[2018-11-08 15:09] #858 closed

[2018-11-08 15:11] estolfo commented on #858
my pleasure @armhold !

[2018-11-12 17:17] multiplegeorges commented on #497
I was getting the same error and it's a callback order issue.

I have Shrine set up for file attachments on my User model and if I try and assign the Shrine file inside the create operation, the model saves/commits then the Shrine callback updates the user attachment data before ES has received the POST to create the document in the index.

The solution is to split up the User creation operation.

[2018-11-12 21:12] arcifius commented on #608
I'm also having this issue with Mongoid ;/

[2018-11-19 15:40] OpakAlex commented on #681
How i can have one small global timeout for connection? (it's possible at 21 century? or i need to wait 100 years more?)

[2018-11-28 18:22] emilong commented on #729
Another workaround option that's working for me:

[code]

Would love to get this resolved with the configuration option though. :smile:

[2018-12-12 11:22] OpakAlex opened #863 "Document didnt updated into elasticsearch when we run `index.save(doc)`"
My issue, that ES return old version for document, which was updated via rails.
My quersion: Can i pass params to `https://github.com/elastic/elasticsearch-rails/blob/master/elasticsearch-persistence/lib/elasticsearch/persistence/repository/store.rb#L37`
params like: `refresh=wait_for` ?

[2018-12-12 17:31] estolfo commented on #863
@OpakAlex Yes, you can pass options for the request like this:
[code]

Let me know if that works for you.

[2018-12-13 09:08] OpakAlex commented on #863
ok, thanks, i will try ;)

[2018-12-14 15:43] estolfo commented on #863
@OpakAlex Did you get a chance to try that out?

[2018-12-14 15:50] OpakAlex commented on #863
thanks @estolfo .Looks like works. I will monitor it. Thanks

[2018-12-14 15:50] #863 closed

[2018-12-18 15:34] miggy282 opened #864 "No results in response"
No results is return when querying elasticsearch index, json doc has been imported  directly using
**POST /buyers**
any help  or point in the right direction is appreciated

[code]

[2018-12-20 16:00] #864 closed

[2019-01-09 12:02] Laykou commented on #606
Note: @mtomov 's [answer above helped us](https://github.com/elastic/elasticsearch-rails/issues/606#issuecomment-259675889). In our case we were sending `nil`. So we just need to make sure to always send a hash :) Thx

[2019-01-16 01:21] steveburkett opened #865 "connecting to AWS elasticsearch: IAM authentication"
hi there, we are using gem 'elasticsearch-model' in our rails app.

To connect to AWS ElasticSearch service, do we need to use IAM authentication to use this service?  I did see https://github.com/elastic/elasticsearch-rails/issues/716, but i dont see anything related to IAM authentication specifically for this gem and a rails app and how to do that.

Thanks! :)

[2019-01-17 09:43] estolfo commented on #865
Hi @steveburkett has your issue been resolved? I see you closed it yourself. Let me know if I can help!

[2019-01-17 16:40] scicco commented on #643
Have you tried to use this?

[code]

[2019-01-17 18:49] whitelancer commented on #729
Just wanted to report that I'm having this same issue.  It seems like this code should work, but I think it must be choking on the part where it compares ancestors to self?  Not entirely sure.
[code]
[code]
irb(main):095:0> NestedAuthor.__elasticsearch__.ancestors.each {|klass| puts "klass: #{klass}; self: #{self}; ==? #{klass == self}" }
klass: NestedAuthor; self: main; ==? false
[code]

[2019-01-22 07:27] zainzafar opened #866 "Sporadic error: The bulk request must be terminated by a newline"
Hi,

I'm importing 500 records in rails using the [bulk](https://github.com/elastic/elasticsearch-ruby/blob/master/elasticsearch-api/lib/elasticsearch/api/actions/bulk.rb#L86) method, however, on and off I get the following error:

`
Elasticsearch::Transport::Transport::Errors::BadRequest: [400] {"error":{"root_cause":[{"type":"illegal_argument_exception","reason":"The bulk request must be termina

[2019-01-22 08:18] karmi commented on #866
@zainzafar , that's interesting — can you post an example of how you're calling the Bulk API in your code?

[2019-01-22 22:36] zainzafar commented on #866
@karmi here's the code snippet in ruby that's called for bulk indexing:

[code]

[2019-01-24 12:49] Kani999 commented on #571
Still not solved?

[2019-01-25 00:38] zainzafar commented on #866
There's definitely something wrong with `elasticsearch-rails` client. Now getting the following error:

[code]

[2019-01-26 07:01] zainzafar commented on #866
Is there any way to log the bulk HTTP request's headers/body etc?

[2019-01-26 07:20] karmi commented on #866
Yes, indeed: when you [enable the `DEBUG` level for logging](https://github.com/elastic/elasticsearch-ruby/tree/master/elasticsearch-transport#logging), both request and response bodies are logged. Please post the output when you have it.

There's a fairly extensive example here: https://github.com/elastic/elasticsearch-rails/blob/master/elasticsearch-model/examples/activerecord_associations.rb, w

[2019-01-29 14:41] nerfologist commented on #866
Hello, in our company we are experiencing the very same error when trying to import a bunch (~500) of Rails models:

[code]

Elasticsearch version:
[code]

Gems:
[code]

Resolved to:
[code]

Upon running the import task, the entities seem to be successfully serialized and sent to the Elasticsearch service, which responds this way:

[code]

[2019-01-29 19:49] zainzafar commented on #866
@nerfologist I'll also add that we're on Ruby 2.6.0 as well. That might as well be the issue here.

[2019-01-30 09:00] karmi commented on #866
@nerfologist, many thanks for the aditional information! I'm a bit mystified about the error, since both `elasticsearch-ruby` and `elasticsearch-rails` have quite a bit of unit and integration tests for bulk, which I haven't seen failing, but I see we don't run those against Ruby 2.6, that might indeed be the culprit. I'll try to run them locally and see what't going on.

[2019-01-30 09:01] karmi commented on #866
@zainzafar , sorry for the silence — I don't think the output is that much useful, if you can straight out see that it's missing an `\n`. At the moment, my theory is that it's probably somehow related to Ruby 2.6, as you suggest as well.

[2019-01-30 09:41] zainzafar commented on #866
@karmi the output clearly shows `\n` at the end of the payload. My bet is on it being Ruby 2.6.

[2019-01-31 15:02] karmi commented on #866
It's very much Ruby 2.6, which seems to cut off a portion of the body. See the report in https://github.com/ruby/ruby/pull/2058#issuecomment-452193105, where Elasticsearch bulk payloads are specifically mentioned.

Here's a detailed information about the bug: https://mensfeld.pl/2019/01/exploring-a-critical-netprotocol-issue-in-ruby-2-6-0p0-and-how-it-can-lead-to-a-security-problem/

Can you try o

[2019-02-01 10:37] nerfologist commented on #866
Hello, I just ran some manual tests using ruby 2.6.1 and the problem seems to be solved. I was able to import all models correctly. Thanks for your attention and help!

[2019-02-01 10:51] karmi commented on #866
Many thanks for the confirmation, @nerfologist !

@zainzafar, can you check with Ruby 2.6.1 on your side and close the issue if it solves the problem?

[2019-02-02 09:43] zainzafar commented on #866
Yup, ruby 2.6.1 seems to be working smoothly! Thanks for pointing it out @nerfologist and thanks for finding the bug report @karmi

[2019-02-02 09:43] #866 closed

[2019-02-06 22:02] psylone commented on #682
Since Elasticsearch is [near real time][0] it can be helpful to use Refresh API after `FactoryGirl` invocation. Something like this:

[code]

[0]: https://www.elastic.co/guide/en/elasticsearch/guide/current/near-real-time.html
[1]: https://www.elastic.co/guide/en/elasticsearch/reference/current/indices-refresh.html

[2019-02-18 07:53] murat commented on #657
@arturtr is right, suggestion API is available with the `contexts` in the latest version, we can use completion suggestion API like followings:

[code]

and

[code]

however, I could not define the `contexts` in the Model. is there a syntax for using the `indexes` keyword with `context` option?

[2019-02-18 08:47] estolfo commented on #657
Hi @murat Would you mind showing an example of the request you'd like to make in Ruby or just the raw document so I'm clear on what you're are asking about? Thanks!

[2019-02-18 08:56] murat commented on #657
Hi @estolfo I would like to set up my index for use the context suggester [like here.](https://www.elastic.co/guide/en/elasticsearch/reference/current/suggester-context.html) But I don't know how to define my contexts.

[2019-02-20 09:35] RajarshiWebonise opened #867 "How to use update_by_query elasticsearch API"
I have gone through the docs but couldn't find a method that queries via `update_by_query`.
Is this API supported in this gem?

[2019-02-25 21:38] shawndeprey commented on #571
Still running into this issue as well.

[2019-02-26 14:24] estolfo commented on #571
@shawndeprey @Kani999 @andyw8 @dogweather how does [this solution](https://github.com/elastic/elasticsearch-rails/pull/868) look?
I use the client transport `logger` to log the message. That way, the user has control over whether it's printed via the log level.

[2019-02-26 15:00] shawndeprey commented on #571
@estolfo If I understand what `client.transport` is this seems reasonable to me as this will follow the logging set in our application configuration. :+1:

[2019-02-26 17:54] darkhelmet commented on #848
I'm also hitting this, will use the initializer patches for now.

[2019-02-26 18:12] darkhelmet commented on #848
Looking at the code, I wonder if it makes sense to use the `before_class_unload` hook to empty the `@models` array as well.

[2019-02-26 19:48] PhilCoggins commented on #848
@darkhelmet You could, though that's already occurring in the `Elasticsearch::Model::Registry#add` monkey patch (we remove a model if there's already one there with the same constant name).

Also want to point out that the initializer is wrapped in an environment check since I only need this on dev, not sure how it would behave in prod.

[2019-02-27 15:05] estolfo commented on #571
@shawndeprey `client.transport` is the client transport layer, which is where the `logger` would be set if you set one on an `Elasticsearch::Client`. That said, it sounds like we're on the same page = )

[2019-02-28 00:43] darkhelmet commented on #848
Yeah, this is what I ended up with in my initializer.

[code]

[2019-03-04 13:51] jeremymontesinos opened #869 "SystemStackError: stack level too deep (new to elasticsearch)"
Hello, I have an error when I want to do
[code]

There is my `app/models/user.rb` file :
[code]

And when I comment out this part, it works  :
[code]

My Gemfile :

[code]

Ask me if you need some more code ! Thanks for your help !

[2019-03-07 13:29] webattitude opened #870 "as_indexed_json and polymorphic associations"
How to make _include_ optional in #as_indexed_json dsl ?
I have to index a Selection model that has_many SelectionItems. These items have one polymorphic Resource (ie some Resources may not have artists association...).

Here is my #as_indexed_json definition :
[code]

When SelectionItem has uncommon resource (ie with no artists association), it raises a no method error.

[2019-03-22 13:59] surjay commented on #848
Is there any movement on a gem fix for this? I just ran into this and its a major issue. It only happens for me in Rails5, though which we are currently upgrading to. I've never encountered this in Rails4.

[2019-03-25 11:17] estolfo commented on #848
@surjay I will look into it and have an update soon!

[2019-04-01 11:18] unavailabl3 commented on #577
`products = []
after = 0
loop do
  query = {
    size: query_size,
    query: {
      multi_match: {
        query: "black",
        fields: [ "description", "title", "information", "params" ]
      }
    },
    search_after: [after],
    sort: [ {id: "asc"} ]
  }
  results =  Product.search(query).records
  results_amount = results.size
  products += results
  after += 10000

  break if results_a

[2019-04-08 10:47] sl0thentr0py opened #873 "Adding search_analyzer to mapping"
I can't figure out how to add the `search_analyzer` option to the mapping block. The `Mappings` class only provides `indexes` as a way to add fields.

https://www.elastic.co/guide/en/elasticsearch/reference/current/search-analyzer.html

[2019-04-08 10:55] sl0thentr0py commented on #873
My bad, documentation parsing error from my side.

[2019-04-08 10:55] #873 closed

[2019-04-10 16:33] miguelperez opened #874 "[Question|Bug] Is it possible to avoid creating or sending some attributes to the index?"
I have a problem where one of my models have a date attribute that changes often. It is uses like a cache. Similar to a counter_cache.

This attribute is being sent to the  index, and I got the *elastic search Limit of total fields [1000] in index [users] has been exceeded* I think it might be due to that attribute.

I tried defining the index manually in the model avoiding those attributes, but a

[2019-04-15 16:40] skukx opened #876 "Kaminari pagination: no implicit conversion of Integer into Hash"
Gem: `elasticsearch-model` version `6.0`
Cluster: Elasticsearch 7.0

The kaminari pagination is causing an error when calling `next_page`

[code]

Trace:
[code]

This is probably due to the breaking change in `hits`. See: https://www.elastic.co/guide/en/elasticsearch/reference/current/breaking-changes-7.0.html#_literal_hits_total_literal_is_now_an_object_in_the_search_response

[2019-04-16 09:07] estolfo commented on #876
Hi @skukx, thanks for opening this issue. We are currently working on 7.0 support and we'll be sure to fix this issue. I'll have an update soon, thanks for your patience!

[2019-04-16 17:41] skukx commented on #876
Thanks @estolfo! I doubt many other people are having this issue but just in case anyone is, you can do a quick patch like below.

[code]

[2019-04-25 12:12] albertosilletti opened #877 "ES 7.0.0 support?"
We moved from ES 6.7.0 to 7.0.0
We are unable to execute `Expansion.__elasticsearch__.create_index!` where `Expansion` is a very simple ActiveRecord model without anything particular.

[code]

Gems:
elasticsearch-model (6.0.0)
elasticsearch-transport (7.0.0.pre)
elasticsearch (~> 7.0.0.pre)
elasticsearch-api (= 7.0.0.pre)
elasticsearch-transport (= 7.0.0.pre)

Thank you

[2019-04-25 13:00] karmi commented on #877
Hi! It looks like you're using the 6.x version of the Rails integrations, ie. `elasticsearch-model (6.0.0)` — can you upgrade that to 7.x as well?

[2019-04-25 13:06] albertosilletti commented on #877
Unfortunately 6.0.0 (Feb 2018) is the latest version. We were able to update all the other gems to 7.0.0pre, except for elasticsearch-model

[2019-04-25 14:42] estolfo commented on #877
@albertosilletti `elasticsearch-model` has not been released for Elasticsearch 7.0 yet but it will be released soon. Thanks for your patience.

[2019-04-25 20:19] albertosilletti commented on #877
Thanks a lot! Any eta.....? is this planned "in the weeks" or "months"?

[2019-04-26 00:43] estolfo commented on #877
A pre version will most likely be available early next week and then a GA soon after that.

[2019-04-26 16:34] skukx commented on #877
Linking the Pull Request for this:
https://github.com/elastic/elasticsearch-rails/pull/875

[2019-04-26 16:35] skukx commented on #876
Linking the Pull Request for 7.0 support:
https://github.com/elastic/elasticsearch-rails/pull/875

[2019-04-27 06:39] yamashun opened #878 "Missing note about precondition for the command to generate example Rails application"
## Steps to reproduce
1. prepare an environment without running Elasticsearch at http://localhost:9200.
2. proceed as described in the "Usage" section of the README.
3.  try to start the sample application with the following command.

[code]

## Actual result
The following error occurs.
[code]

## Expected result
Successfully proceeded with no error.

## Proposal
I propose that note in the README

[2019-04-29 09:03] estolfo commented on #876
Hi @skukx I believe I've already handled this in the following commit https://github.com/elastic/elasticsearch-rails/commit/9c40f630e1b549f0b7889fe33dcd826b485af6fc
Would you mind trying master in your testing environment to see if it does indeed fix the issue? Thanks

[2019-04-29 17:16] skukx commented on #876
@estolfo Yes! that does the trick. Thank you for pointing that out! Would you like me to close this issue?

[2019-04-30 00:12] estolfo commented on #876
@skukx Thanks for testing the change and confirming it resolves the issue. A pre version of the gem will be available soon. I'll close the issue, thanks again!

[2019-04-30 00:12] #876 closed

[2019-04-30 06:41] estolfo commented on #877
@albertosilletti @skukx `elasticsearch-rails` v7.0.0.pre gems are now available: https://rubygems.org/gems/elasticsearch-rails/versions/7.0.0.pre
Please try them in your testing environments and report any issues. This is a pre release so not recommended for production use. Thanks!

[2019-05-01 15:54] skukx commented on #877
Hi @estolfo I haven't seen any issues with `elasticsearch-rails v7.0.0.pre` and `Elasticsearch 7.0.0`. However, I am curious if `elasticsearch-rails v7.0.0` gem will be backward compatible with `Elasticsearch 6.7`. I ask this since it will determine our upgrade strategy.

Thank you for all your work!

[2019-05-02 03:20] estolfo commented on #877
The gems supporting ES 7.0 are not currently being tested against ES 6.x but I would encourage you to:
* Review the [release notes](https://github.com/elastic/elasticsearch-rails/releases/tag/v7.0.0.pre) for 7.0.0.pre.
* Read the info [here](https://www.elastic.co/guide/en/elasticsearch/reference/current/removal-of-types.html) on the removal of types, in particular see the option `include_type_nam

[2019-05-29 14:53] bodrovis opened #880 "SSL_connect returned=1 errno=0 state=error: wrong version number"
I started to get

[code]

since this  Monday.

It happens only locally, with the following setup:

* Windows 7x64
* Ruby 2.5.5
* Rails 5.2.3
* `gem 'elasticsearch-rails', '~> 6'`

In my model I have callbacks module included:

[code]

and this line is causing problems when trying to update index data. I spent a hefty amount of time  trying to understand  what's causing the error, and it is definit

[2019-06-02 08:27] tvcam commented on #481
Was having the same issue, thanks @karmi, it fixed the issue.

[2019-06-10 12:12] philsmy opened #882 "Scroll API confusion"
It seems that the calls to the scroll API exist OUTSIDE the regular use of elasticsearch-model.

I would have thought that I could call something like

```MyModel.search scroll: '1m', ...```

but instead it seems I have to create a new client and call the index directly. That seems to be a dangerous duplication of code, as it looks like I can't even use the client definition that I make in my init

[2019-06-10 16:58] skukx opened #883 "Backward Compatibility Error"
### Libraries
Elasticsearch -> 6.8.0
elasticsearch-persistence -> 7.0.0.pre

### Summary
When using the upgraded `elasticsearch-rails` gem alongside an old cluster causes some errors. This may be expected since they are major version changes, but in case backward compatibility is possible I'm posting this error.

The following error is triggered when calling `repository.create_index!`
[code]

Stac

[2019-06-10 20:58] skukx commented on #883
Looking at the stack, this is more likely an issue for `elasticsearch` gem

[2019-06-11 11:44] bholzer opened #884 "Pagination via will_paginate not working"
I am trying to call `.page(2)` on a response and getting strange behavior.

[code]

It appears the `size` and `from` are being set on the wrapper `@definition` object, not the query body. Since they are being set in the wrong place, I am receiving the first page every time.

I noticed the documentation about load order, and I definitely have will_paginate above all ES gems.

[2019-06-11 14:29] reyanshmishra commented on #877
Any progress on this when will this support ES v7.0.0 ?

[2019-06-11 15:01] bodrovis commented on #880
I started getting this on Heroku as well. Updating to newer Elastic Search solves the problem.

[2019-06-11 15:01] #880 closed

[2019-06-14 10:40] estolfo commented on #883
Hi @skukx
Thanks for opening this issue. The elasticsearch-rails 7.x gem is intended to be used with Elasticsearch 7.x
That said, would you mind sharing the result of calling `#mapping` on your repository object? It seems that the mapping created by the repository is causing the error in Elasticsearch 7. Thanks!

[2019-06-14 10:53] estolfo commented on #877
@reyanshmishra Did you get this error when you tried to create the index for a repository?
If so, would you mind sharing the output of calling `#mapping` on the repository object? Thanks

[2019-06-14 10:54] reyanshmishra commented on #877
@estolfo I am sorry that was my stupidity. I had document_type in there.

[2019-06-14 10:55] estolfo commented on #877
No worries! Glad you were able to resolve it.

[2019-06-14 11:04] estolfo commented on #877
By the way, I was hoping to release the elasticsearch-rails gems v7.0 including support for Rails 6 because the timing seemed to line up. Rails 6 still hasn't been released but I'm going to wait a little bit longer before investigating other options. For example, I might add support for Rails 6 in a future minor 7.x release.

[2019-06-16 00:46] liamwhite opened #885 "High-level API for msearch"
I currently [maintain a gem](https://github.com/liamwhite/model-msearch/blob/master/lib/model-msearch.rb) that monkey-patches the `Elasticsearch::Model` module to add a method to perform an `_msearch` request to Elasticsearch.

It can be used like this:
[code]

Since it doesn't appear that this functionality has been added in any form to `elasticsearch-model` since I first wrote it 3 years ago, I

[2019-06-17 15:33] skukx commented on #883
No problem.

[code]

Serialized as a ruby hash it looks like:
[code]

And finally serialized as json:
[code]

[2019-06-18 15:18] estolfo commented on #883
@skukx Thanks for the details. It's still hard to say exactly what is causing the error so can you also share your `Repository` file with its attributes? Thanks!

[2019-06-18 15:57] skukx commented on #883
No problem,
[code]

[2019-06-18 16:00] skukx commented on #883
Just in case the settings look like:
[code]

[2019-06-20 19:28] angusdavisadobe commented on #781
I would also like to be able to exclude (filter out) the  _index, _type and _id fields in hits results of an aggregation query. Not sure why this was closed. What is the solution?

[2019-06-21 10:15] estolfo commented on #883
Hi @skukx
I don't know what the details of `ApplicationRepository` or the `default_settings` are but my guess from the output you've provided is that older versions of the gem inferred a type (`document_type`) for the mapping, while 7.0.0.pre doesn't infer a type because types are deprecated. The error you're getting with the 7.0 gem connecting to a 6.8 Elasticsearch server is probably due to ther

[2019-06-21 15:21] skukx commented on #883
The reason I ask is I'd rather not have to bring down our site to upgrade to Elasticsearch 7 but I understand if that isn't possible. I'll keep digging and see if I can find what the incompatibility is.

[2019-06-21 15:24] estolfo commented on #883
ok, I'm pretty sure it's because you don't have a inferred `document_type` with the 7.x gem. Can you call `document_type` on the repository when using a 6.x gem version and compare it with calling `document_type` when using 7.0.0.pre ?

[2019-06-21 15:36] skukx commented on #883
Yeah, I think that did it. Thank you!

[2019-06-21 15:36] #883 closed

[2019-06-26 18:08] schezwansoftware commented on #841
I am still confused, How can i using paging to avoid this issue as i think using Scroll API here is not necessary

[2019-06-27 13:07] fakenine commented on #877
Hello @estolfo,

I tried to update to the v7.2 and followed the master branch of this gem that has 7.X, but I'm still getting this error when creating an index for any repository:

[code]

I used the same mapping as in the readme:

[code]

What could be a good fix?

[2019-06-27 13:36] estolfo commented on #877
@fakenine Do you have a `document_type` defined for your repositories?

[2019-06-28 11:31] fakenine commented on #877
@estolfo Indeed! My bad, I misread @reyanshmishra's message.
I works when I delete the document_type.

Thank you

[2019-06-28 11:38] estolfo commented on #877
@fakenine Glad to hear it!

[2019-07-02 22:22] tmandke opened #886 "Is the CLA still relevant?"
If it is the link to it is broken in the `CONTRIBUTING.md`.

[2019-07-03 16:58] tmandke commented on #886
I see there is a check for it when I create a PR.

[2019-07-03 16:58] #886 closed

[2019-07-11 07:18] shunta27 commented on #867
I also want to use,
Feeling that it has not been implemented yet?

[2019-07-11 13:41] estolfo commented on #867
Hi @RajarshiWebonise and @shunta27 are you using `elasticsearch-model`? If so, you can access the client to Elasticsearch via the `__elasticsearch__` method and call `update_by_query` on it. See [here](https://github.com/elastic/elasticsearch-rails/tree/master/elasticsearch-model#the-__elasticsearch__-proxy) for more info. Let me know if that helps, thanks!

[2019-07-11 14:21] #712 closed

[2019-07-12 09:50] estolfo commented on #882
@philsmy Are you getting an error when you try to do the following:
`MyModel.search scroll: '1m', ...` ?
You can always access the client that the model uses by calling `__elasticsearch__` on the model. So you can call the search method directly with the `scroll` option if you want on the client returned from `MyModel.__elasticsearch__`
Let me know if that makes sense.

[2019-07-12 09:52] estolfo commented on #272
Closing this issue as it is out-of-date.

[2019-07-12 09:52] #272 closed

[2019-07-12 09:55] estolfo commented on #884
@bholzer Is this still an issue? If so, would you mind showing an example so I can reproduce this? Thanks

[2019-07-12 09:56] estolfo commented on #878
@yamashun Have you opened a pull request for this, as you mentioned you might?

[2019-07-12 10:12] estolfo commented on #874
@miguelperez Is this still an issue for you? If so, you might want to read our documentation [here](https://www.elastic.co/guide/en/elasticsearch/reference/current/enabled.html)
I believe you can resolve your issue by setting `enabled: false` for the `last_entry_week` field. Let me know if that answers your question. Thanks!

[2019-07-12 10:18] estolfo commented on #870
@webattitude Do you still have this question? If so, have you tried putting the logic in the definition of how a `SelectionItem` is converted to `json`?

[2019-07-12 10:20] estolfo commented on #856
@jogaco What functionality would you want in a `find_each` method that is not supported via the `find` method on a repository?

[2019-07-12 10:24] estolfo commented on #753
Closing this as it is out-of-date

[2019-07-12 10:24] #753 closed

[2019-07-12 10:24] estolfo commented on #752
Closing this as it is out-of-date.

[2019-07-12 10:24] #752 closed

[2019-07-12 12:42] estolfo commented on #693
Closing as this is no longer relevant.

[2019-07-12 12:42] #693 closed

[2019-07-12 12:43] estolfo commented on #735
Closing this as it is out-of-date.

[2019-07-12 12:43] #735 closed

[2019-07-12 12:45] estolfo commented on #729
Fixed by https://github.com/elastic/elasticsearch-rails/pull/887

[2019-07-12 12:45] #729 closed

[2019-07-12 13:39] miguelperez commented on #874
Hi @estolfo thanks for answering. I will check it with my team and reply back.

[2019-07-12 14:35] estolfo commented on #691
Closing this as it's out-of-date. Please reopen if you still have questions on this issue.

[2019-07-12 14:35] #691 closed

[2019-07-12 14:38] estolfo commented on #707
Closing as this issue is out-of-date. Please reopen if the question is still relevant.

[2019-07-12 14:38] #707 closed

[2019-07-15 10:28] estolfo commented on #471
Closing as this discussion is quite old.

[2019-07-15 10:28] #471 closed

[2019-07-15 10:30] estolfo commented on #458
Closing as the issue seems to have been resolved.

[2019-07-15 10:30] #458 closed

[2019-07-15 10:31] #479 closed

[2019-07-15 10:35] estolfo commented on #598
Closing as this does not require client changes.

[2019-07-15 10:35] #598 closed

[2019-07-15 10:58] estolfo commented on #606
Closing as this has been resolved. See the comments above for solutions.

[2019-07-15 10:58] #606 closed

[2019-07-15 11:01] estolfo commented on #542
Closing as this is out of date.

[2019-07-15 11:01] #542 closed

[2019-07-16 09:18] estolfo commented on #874
Hi @miguelperez Do you have an update on this?

[2019-07-16 10:31] estolfo commented on #848
@PhilCoggins I'm having trouble reproducing this using the example app you provided. I followed the steps in the `README`. Is there anything I'm missing below?

[code]

[2019-07-16 10:37] estolfo commented on #674
Closing as this relates to the deprecated and removed `ActiveRecord` pattern.

[2019-07-16 10:37] #674 closed

[2019-07-16 10:38] estolfo commented on #679
Closing as the previous comment answers the question.

[2019-07-16 10:38] #679 closed

[2019-07-16 10:39] estolfo commented on #869
@jeremymontesinos Did you resolve this or is it still an issue?

[2019-07-16 10:42] estolfo commented on #673
@cpalafox Is this question still relevant? If so, can you clarify what you mean when you ask if `as_indexed_json` takes the custom mappings into account?

[2019-07-16 10:43] estolfo commented on #243
Closing as the related PR has been merged.

[2019-07-16 10:43] #243 closed

[2019-07-16 10:44] estolfo commented on #676
Closing as the last comment shows a solution and the `ActiveRecord` pattern has been deprecated/removed.

[2019-07-16 10:44] #676 closed

[2019-07-16 10:44] estolfo commented on #663
Closing as the last comment shows the solution.

[2019-07-16 10:44] #663 closed

[2019-07-16 10:50] estolfo commented on #657
@murat Have you resolved this?

[2019-07-16 10:51] estolfo commented on #678
Closing as the [last comment](https://github.com/elastic/elasticsearch-rails/issues/678#issuecomment-394365973) shows the solution.

[2019-07-16 10:51] #678 closed

[2019-07-16 11:00] murat commented on #657
Hi @estolfo I resolved that with `match` filter. Thanks..

[2019-07-16 11:06] estolfo commented on #657
ok great. I'll close this then.

[2019-07-16 11:06] #657 closed

[2019-07-16 13:30] PhilCoggins commented on #848
@estolfo thanks for reaching back out.

I have updated the instructions in the repo. Also make sure you run the setup instructions at the top (`rails db:migrate` and `rails runner script.rb`)

[2019-07-16 14:35] webattitude commented on #870
Ok thx, I'll try this.

[2019-07-16 15:12] estolfo commented on #848
@PhilCoggins I've opened [this pull request](https://github.com/elastic/elasticsearch-rails/pull/888) but I get a `(ActiveRecord::SubclassNotFound)` error when I test it with your example app. Maybe there's something else that needs to change in the example app to fully test the changes. I'll work on adding tests but I wanted to get the PR up asap so you could take a look and let me know what you

[2019-07-16 21:37] PhilCoggins commented on #848
I would consider the `ActiveRecord::SubclassNotFound` a derivative of the core issue.

Somehow, when a `klass` is first added to the `@models` array, it initially contains no `descendants`, but subsequently performing a search the descendant is added.

When code is reloaded, however, the `klass` is added to the `@models` array, and a search is performed, the descendants don't get added.

Using you

[2019-07-17 11:42] webattitude commented on #870
OK thx, I eventually managed to serialize as expected...

[2019-07-17 11:42] #870 closed

[2019-07-17 21:26] miguelperez commented on #874
hi @estolfo It did not seem to work for us. Is there any other thing we would need to setup?
[code]

[2019-07-18 10:07] estolfo commented on #874
@miguelperez When you say that it didn't seem to work, what do you mean? Do you not see the `enabled` option in the mapping or is the observed behavior not what you expect?
Can you please tell me what version of Elasticsearch you are using?

I've used this example model:

[code]

then have created the index:

[code]

Then see this index mapping:
[code]

It shows the `enabled` option as `false` for

[2019-07-18 12:26] estolfo commented on #884
Closing because no response.

[2019-07-18 12:26] estolfo commented on #882
Closing because no response.

[2019-07-18 12:26] #882 closed

[2019-07-18 12:26] estolfo commented on #878
Closing because no response.

[2019-07-18 12:26] #878 closed

[2019-07-18 12:27] estolfo commented on #867
Closing because no response.

[2019-07-18 12:27] #867 closed

[2019-07-18 12:28] estolfo commented on #856
Closing because no response.

[2019-07-18 12:28] #856 closed

[2019-07-18 12:30] estolfo commented on #684
Closing because this has been resolved.

[2019-07-18 14:19] estolfo commented on #848
I want to give an update on this: I've been looking into the cause of the inherited class not being autoloaded after `reload!` is called and in the process, I've realized a big issue with using STI and Elasticsearch 7. Essentially, the feature was making use of the document type in the index but types are deprecated as of Elasticsearch 7. See [here](https://www.elastic.co/guide/en/elasticsearch/re

[2019-07-18 14:39] estolfo commented on #638
Closing as this question is out of date.

[2019-07-18 14:39] #638 closed

[2019-07-18 14:39] estolfo commented on #637
Closing as this question is out of date.

[2019-07-18 14:39] #637 closed

[2019-07-18 14:40] estolfo commented on #636
Closing as the last comment shows the resolution.

[2019-07-18 14:40] #636 closed

[2019-07-18 14:41] estolfo commented on #635
Closing as this question is out of date.

[2019-07-18 14:41] #635 closed

[2019-07-18 14:43] estolfo commented on #633
I would suggest creating a "virtual attribute" in this case -- a method that conditionally translates the raw data to the desired object type/format.

[2019-07-18 14:43] #633 closed

[2019-07-18 14:44] estolfo commented on #631
Closing as this question is out of date. Please reopen if it's still relevant.

[2019-07-18 14:44] #631 closed

[2019-07-18 14:45] estolfo commented on #629
Closing as this question is out of date. Please reopen if it's still relevant.

[2019-07-18 14:45] #629 closed

[2019-07-18 14:45] estolfo commented on #627
Closing as this question is out of date.

[2019-07-18 14:45] #627 closed

[2019-07-18 14:46] estolfo commented on #626
Closing as the `ActiveRecord` persistence pattern has been deprecated and removed.

[2019-07-18 14:46] #626 closed

[2019-07-18 14:47] estolfo commented on #623
Closing as the question is resolved.

[2019-07-18 14:47] #623 closed

[2019-07-18 14:47] estolfo commented on #620
Closing as this question is out of date.

[2019-07-18 14:47] #620 closed

[2019-07-18 14:47] #619 closed

[2019-07-18 14:48] estolfo commented on #617
Closing as this question is out of date. Please reopen if it's still relevant.

[2019-07-18 14:48] #617 closed

[2019-07-18 14:56] estolfo commented on #646
Closing as this is out of date.

[2019-07-18 14:56] #646 closed

[2019-07-18 16:35] bholzer commented on #884
Sorry @estolfo, was on vacation. How would you like this presented, should I create a small app showing this behavior?

[2019-07-19 01:13] shunta27 commented on #867
@ESamir thanks.

[2019-07-19 12:49] estolfo commented on #869
Closing because of no response.

[2019-07-19 12:49] #869 closed

[2019-07-19 12:50] estolfo commented on #673
Closing because of no response.

[2019-07-19 12:50] #673 closed

[2019-07-19 12:52] estolfo commented on #682
This is most likely due to the need to refresh the index. I'm going to close the issue because there has been no activity since 2017.

[2019-07-19 12:52] #682 closed

[2019-07-19 12:53] estolfo commented on #605
Closing this as the [comment by karel above](https://github.com/elastic/elasticsearch-rails/issues/605#issuecomment-236436955) shows the solution.

[2019-07-19 12:53] #605 closed

[2019-07-19 12:57] estolfo commented on #601
Closing this as it's out of date.

[2019-07-19 12:57] #601 closed

[2019-07-19 13:02] estolfo commented on #573
Closing as this is out of date.

[2019-07-19 13:02] #573 closed

[2019-07-19 13:04] estolfo commented on #571
Closing as this has been resolved in the linked PR.

[2019-07-19 13:04] #571 closed

[2019-07-19 13:04] estolfo commented on #560
Closing as `Elasticsearch::Persistence::Model` has been deprecated and removed.

[2019-07-19 13:04] #560 closed

[2019-07-19 13:05] estolfo commented on #539
Closing as this is out of date.

[2019-07-19 13:05] #539 closed

[2019-07-19 13:07] #533 closed

[2019-07-19 13:13] estolfo commented on #848
@PhilCoggins I think one of the ways to support STI going forward with the removal of types in Elasticsearch would be to add an artificial type field to each document if inheritance is detected. I did this in the past with Mongoid. What do you think about that approach? For example:

[code]

[code]

The name, `_inheritance_type` is inspired by rail's [`inheritance_column`](https://apidock.com/rail

[2019-07-19 13:17] estolfo commented on #398
Closing as this is out of date.

[2019-07-19 13:17] #398 closed

[2019-07-19 13:19] estolfo commented on #355
Closing as this is out of date.

[2019-07-19 13:19] #355 closed

[2019-07-19 13:20] #273 closed

[2019-07-19 13:40] estolfo commented on #85
Closing as this is out of date.

[2019-07-19 13:40] #85 closed

[2019-07-19 13:44] estolfo commented on #419
[This section](https://guides.rubyonrails.org/autoloading_and_reloading_constants.html#autoloading-and-sti) in the Rails documentation describes exactly this scenario. Please follow the advice in the Rails documentation and above for suggestions for how to get around this gotcha.

[2019-07-19 13:44] #419 closed

[2019-07-19 13:47] estolfo commented on #229
Closing as this is out of date.

[2019-07-19 13:47] #229 closed

[2019-07-19 13:52] estolfo commented on #362
I've tested the [aboved-mentioned code](https://github.com/elastic/elasticsearch-rails/issues/362#issuecomment-101345792) and have encountered no error.

[code]

[2019-07-19 13:52] #362 closed

[2019-07-19 13:53] estolfo commented on #263
Closing as this question is out of date.

[2019-07-19 13:53] #263 closed

[2019-07-19 14:00] estolfo commented on #269
It's now possible to override the `search` method on a `repository`.

[2019-07-19 14:00] #269 closed

[2019-07-21 02:05] stephenhmarsh commented on #877
I'm trying to copy a Rails app on Heroku to another instance because we need an extra environment, and our Elasticsearch provider (Bonsai) provisioned Elasticsearch 7.2.0 on the new app, which introduced me to this lovely error. (Original app is on 6.something)

Fortunately I googled and found this issue, but even with the latest gems, the app connected to the 7.2.0 instance errors out.

Gemfile:

[2019-07-22 10:55] estolfo commented on #877
Hi @stephenhmarsh Thanks for your question.
The problem here is that you are using the `elasticsearch-rails` gems 6.x series with Elasticsearch server version 7.x and you're specifying a mapping type, [which has been deprecated](https://www.elastic.co/guide/en/elasticsearch/reference/current/removal-of-types.html). The older gem is sending a mapping config in a format no longer supported by Elasti

[2019-07-22 22:01] stephenhmarsh commented on #877
Thank you @estolfo that clarifies for me what's going on.

[2019-07-24 20:37] miguelperez commented on #874
Hi @estolfo after testing, I can not even create the index.

[code]

This is a sample of the index:

[code]

We are running on Heroku, using the bonsai add-on. Below the versions we are currently running while testing this:

[code]

[2019-07-25 15:16] estolfo commented on #874
@miguelperez where are the following gems you are using coming from?
[code]

`7.0` versions of the rails integration gems haven't been released yet so I'm wondering how you have that setup. Let me know and I can help further. Thanks!

[2019-07-25 15:32] miguelperez commented on #874
Like this:

[code]

[2019-07-26 13:11] estolfo commented on #874
@miguelperez you are getting that error because you have a `document_type` defined for your model and it's `_doc`. You pasted some code above that was a `sample of the index` and I don't see a `document_type` defined anywhere. Can you identify where it's defined and set to `_doc`?

Additionally, are you pointing to master on github for the gems in production?

[2019-07-26 13:11] estolfo commented on #859
Closing because of lack of response.

[2019-07-26 13:11] #859 closed

[2019-07-26 13:12] estolfo commented on #609
Closing, as the solution is to refresh the index as mentioned in the last comment.

[2019-07-26 13:12] #609 closed

[2019-07-26 13:13] estolfo commented on #603
Closing as the ActiveRecord persistence pattern has been deprecated.

[2019-07-26 13:13] #603 closed

[2019-07-26 13:15] estolfo commented on #884
@bholzer Would you mind showing a model definition, then some sample code inserting documents and then fetching documents showing the first page is always returned? Thanks

[2019-08-02 02:46] mattandayo opened #896 "How to define max_result_window?"
Hi, I got this error `Result window is too large, from + size must be less than or equal to: [10000]...`

I understand it is caused by Elasticsearch max_result_window setting.
But I don't know how to configure max_result_window in your gem...

Can you please teach me how to do it?

[2019-08-05 13:52] estolfo commented on #874
@miguelperez Would you be able to answer the questions in my last comment? Thanks

[2019-08-06 14:20] #669 closed

[2019-08-06 17:03] miguelperez commented on #874
hi @estolfo sorry for my late reply.

Yes. https://github.com/elastic/elasticsearch-rails/issues/874#issuecomment-515092631

This is an old application that is under support, so my clue is that the `_doc` type is something that earlier versions of the gem did.

I asked one of the developers to do some tests using the following code and changing only how the document type is defined:

[code]

## Re

[2019-08-07 20:12] faliev commented on #669
I ended up doing it myself with callbacks with after_commit hook, but that was for older gem version. Thank you!

[2019-08-15 22:38] jon-at-jobber commented on #877
Hi!  We are running into similar issues (not looking for help, docs and examples above are enough) and I see you've decided to move forward with release rather than wait for Rails6.  Any insight into when that will drop?

[2019-08-17 02:24] shoe opened #901 "Regression in v6.1.0: 'method_missing': undefined method `model_name' for [PROXY]"
The following error appears when upgrading from 6.0.0 to 6.1.0, and disappears when reverting to 6.0.0.

[code]

[2019-08-19 06:59] estolfo commented on #901
@shoe Thanks for reporting this, I'll have an update soon!

[2019-08-19 09:13] estolfo commented on #901
@shoe Can you please provide an example Model that causes this error? I'm unable to reproduce it without more info. Thanks!

[2019-08-20 14:27] estolfo commented on #901
Hi @shoe Is there any chance you can provide an example Model that causes this error? Thanks!

[2019-08-20 16:35] TheCorp opened #903 "How to select individual fields on records while keeping them sorted by _score?"
I have a simple model and a search query that is returning results sorted correctly.

`Model.search("search").records` <- sorted correctly

How do I then use ActiveRecord `select()` to only pull certain fields on the model records returned? An Elasticsearch response records enumerator doesn't respond to the `select()` method that a normal ActiveRecord::Relation would.

I see that I can do `Model.s

[2019-08-20 16:42] TheCorp commented on #903
Btw I looked closely at this issue before posting and it doesn't seem to be related to the issue I am having - https://github.com/elastic/elasticsearch-rails/issues/546

[2019-08-20 19:02] equivalent opened #904 "ElasticSearch 6 gem Coliding with mongoid gem after upgrade to Ralis 6"
I noticed this bug after upgraded from Rails 5 to Rails 6 and getting:

[code]

now here is funny thing I don't use `WillPaginate` in my project but I'm using `mongoid` gem which uses [leshill-will_paginate](https://github.com/leshill/will_paginate)  which doesn't contain `WillPaginate::CollectionMethods`

so in `elasticsearch-model-6.1.0/lib/elasticsearch/model/response/pagination/will_paginate.r

[2019-08-21 09:06] equivalent commented on #904
when trying to upgrade mongoid to latest version

[code]

:thinking:

[2019-08-21 09:23] estolfo commented on #904
@equivalent I believe Mongoid will have to be released with Rails 6 support in order for this to be resolved.

[2019-08-21 09:43] equivalent commented on #904
I can confirm that once I used `gem 'mongoid', git: 'git@github.com:Fudoshiki/mongoid.git'` this is no longer issue

to provide context `Fudoshiki/mongoid` mongoid master fork with pending PR for https://github.com/mongodb/mongoid/pull/4649. So once they merge and release it all that is needed is use the latest `mongoid` and it will not be issue

All ok for me now :+1:

[2019-08-21 09:43] #904 closed

[2019-08-21 10:30] estolfo commented on #901
Hi @shoe I've been able to reproduce this and are you sure your Model inherits from `ActiveRecord::Base`?

for example:

[code]

versus:

[code]

[2019-08-22 03:43] shoe commented on #901
@estolfo Thanks for having a look even without more info.  My situation is a bit complex.  My documents are all modeled by something that inherits from `ActiveRecord::Base` (`ApplicationRecord`).  But there is not a 1:1 mapping between my document classes and my ES indexes and I need to manage each ES index individually, so my ES indexes modeled by plain ruby objects that include (eventually) `Ela

[2019-08-23 11:52] estolfo commented on #877
The elasticsearch rails gems versions 7.0 have been released, supporting Rails 6 and Elasticsearch 7.0.

[2019-08-23 11:52] #877 closed

[2019-08-30 06:30] shrirambalakrishnan commented on #134
It would be helpful if you posted your solution [4]

[2019-09-02 07:17] Bisherr opened #905 "Re-ordering records fetched using elasticsearch"
I'm using elasticsearch to search my records by name using this query:
`{
  "query": {
    "bool": {
      "must": [
        {
          "query_string": {
            "query": "*Pa*",
            "fields": [
              "name"
            ]
          }
        }
      ]
    }
  },
  "filter": {
    "and": [
      {
        "term": {
          "privacy": "world"
        }
      }
    ]
  }
}`

Us

[2019-09-03 15:40] kunisen opened #906 "Do we have the way to check data indexing time when using elasticsearch-model?"
We see some random latency from dozens of seconds~ 1 or 2 minutes when using `elasticsearch-model` to index data into Elasticsearch.
We would like to do some investigation on our cluster, but before that, we would like to know if we have the way (e.g. options for enabling logging) to check how long it took for indexing to Elasticsearch from Rails?

[2019-09-06 12:04] dathu122 commented on #537
I'm using elasticsearch_persistance-5.0.1 and elasticsearch_model-5.0.1 with rails 4.0.9  on puma server & Elastic search 5.3.0.

Getting below issue with 500 code. I can't use less number of thread count on puma where my application running with very heavy traffic. Can anyone explain what exactly the reason for below issue( It's occurring 3 to 5 times in a day on total load)

Faraday::ConnectionF

[2019-09-08 04:52] kaibadash opened #908 "How to create a mapping with join type?"
I'd like to use [Join datatype](https://www.elastic.co/guide/en/elasticsearch/reference/current/parent-join.html).

I tried like as below.

[code]

I got error.

[code]

How can I resolve that?

[2019-09-09 16:59] ajsharp opened #909 "mongoid sorting bug with .records"
The mongoid integration has the same sorting bug as documented in #546 and others. The records. I'm using elasticsearch-model 7.0.

I have a field in my mapping called `score` (separate from the elasticsearch `_score`). I'm running a search query like this:

[code]

I've confirmed that the results come back in the proper order from elasticsearch by visually inspecting the results like this: `Model

[2019-09-09 20:36] runephilosof commented on #908
You can see an example of how it can be done in https://github.com/elastic/elasticsearch-rails/blob/master/elasticsearch-model/spec/support/app/parent_and_child_searchable.rb and https://github.com/elastic/elasticsearch-rails/blob/master/elasticsearch-model/spec/elasticsearch/model/adapters/active_record/parent_child_spec.rb

[2019-09-09 23:32] kaibadash commented on #908
Thank you!

[2019-09-09 23:32] #908 closed

[2019-09-11 21:32] kevinjalbert commented on #884
In using `elasticsearch-rails` for pagination, I've hit this issue as well with the `will_paginate` gem for pagination. I did discover some interesting behaviour though that I wanted to share.

First, I'm using `Feature` which has the `include Elasticsearch::Model` in it. For this demonstrate I'm also going to use the _raw_ `__elasticsearch__` for searching:

[code]

The above looks good! We're ge

[2019-09-18 16:11] davidkrider commented on #877
I just updated my elasticsearch-rails gem, and I'm still getting the exact same error above when I try to .create_index!

[2019-09-20 19:58] vbrazo commented on #391
I did the same but when I try to merge a nested association inside an index and do a save, I get a `which is an instance of Hash(#70352839692580)`.

[2019-09-20 19:59] vbrazo commented on #391
How should I pass the nested association to create a big index? Should I convert it?

[2019-10-02 18:14] vbrazo commented on #877
+1 in the `document_type` issue. Had to remove to make it work. Thanks 👍

[2019-10-07 02:11] chrisharrisonkiwi commented on #849
I for one would have liked this to have resolved in a "documentation updated with better/multiple examples" result rather than: "Requester went in another direction so closing".

@perkins2099 Can you give us any details on the direction you took with this? I'm desperately struggling to find a decent example of a parent/child like setup without using joins.

[2019-10-07 19:21] mattsluis opened #910 "Transport error on import"
When attempting to import data from a model into elasticsearch I am faced with this error:
[code]
Any ideas where the issue may lie?

[2019-10-07 23:21] #910 closed

[2019-10-17 02:02] kunisen commented on #906
close it

[2019-10-17 02:02] #906 closed

[2019-10-24 19:37] TomaszKot11 commented on #877
Indeed in order to use with elasticsearch 7.0 you have to have version 7.0 of a gem :)

[2019-10-24 20:30] vbrazo commented on #127
I also get an issue while implementing this:

[code]

The error message is:

[code]

[code]

I'm using elasticsearch 7.0.0. @karmi thoughts?

[2019-10-25 05:50] patodevilla opened #912 "Records not returning original class"
I am using cancancan for authorizations in my rails app. In this code, the ES query returns some records that I already now I am allowed to visualize. I was scratching my head because cancancan always returned false when running the can? method.

`records = Elasticsearch::Model.search(query, models).records.records
records = records.select{|r| can?(:show, r)}`

Then I noticed that if I have a mode

[2019-10-31 10:06] Bachdz commented on #877
Hi. Where can I find and define the document_type ? How did you fix it? Thank you in advance

[2019-11-10 20:37] pstaender commented on #910
@mattsluis I'm facing the same issue. What was the solution for your problem?

[2019-11-10 20:57] pstaender commented on #910
The solution in my case:

I was (accidently) using the v7 gem but using an elasticsearch v6 instance.

[code]

Sticking with the corresponding version works :)

[2019-11-13 14:08] slhck opened #913 "Documentation of "settings" and "mapping" method?"
I see the example for defining settings and mapping for an index/model in the README of https://github.com/elastic/elasticsearch-rails/tree/master/elasticsearch-model:

[code]

However, I could not find a documentation for `settings` and `mapping`. This got me quite confused. For example, there is no easy way to tell that:

- The `dynamic` value has to be a String and not a boolean
- The `indexes`

[2019-11-13 15:48] cjreeve commented on #473
In Rails, ActiveRecord is used to set instance variables that don't hit the database until they are used. If they are used in a cached page or fragment the query is never made.

I understand that if you use Elasticsearch in the controller the query is made regardless of whether the results are used.

Perhaps Rails.cache.fetch is the standard way of getting around this, but it would be good to know

[2019-11-24 16:13] Sexual opened #915 "NoMethodError: undefined method `find' for nil:NilClass"
In production, we can't search in multiple models. it works fine locally.

`Elasticsearch version v7.4.2`

[code]

[code]

[2019-11-25 21:08] slavajacobson commented on #877
Same issue here. Followed README instructions to setup the gem on Rails 6, created a basic model, then ran MyModel.__elasticsearch__.create_index! and got the same error...

[2019-11-25 22:26] slavajacobson commented on #877
Fixed with:

gem 'elasticsearch-model', github: 'elastic/elasticsearch-rails', tag: 'v7.0.0'
gem 'elasticsearch-rails', github: 'elastic/elasticsearch-rails', tag: 'v7.0.0'

then running bundle update
and ensuring you don't have document_type in your Model

[2019-12-21 16:17] jmartyniak opened #916 "Question about nesting associations"
I have been struggling with this for a little bit.  My entity model that I have is as follows

[code]

In the deal index I would like to be able to include the Retailer and the retailer categories and brands.

I have tried the following
[code]
And while this does show the hierarchy in the correct structure in the resulting Index, which I can confirm in Kibana.  It will only populate the Retailer,

[2020-01-09 20:13] jrubaloff opened #917 "Possible import/include_type_name issue?"
I'm creating an index using ```include_type_name: true```

As long as I call import without any parameters, the indexes are created.

But when I add a scope parameter to the import call, I get the dreaded "The mapping definition cannot be nested under a type [_doc] unless include_type_name is set to true." error.

Adding include_type_name to the import call does not solve the problem.

Code for re

[2020-01-13 19:46] #917 closed

[2020-01-23 05:51] shunta27 opened #919 "Questions about the create_index! method"
When you execute the instance method of the repository class that includes the "Elasticsearch :: Persistence :: Repository" module. create_index! (Index: 'test_index'), nil is returned. Which is this a bug or my bad use?

[2020-01-27 15:28] enthusiasmus commented on #877
Why it is even possible to use `document_type` with the elasticsearch-model >= v7.0.0 gem?
When I use it, I always receive an
[code]

[2020-01-27 19:06] skukx commented on #877
@enthusiasmus The document type was used in older versions of elasticsearch. The reason the gem still supports this would probably be due to backward compatibility and granting older gem users a path to migrate to the new version.

https://www.elastic.co/guide/en/elasticsearch/reference/current/removal-of-types.html#_schedule_for_removal_of_mapping_types

[2020-02-03 16:23] diei opened #920 "Error "Method not implemented for default adapter" after update to Rails 6 with zeitwerk"
I have updated Rails from v5.2.4.1 to v6.0.2.1 and use the code loader "zeitwerk" now. Since then I get following error if I try to import my model `Person` with a custom adapter via a rake task:
[code]

My classes in Rails 5.2.4.1:

person.rb
[code]

elasticsearch/person/adapter.rb
[code]

Maybe the error occurs, because the class loader "zeitwerk" needs for each constant (classes and modules) a

[2020-02-04 10:13] diei commented on #920
I found a way to fix this. It belongs to the way how zeitwerk does the class loading. The `Elasticsearch::Person::Adapter` isn't registered at the time when the responsible Adapter for `Person` is requested from `::Elasticsearch::Model::Adapter.adapter`. Therefore I need to be sure that my custom adapter is registered before the class `Person` is loaded.

Prior in Rails 5 it was possible with `req

[2020-02-04 10:27] #920 closed

[2020-02-10 16:27] kwerle opened #921 "Please add Pipeline support to import"
PR: #839

[2020-02-10 17:44] picandocodigo commented on #921
Thanks for expressing interest in this feature @kwerle. I'm closing the issue and following up on the PR. Cheers!

[2020-02-10 17:44] #921 closed

[2020-03-02 17:53] abdelbk commented on #721
<code>Elasticsearch::Model::Callbacks</code> still doesn't behave like it should.

[2020-03-16 22:26] Kukunin opened #924 "Elasticsearch::Model overrides class .search method"
Hello. I've updated from `elasticsearch-model` 6.1.0 version to the latest 7.0.0 and got a silly bug. I have the following structure:

[code]

and

[code]

When I call `Article.search` I expect my method to be called, and it worked such before. With the `elasticsearch-model` 7.0.0 the delegated `Article.__elasticsearch__.search` is called directly.

I found the reason in the code: https://github.c

[2020-03-16 23:01] Kukunin commented on #924
As a workaround, you can define an empty method for the singleton class of a class before you include Elasticsearch::Model:

[code]

[2020-03-22 13:53] Duuun opened #925 "Broken link in the README"
Hello.Thank you so much for all your help.

The link to the following image seems to be broken in the README, can you please check it?

![スクリーンショット 2020-03-22 224029](https://user-images.githubusercontent.com/30006245/77251073-87a3bf00-6c8f-11ea-9b01-8d509075d22f.png)

[2020-03-23 12:48] picandocodigo commented on #925
Thanks for reporting this @Duuun, will fix asap!

[2020-03-23 13:04] #925 closed

[2020-03-23 22:43] oriahu commented on #919
I have a question that might follow on from this one.

Should we expect indexing ClassMethods to continue to work on a Repository class, as class methods? They seem to work just fine as instance methods because they are [`included` directly into the repository](https://github.com/elastic/elasticsearch-rails/blob/6.x/elasticsearch-persistence/lib/elasticsearch/persistence/repository.rb#L19).

### *

[2020-03-25 10:54] josuehenrique opened #927 "Callbacks async not working"
![image](https://user-images.githubusercontent.com/4226088/77528872-0e5dc500-6e65-11ea-8878-0a6caceaa44b.png)

![image](https://user-images.githubusercontent.com/4226088/77528906-1d447780-6e65-11ea-8f6d-7cfcfd277cfa.png)

[2020-03-26 19:28] #927 closed

[2020-03-28 01:41] shunta27 commented on #919
Thank you.
Using the repository class, I was able to solve what I wanted to do.

[2020-03-28 01:41] #919 closed

[2020-04-06 18:35] wagnerlinharesm opened #930 "ElasticSearch Ruby not found object attribute after query"
I am trying to use elasticsearch to perform "free text" searches.
The system is separated into List, Person, Account
Until I added List and Person, my search functioned correctly, after I added the Account. After the search, when I try to view the result, it returns nilClass to the account.
the files can be seen below:

list.rb

    class List < ApplicationRecord

        include Elasticsearch::Mo

[2020-04-12 11:03] #930 closed

[2020-04-13 21:50] Startouf commented on #716
-> https://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-request-signing.html#es-request-signing-ruby

[2020-04-14 02:48] rabinpoudyal commented on #848
Not only in elasticsearch, I am also getting this error when using with active admin. Attached the screenshot.
This should be fixed.
![image](https://user-images.githubusercontent.com/20385396/79180798-944caa80-7e2a-11ea-8357-6dc8b81fe6b8.png)

[2020-04-14 06:56] ronakabhattrz opened #933 "Elasticsearch::Transport::Transport::Errors::BadRequest. where i need to set type??"
Elasticsearch::Transport::Transport::Errors::BadRequest ([400] {"error":{"root_cause":[{"type":"action_request_validation_exception","reason":"Validation Failed: 1: type is missing

I am using

**VERSION**

[code]

[2020-04-14 13:36] picandocodigo commented on #933
Hi @ronakabhattrz, thanks for reporting this issue. What code are you running when you see this error?

[2020-04-14 13:39] ronakabhattrz commented on #933
I got this error when i set index threw rails console

[2020-04-19 21:59] #438 closed

[2020-04-21 19:51] erick-umc opened #935 "Suggestion always return nil."
Hi guys,

I'm trying to implement suggestions on searches. This is how I'm defining my mappings:
[code]

I created the index, and imported per the documentation. And then did a people/_mapping request to my localhost just to ensure everything is fine:

[code]

Finally I implemented the a simple suggest method on my model that looks like this:
[code]

I don't get any errors, I just get a nil object

[2020-04-21 20:49] erick-umc commented on #935
After looking at the source code I found out that I needed to call `Person.sugggest("my-name").suggestions` to get the results. I didn't found any documentation on this, so if there is a page where this gets explained I would happily take a peek. Thank you!

[2020-04-25 11:00] key88sf commented on #933
@picandocodigo Related issue -- looks like the latest Faraday gem has renamed errors. So
`host_unreachable_exceptions` may need to use `Faraday:: ConnectionFailed` instead of `Faraday::Error:: ConnectionFailed`

[2020-05-01 14:56] bkazez commented on #161
@estolfo Great solution - thanks so much and sorry for the late reply!

[2020-05-10 07:03] soranoba commented on #774
+1
What's the PR's status?

[2020-05-15 01:16] engineer-plus-plus opened #938 "Example template seems broken"
I am trying to run the template form the README like this: `rails new searchapp --skip --skip-bundle --template https://raw.github.com/elastic/elasticsearch-rails/master/elasticsearch-rails/lib/rails/templates/01-basic.rb`

There are couple if issues.

1. Contrary to the README, it didn't install elasticsearch.  Instead, it told me to start elasticsearch using docker like this `docker run --name e

[2020-05-15 15:09] picandocodigo commented on #938
Hi @engineer-plus-plus, thanks for reporting this. I'll take a look!

[2020-05-15 15:49] picandocodigo commented on #938
@engineer-plus-plus I've updated the README on #939. I think it was an issue with the version of Elasticsearch in the docker command. The change worked for me, but let me know if it fixes the issue for you too. Thanks!

[2020-05-15 20:07] engineer-plus-plus commented on #938
Cool. That fixed this issue for me.

But there is istill misinformation on the README.  It says "(it even
downloads Elasticsearch itself,"  But the template doesn't.  I'd consider
removing that.  (Or I can contribute the PR with this change.)

-IM

On Fri, May 15, 2020 at 8:49 AM Fernando Briano <notifications@github.com>
wrote:

--
--------------------------
- Ilya Makedon

[2020-05-16 05:58] engineer-plus-plus opened #940 "2nd example template"
When I execute the command to create the second rails example template,  I get following error
[code]

I'm using ES 6.4, ruby 2.6.5p114 ,Rails 6.0.3, macos 10.14

[2020-05-18 11:54] picandocodigo commented on #938
@engineer-plus-plus I updated the Pull Request to remove this. I'm going to take a look at the rest of the docs and templates to see where else we need updates. Let me know what you think, I'll merge the PR after you review it :+1:

[2020-05-18 11:54] picandocodigo commented on #940
Looking into this...

[2020-05-19 13:04] shlima commented on #885
Any updates?

[2020-05-19 16:24] #938 closed

[2020-05-19 22:48] #940 closed

[2020-05-19 22:48] engineer-plus-plus commented on #940
I can run all 3 templates now.  I'm not sure if something changed on your end or mine.  But this issue can be closed.

[2020-05-20 01:45] engineer-plus-plus opened #941 "rake task doesn't work in the sample template #1"
The rake task that elasticsearch-rails is supposed to provide doesn't appear in the reference app created from template from the README.  Like this:

[code]

[2020-05-20 08:13] picandocodigo commented on #940
@engineer-plus-plus thanks for reporting back! I think this potentially had to do with using an older Elasticsearch version with the latest client? But once the first template was working, the rest should work too. Thanks again!

[2020-05-23 14:40] engineer-plus-plus opened #942 "Template Issues"
I'm not sure if you changes something in the last 2 days.  But I can't generate any of the 3 templates due to various errors.  The all blow up.  I'm pretty sure I didn't do anything to my env to change from them all ok to this.  I can go over the errors, if you wawnt.  But. here, I'd like to make a few general points about the templates.

1. They are super useful for learning -- once the apps are

[2020-05-26 12:36] picandocodigo commented on #942
@engineer-plus-plus There weren't any changes recently that could affect the templates. I just double checked and ran them from scratch locally and they are working ok for me, but let me know which errors you encountered if possible.

I do think we can improve the docs a bit to specify having Elasticserch and Redis running for the third template and other details. What you mention is a very good p

[2020-05-28 20:37] guizaols commented on #535
Any news about this issue? I'm facing the sae problem here even in the latest version.

[2020-06-02 10:07] picandocodigo commented on #885
Hi @liamwhite, this is great. If you want to open a Pull Request with this functionality, I'd be happy to review it. We do have some things on the roadmap for `msearch` and other functions, but it'll also be cool if you open a Pull Request with this code :+1:

[2020-06-05 11:06] shivdeepnv commented on #534
@cursorzz - How and where do I add this option?

[2020-06-06 15:26] #397 closed

[2020-06-10 08:42] ohimy opened #944 "undefined local variable or method `__transform'"
NameError: undefined local variable or method `__transform' for #<Elasticsearch::Model::Proxy::ClassMethodsProxy:0x00007f8ac2a84ec8>

ruby version: 2.7.0
rails version: 6.0.3
gem list:
elasticsearch (7.7.0)
      elasticsearch-api (= 7.7.0)
      elasticsearch-transport (= 7.7.0)
    elasticsearch-api (7.7.0)
      multi_json
    elasticsearch-model (7.1.0)
      activesupport (> 3)
      elastics

[2020-06-19 06:21] kewubenduben opened #945 "Pagination gives reordered results"
Hi,

I'm having issues with pagination where the other page queries return a different order of results. This will result into an inconsistent item listing per page.

In my case, some items on page 1 will also show on other pages because the next search query have a different order of result.

Any suggestion on how to cache a query result with pagination? Or is there a way to tell/configure Elasti

[2020-06-20 07:58] kewubenduben commented on #945
Here's a reference for more info of somewhat related case.

https://discuss.elastic.co/t/caching-a-search-query-for-pagination/11931/4

[2020-06-23 13:50] kewubenduben commented on #945
Closing. I addressed the issue by adding more _order_.

[2020-06-23 13:50] #945 closed

[2020-07-14 08:29] bk-az opened #948 "warning: Using the last argument as keyword parameters is deprecated; maybe ** should be added to the call"
When you call the import method:

`../.rbenv/versions/2.7.1/lib/ruby/gems/2.7.0/gems/elasticsearch-model-7.1.0/lib/elasticsearch/model/adapters/active_record.rb:105:`
warning: Using the last argument as keyword parameters is deprecated; maybe ** should be added to the call

`../.rbenv/versions/2.7.1/lib/ruby/gems/2.7.0/gems/activerecord-6.0.3.2/lib/active_record/querying.rb:21:`
warning: Using the

[2020-07-25 13:19] nandueverurs opened #949 "Need help on the elastic version"
Hi,
Can some one please help me on this version. I am planning to update the gem .

Does the 7.1 version supports elastic 7.8 version with ruby 2.3 and rails 4.0.2?

[2020-07-27 13:11] picandocodigo commented on #949
Hi @nandueverurs,
7.1 should work fine with Elastic Stack 7.8. However Ruby 2.3 has reached it's end of life and is not receiving updates anymore. The gem might still work with this version of Ruby, but we can't guarantee it does since we don't test newer releases with EOL'd versions of Ruby. If you find any specific problems on the update, please open a new issue and I'll try to help out.

[2020-07-27 13:54] nandueverurs commented on #949
Hi @picandocodigo
Thanks Very much for your help. Will post here if we run into any problems. Closing this now.

[2020-07-27 13:54] #949 closed

[2020-07-28 22:26] tanner-rutgers opened #950 "ActiveRecord destroy_all short circuits on first failure"
Not sure if this is expected behaviour, but when attempting to use `destroy_all` on an indexed ActiveRecord model, if any of the records are missing from the index, the first `404` raises an exception and prevents the rest of the records from being removed from the database and/or index, while the record itself that was not in the index is still removed from the db.

Compare this to the behaviour

[2020-08-07 15:53] edariedl opened #951 "Ruby 2.7 deprecation in 6.x version"
Hey, would it be possible to fix ruby 2.7 deprecation also in 6.x version of the gem?

https://github.com/elastic/elasticsearch-rails/blob/6.x/elasticsearch-model/lib/elasticsearch/model/adapters/active_record.rb#L88

Line should look like this.

[code]

It is already fixed in 7.x version, unfortunately not in 6.x.

Thanks!

[2020-08-19 13:01] #924 closed

[2020-08-19 16:12] picandocodigo commented on #951
Hi @edariedl,
Thanks for reporting this. I just published version 6.1.1 which includes this fix!
Check it out and let me know if there's any other issues.

Cheers!

[2020-08-24 08:36] edariedl commented on #951
Awesome! Thanks

[2020-08-31 13:02] #951 closed

[2020-08-31 13:43] slhck commented on #913
Ping, anyone?

[2020-08-31 20:11] picandocodigo commented on #913
Hi @slhck,
Thanks for reporting this! We've installed the stale bot in this repository since there are issues from a long time ago, and I need to clean up the issues to know which ones are old/deprecated/no longer valid, etc. The issue won't be closed now there's been activity and I'll get to it as soon as possible.

[2020-09-01 07:27] slhck commented on #913
Thanks for the feedback!

[2020-09-01 21:56] #484 closed

[2020-09-07 14:14] #749 closed

[2020-09-07 14:14] #497 closed

[2020-09-07 14:14] #608 closed

[2020-09-07 14:14] #681 closed

[2020-09-07 14:14] #643 closed

[2020-09-07 14:14] #896 closed

[2020-09-07 14:14] #874 closed

[2020-09-07 14:14] #903 closed

[2020-09-07 14:14] #901 closed

[2020-09-07 14:14] #905 closed

[2020-09-07 14:14] #537 closed

[2020-09-07 14:14] #909 closed

[2020-09-07 14:14] #884 closed

[2020-09-07 14:14] #391 closed

[2020-09-07 14:14] #912 closed

[2020-09-07 14:14] #916 closed

[2020-09-07 14:14] #848 closed

[2020-09-07 14:14] #935 closed

[2020-09-07 14:14] #933 closed

[2020-09-07 14:14] #774 closed

[2020-09-07 14:14] #941 closed

[2020-09-07 14:14] #535 closed

[2020-09-07 14:14] #942 closed

[2020-09-07 14:14] #885 closed

[2020-09-07 14:15] #944 closed

[2020-09-07 15:05] s0rin opened #963 ""Required argument 'index' missing" error during update index"
In Rails 6.0.3.2 the update index works as expected, but as soon as I replace in controller **update_attributes** method with **update** (due to https://rubyinrails.com/2019/04/09/rails-6-1-activerecord-deprecates-update-attributes-methods/), then the following error occurs:

[code]

[2020-09-07 15:06] mariokostelac opened #964 "Store.save raises if document id provided in _id field"
`Store.save(document)` with a document serializing `_id` field raises because ElasticSearch does not allow `_id` being serialized as part of the document body.

While investigating the fix, I've found interesting differences between `update` and `save` methods
- [update uses `__extract_id_from_document`](https://github.com/elastic/elasticsearch-rails/blob/16a297a56e3d1845cc306c1541794280d4b2fdcc/e

[2020-09-07 15:14] #554 closed

[2020-09-07 15:14] #576 closed

[2020-09-07 15:14] #503 closed

[2020-09-07 15:14] #575 closed

[2020-09-07 15:14] #525 closed

[2020-09-07 15:14] #536 closed

[2020-09-07 15:14] #596 closed

[2020-09-07 15:14] #594 closed

[2020-09-07 15:14] #564 closed

[2020-09-07 15:14] #581 closed

[2020-09-07 15:14] #610 closed

[2020-09-07 15:14] #482 closed

[2020-09-07 15:14] #641 closed

[2020-09-07 15:14] #639 closed

[2020-09-07 15:14] #644 closed

[2020-09-07 15:14] #651 closed

[2020-09-07 15:14] #405 closed

[2020-09-07 15:14] #613 closed

[2020-09-07 15:14] #433 closed

[2020-09-07 15:14] #544 closed

[2020-09-07 15:14] #685 closed

[2020-09-07 15:14] #656 closed

[2020-09-07 15:14] #704 closed

[2020-09-07 15:14] #234 closed

[2020-09-07 15:14] #258 closed

[2020-09-07 15:14] #724 closed

[2020-09-07 15:14] #379 closed

[2020-09-07 15:14] #439 closed

[2020-09-07 15:14] #640 closed

[2020-09-07 16:14] #422 closed

[2020-09-07 16:14] #430 closed

[2020-09-07 16:14] #435 closed

[2020-09-07 16:14] #441 closed

[2020-09-07 16:14] #423 closed

[2020-09-07 16:14] #453 closed

[2020-09-07 16:14] #457 closed

[2020-09-07 16:14] #462 closed

[2020-09-07 16:14] #467 closed

[2020-09-07 16:14] #475 closed

[2020-09-07 16:14] #474 closed

[2020-09-07 16:14] #489 closed

[2020-09-07 16:14] #498 closed

[2020-09-07 16:14] #508 closed

[2020-09-07 16:14] #509 closed

[2020-09-07 16:14] #514 closed

[2020-09-07 16:14] #511 closed

[2020-09-07 16:14] #516 closed

[2020-09-07 16:14] #515 closed

[2020-09-07 16:14] #425 closed

[2020-09-07 16:14] #526 closed

[2020-09-07 16:14] #519 closed

[2020-09-07 16:14] #499 closed

[2020-09-07 16:14] #545 closed

[2020-09-07 16:14] #543 closed

[2020-09-07 16:14] #507 closed

[2020-09-07 16:14] #553 closed

[2020-09-07 16:14] #476 closed

[2020-09-08 07:40] #169 closed

[2020-09-08 07:40] #95 closed

[2020-09-08 07:40] #199 closed

[2020-09-08 07:40] #375 closed

[2020-09-08 07:40] #390 closed

[2020-09-08 07:40] #400 closed

[2020-09-08 11:17] s0rin commented on #963
My mistake, I had **include Elasticsearch::API** in controller, after removing it the problem disappears.

[2020-09-08 11:17] #963 closed

[2020-09-14 10:33] picandocodigo commented on #948
Hi @bk-az, this was fixed on release `7.1.1` of the gem. If you update from `7.1.0`, the warning should go away.

Let me know if you have any further issues,
Thanks!

[2020-09-14 10:42] bk-az commented on #948
Verified, thanks.

[2020-09-14 10:42] #948 closed

[2020-09-26 19:52] antarr opened #965 "Client generation bad uri"
I'm trying to start the client in production but it is generating a URI with the port on it twice.

***config/initializer/elasticsearch.rb***
[code]

***error in when deploying***
[code]

[2020-09-29 13:11] picandocodigo commented on #965
Hi @antarr, thanks for reporting this. Which version of the client are you using?

[2020-09-29 14:39] antarr commented on #965
7..1.1

[2020-09-29 15:40] picandocodigo commented on #965
Ah, sorry got the repos mixed up. What's triggering the error is `elasticsearch-ruby`. I tried to reproduce the error with the latest versions of the client and it seems to be working fine. Can you check your Gemfile.lock file and let me know which version of `elasticsearch-transport` is being used please? Thanks!

[2020-09-29 20:13] antarr commented on #965
@picandocodigo

[code]

[2020-10-15 16:52] addisonmartin commented on #537
I am still encountering this issue using Ruby 2.7.2, Ruby on Rails 6.0, Elasticsearch OSS 7.9.2, Elasticsearch Gem 7.9.0, Elasticsearch Model Gem 7.1.1, and Elasticsearch Rails Gem 7.1.1.

Essentially I was trying to setup my Rails application to use Elasticsearch all using docker compose. I was following the readme to add indexing as a background job with Sidekiq, and had to change the following

[2020-11-16 10:56] picandocodigo commented on #965
@antarr Since this issue is on `elasticsearch-transport`, I'm following up on that issue [here](https://github.com/elastic/elasticsearch-ruby/issues/1081). I'm already working on a fix for it :+1:

[2020-11-16 10:56] #965 closed

[2020-11-24 07:24] xiao-ma-nong commented on #606
用实体类存就可以了

[2020-11-27 05:41] NoharaMasato opened #966 "page_entries_info for kaminari is not working"
# Environment
Rails 6.0.3.4
ruby 2.7.0
elasticsearch-model (7.1.0)
elasticsearch-rails (7.1.0)
kaminari (1.2.1)
kaminari-actionview (1.2.1)
kaminari-activerecord (1.2.1)
kaminari-core (1.2.1)

# Source code
[code]

# Error
[code]

# Cause
page_entries_info is implemented in [here](https://github.com/kaminari/kaminari/blob/cd8601cc42b67267c15a13174bc2fc9bd5de1032/kaminari-core/lib/kaminari/helpers/

[2020-12-06 16:36] dixpac opened #967 "Indexer example fails on ES 7+"
Indexer example:

[code]

Doesn't work for me on ES 7.  When I change the type from `article -> _doc` then it works:

[code]

-------------

Maybe I'm doing something wrong or this is expected change but didn't yet get into README since 7 branch is still not released. I'm just posting it here so maybe it can help someone.

[2020-12-06 16:58] dixpac commented on #967
Opened a PR maybe doesn't make a sense 😅

[2020-12-14 06:37] montdidier commented on #577
This really isn't stale.

[2020-12-15 11:47] HumayunNaseer commented on #877
I'm facing this issue on Heroku ,  elasticsearch working fine locally but on Heroku with bonsai, I'm facing this error anyone has solution?  @estolfo ?

[2020-12-15 13:57] picandocodigo commented on #877
Hi @HumayunNaseer, since this issue has been closed for a while and the previous problems been solved, could you please open a new issue? Make sure you include as much detail as possible: client version, Elasticsearch version, what is the exact error you're facing, etc. Thanks!

[2020-12-15 14:29] HumayunNaseer commented on #877
heroku run bundle exec rake environment elasticsearch:import:model CLASS='PickupLocations::PickupLocation' FORCE=true

i was running this command from 2 days  and got the same error above and not it is accidentally successful I don't know how?
@picandocodigo

[2020-12-18 14:00] mariokostelac commented on #964
This looks a bit aggressive closing policy to me given that there were no commits for 4 months. Is this repository still actively maintained?

[2020-12-23 15:30] kgeoir opened #969 "index_name being wrong within concern and inheritence"
Hello,
  I have an issue with index_name not beging set properly:

  I have a concern with my index definition:
  `module Searchable
      extend ActiveSupport::Concern

    included do
      include Elasticsearch::Model
      include Elasticsearch::Model::Callbacks

      index_name "my_index_#{Rails.env}"
      end
  end`

  This concern is used in one AR model using sti this way:
  `class Super

[2020-12-28 15:34] MarkerDave opened #970 "parent child example incorrect mapping?"
## Expected Behavior
That there is an index created with a parent child relationship using the join field.

## Current Behavior
When running create_index! and error is returned.

## Steps to Reproduce

1. Copy question.rb, answer.rb and parent_and_child_searchable.rb from the examples folder on this repository to a Rails 4.2.11.3 project
2. In Rails console: `require "parent_and_child_searchable"`

[2021-01-05 17:46] picandocodigo commented on #964
@mariokostelac sorry about that, the repository is still being maintained but other work has taken priority over it. That being said I am modifying `stalebot`'s policy to be less aggressive and try to make some time in between other work to look at the issues here and hopefully releasing an update soon. We initially added it to see if some issues from years ago were still valid, so it doesn't need

[2021-01-05 17:51] estebanz01 opened #971 "import all task fails on rails 6"
Hello! I just created a small rails 6.0+ app and when I try to run the `import:all` task, it fails because it's not initializing the classes, apparently. Any ideas on how to solve it ?

[code]

The model structure is this:
app/models/project.rb
[code]

app/models/concerns/elastic_config.rb
[code]

[2021-01-05 18:04] estebanz01 commented on #971
well, it's the import task that is failing:
[code]

[2021-01-07 12:28] sajjadmurtaza opened #973 "Faraday::TimeoutError: execution expired"
After upgrade to rails 6 Elasticsearch is not working as expected.

`gem 'elasticsearch-model', '~> 7.1.1'
`
`gem 'elasticsearch-rails', '~> 7.1.1'
`

Whenever i run `MODEL.import(force: true)` then i always getting following error

[2021-01-07 13:17] #973 closed

[2021-01-18 09:24] mariokostelac commented on #964
@picandocodigo that makes perfect sense. Thanks for being transparent.

[2021-01-20 08:47] Fleick opened #974 "Make _id overrideable to provide support for Gems like acts_as"
Hello all,

would it be possible to make the _id of Elasticsearch overridable by method? Unfortunately there are problems with gems that allows multi table inheritance (like [acts_as](https://github.com/hzamani/active_record-acts_as)), because model.id in __elastichsearch__.index_document takes the ID of the specific model - but the ID of the generic one would be necessary.
To take the first examp

[2021-01-30 03:55] aburkard opened #975 "Calling .aggregations before .response causes a search to be executed twice."
For example:

[code]

I see others have had a [similar issue before](https://github.com/elastic/elasticsearch-rails/pull/847). It appears the issue is that `.aggregations` calls `.raw_response` which executes the query, and then `.response` re-executes the query. Is there any reason not to implement [this patch](https://github.com/elastic/elasticsearch-rails/pull/850#issuecomment-491885292)?

[2021-02-01 20:34] picandocodigo commented on #975
Thanks for reporting this,

[2021-02-01 20:36] picandocodigo commented on #974
Hi @Fleick,
Thanks for reporting this, I'll be working on this library soon after the release of the Elastic stack 7.11 and I'll take a look at this issue.

Cheers!

[2021-02-01 20:38] picandocodigo commented on #970
Hi @MarkerDave,
Thanks for reporting this, I'll be working on this library soon after the release of the Elastic stack 7.11 and I'll take a look at this issue.
Cheers!

[2021-02-02 08:41] viktorianer commented on #651
When someone is looking for it, [Molly Struve wrote a great guide and solution](https://dev.to/molly/iterating-through-elasticsearch-documents-using-scroll-and-ruby-3coi):

After initial call:

[code]

[2021-02-04 03:13] NoharaMasato commented on #966
To fix this issue simply, monkey patching below can be used.

[code]

[2021-02-04 14:24] aleguro opened #977 "Trying to create an index in db.seed running rspec fails"
**Under db/seeds.rb**

`Model.__elasticsearch__.create_index! force: true`

`$ bundle exec rspec --backtrace`

**Backtrace**

`ArgumentError:
  wrong number of arguments (given 0, expected 1)
# ./spec/support/graphql_helper.rb:32:in `query'
# /Users/alejandrogurovich/.rbenv/versions/2.7.2/lib/ruby/gems/2.7.0/gems/faraday-1.3.0/lib/faraday/request.rb:98:in `url'
# /Users/alejandrogurovich/.rbenv/ve

[2021-02-16 14:20] ThangLeQuoc opened #979 "Elasticsearch configuration being loaded over again"
We're having an issue that the elasticsearch rails client configuration being reloaded randomly over time when our rails application is running and querying to the elasticsearch instance hosted on Bonsai.

Our elastic client configuration

_config/initializers/elasticsearch.rb_
[code]

![image](https://user-images.githubusercontent.com/20574640/108075125-93188980-709c-11eb-8a20-59b683bf2d3b.png)

[2021-02-16 19:04] dbarrionuevo commented on #971
Have you guys tried `bundle exec environment rails elasticsearch:import:model`? I think `environment` must be present for the rake task to load the models properly

[2021-02-16 19:41] estebanz01 commented on #971
@dbarrionuevo you mean `RAILS_ENV=production bundle exec ...` ? yeah, we tried that. Same result.

[2021-02-17 06:31] dbarrionuevo commented on #971
No, I mean exactly like this, with the word environment: `bundle exec environment rails elasticsearch:import:model CLASS='Project'`

[2021-02-17 18:39] estebanz01 commented on #971
That's not valid syntax. Normally what `:environment` means is that you can specify the rails env when needed via ENV var, instead of relying on the existing one @dbarrionuevo. Check this https://stackoverflow.com/questions/7044714/whats-the-environment-task-in-rake

[2021-02-24 03:51] meoooh commented on #915
@Sexual Did you find solution?

[2021-02-24 10:50] picandocodigo commented on #915
@meoooh If this is still an issue for you, what version of the gem and stack are you using? I'll take a look as soon as it's possible.

[2021-02-25 01:32] meoooh commented on #915
@picandocodigo

[code]

[2021-03-01 16:24] aeroastro opened #980 "Want to stop noisy FATAL `[404]` for index checking on `Elasticsearch::Persistence::Repository`"
## Summary

We are using `Elasticsearch::Persistence::Repository`, and we are happy with the handiness compared with directly using Elasticsearch::Client.

However, we're now concerned about the noisy FATAL error `[404]` the repository emits when checking the index's existence.

* `Elasticsearch::Persistence::Repository#index_exists?`
* `Elasticsearch::Persistence::Repository#create_index!`

## Re

[2021-03-01 18:22] aeroastro commented on #980
I have created a Pull Request for this issue.

Since I would like to suppress unnecessary logs on our development and production servers in the near future, I have chosen the latter workaround option for this patch.

[2021-03-01 22:08] #980 closed

[2021-03-02 12:15] kerolloz opened #984 "Error while generating the simple app in README"
running the following command gives an error

[code]

![image](https://user-images.githubusercontent.com/36763164/109647089-995d3a00-7b61-11eb-9c14-4ec010d1f363.png)

[code]

----

[code]

[2021-03-09 00:14] vprigent commented on #778
We had this issue about two years ago when updating our implementation on search.
I think I got to the bottom of it today..

Will add my discoveries for the next developer that comes around.

We have an elasticsearch method that hides a couple of things under the rug like pagination. The only thing is that it will always return the same class.
[code]

now trying to use the `.records` method...
[co

[2021-03-22 07:32] exocode opened #985 "Example seems not valid anymore"
[code]

https://github.com/elastic/elasticsearch-rails/blob/80822d69a7f33a13fdfc294035bf57fa9777ff17/elasticsearch-model/examples/activerecord_mapping_completion.rb#L67

[2021-03-22 09:30] exocode commented on #985
ups, didn't saw, `require` on top of the example, sorry

[2021-03-22 09:30] #985 closed

[2021-03-25 10:51] SeanLF commented on #421
Facing this issue as well. Is an official fix still planned?

[2021-03-28 13:48] akiko-pusu commented on #984
Hi, I saw the same situation and just tried to create the pull request.
(I withdrew it for some reason but I think this was effective. Hope this would be any help.)

[2021-04-02 08:08] picandocodigo commented on #984
@akiko-pusu thank you very much for the the fix! I couldn't merge your PR since it was closed, but I've added the fix now.

[2021-04-02 08:08] #984 closed

[2021-04-02 11:20] exocode opened #988 "Correct setup for rSpec"
Hi there,

Can someone help me and confirm my approach or provide an **_actual_** (version 7.x) _**example**_ how to setup a `rSpec`-environment for `elasticsearch-rails (7.1.1) ` correctly? I am using `Rails 6.1.x` and `rSpec 3.1.x`.

I have doubt if my request tests are setup correctly, or if there is a better approach:

I saw examples with a `Product.import` and `sleep 2` in specs, as well some

[2021-04-07 15:39] jihodge opened #989 "Rails Application Template 03-expert.rb - ArgumentError: wrong number of arguments (given 1, expected 0)"
I have successfully loaded templates 01-basic.rb and 02-pretty.rb, however the load of the 03-expert.rb template fails with an ArgumentError: wrong number of arguments (given 1, expected 0) message. The error occurs when the template's line 325 `rake "environment elasticsearch:import:model CLASS='Article' BATCH=100 FORCE=y"` is executed, resulting in the following output:

ArgumentError: wrong num

[2021-04-09 07:53] philsmy commented on #577
Is it really possible that 5 years on there still isn't a good way to do front-end driven pagination of large result sets?

We want to let users scroll through a month's worth of orders. Sometimes that is 100,000+ orders. What are we supposed to do? We use datatables on the front end.

[2021-04-09 09:50] SeanLF opened #990 "Feature request: allow eager loading when searching across multiple models"
When searching on a single model, we can chain methods like `includes`.
However this fails when searching across multiple models:

[code]

It'd be nice to be able to do this without having to monkey patch the library.

[2021-04-10 23:07] lulessa commented on #577
@philsmy Limit/offset pagination is not a scalable pattern for a distributed system like elasticsearch.

Use cursor-based pagination with `search_after`. See an example (loop) in https://github.com/elastic/elasticsearch-rails/issues/577#issuecomment-478538860 for a pattern. In pagination, the cursor for the next page is the `sort` value of the last doc on the current page. To detect if there is a

[2021-04-14 02:32] AndreiMotinga commented on #988
@exocode Having the same issue. Seems like my current setup doesn't work properly, there are inconsitencies.
I couldn't find any documentation on integrating with rspec. Can somebody please suggest something?

[2021-04-15 10:22] tonytonyjan commented on #913
I also wonder about the difference between the examples below:

[code]

[code]

What's the point of nesting `mappings` inside `settings`?

[2021-04-26 05:40] indirect commented on #989
I opened a PR with a fix for this. If you're impatient, you can update your Gemfile entry for `elasticsearch-model` to use the fix before they merge the fix and release a new version:

[code]

[2021-04-26 05:40] indirect commented on #977
I opened a PR with a fix for this. If you're impatient, you can update your Gemfile entry for `elasticsearch-model` to use the fix before they merge the fix and release a new version:

[code]

[2021-04-26 05:41] indirect commented on #977
(At least, I hope it's a fix! It seems like the same keyword arguments issue. If it's not, apologies.)

[2021-04-26 12:43] aleguro commented on #977
Thanks for your help @indirect !

[2021-04-29 14:31] SeanLF commented on #912
Can this issue be re-opened?

[2021-05-21 18:02] goandgit commented on #913
I can't find suitable documentation either.

[2021-06-08 14:16] arjan0307 commented on #400
Five years later this problem still persists. Any perspective on a fix?

[2021-06-08 17:32] picandocodigo commented on #400
@arjan0307 I will try and have a look at this once I get some time to work on this library.

[2021-06-30 01:00] lreardon commented on #913
me neither

[2021-07-07 14:39] Emilie-thp opened #995 "Is it possible to index attributes conditionally ?"
I'm new to ElasticSearch so I don't know if my question is relevant.
Given the following `mappings`, is it possible to index an attribute in a nested field **only if a condition is matched**..?

[code]

My `zone` method for the geo_shape definition, in `Area` model looks like this :
[code]

but my problem is that all areas do NOT need a geo_shape indexing. I want to **index geo_shape only for area

[2021-07-11 06:30] coolprobn commented on #239
This worked, does anyone know the reason behind this? 🤔

[2021-07-21 03:09] #979 closed

[2021-07-30 07:12] slhck opened #997 "Faraday::ConnectionFailed: Empty reply from server"
I am getting the following error while calling a method against the Elastic server:

[code]

I am using  the elasticsearch (7.13.3) Gem with elasticsearch-model (7.1.1).

I have set the correct server host:

[code]

The environment variable is present as `http://user:password@hostname:9200`.

[2021-07-30 07:13] slhck commented on #997
I am directly answering this myself to help future users, since the error message is not very obvious.

The issue was that the Elasticsearch server was expecting HTTPS connections and not HTTP.

After setting the URL to use `https`, it worked.

[2021-07-30 07:13] #997 closed

[2021-08-05 08:20] edariedl opened #998 "Undefined method 'logger' after update to elasticsearch gem v7.14.0"
Hi, after upgrading to elasticsearch gem 7.14.0, I started to get errors when creating and deleting indexes in test setups. I suppose it is caused by changes in elasticsearch-transport https://github.com/elastic/elasticsearch-ruby/releases/tag/v7.14.0

Here is the stack trace:
[code]

[2021-08-05 20:15] alimac commented on #998
I ran into the same issue. As best as I can tell, the issue is in:

https://github.com/elastic/elasticsearch-rails/blob/939bf5d5e26acfdd3ab59d85e7fa5f3b661a7ac3/elasticsearch-model/lib/elasticsearch/model/indexing.rb#L286-L299

and

https://github.com/elastic/elasticsearch-rails/blob/939bf5d5e26acfdd3ab59d85e7fa5f3b661a7ac3/elasticsearch-model/lib/elasticsearch/model/indexing.rb#L313-L327

Specifi

[2021-08-09 08:28] #998 closed

[2021-08-09 10:59] vamsipavanmahesh opened #1001 "Third party server support for 7.1.1?"
I understand that ES is not going to support communication with servers maintained by 3rd parties.

Looks like the `elasticsearch-ruby` already added the check here
https://github.com/elastic/elasticsearch-ruby/commit/8a0e6d8f98e1f9670bcc749bc615796fc9b68ddb#diff-06572a96a58dc510037d5efa622f9bec8519bc1beab13c9f251e97e657a9d4ed

I assume that the same will happen to this repo.

we are currently usi

[2021-08-09 12:59] picandocodigo commented on #1001
Hi @vamsipavanmahesh,
Since `elasticsearch-model` depends on `elasticsearch ~> 7`, I'd suggest locking this dependency in your app's Gemfile to be less than `7.14`, the version where the check was introduced:
[code]
This way you'll get the latest version of `elasticsearch-ruby` before 7.14 if you update your gems.

[2021-08-09 13:58] vamsipavanmahesh commented on #1001
Thanks @picandocodigo for your inputs :)

[2021-08-09 13:58] #1001 closed

[2021-08-12 02:50] plainlystated opened #1004 "create_index! raises undefined method transport @ 7.2.0"
Upgrading from 7.1.1 -> 7.2.0.  The Changelog mentions "Updates transport references" which sounds related but I couldn't find any further explanation.

I'm hitting this in a spec, on the line:
[code]

The stack trace:
[code]

Not sure if I'm doing something wrong or there is a bug related to a recent transport change.

[2021-08-12 06:03] davidwessman commented on #1004
I am experiencing the same bug.

For me it will only happen when I do `create_index!(force: true)` on an index that does not exist.

- `create_index!` - works
- `create_index!(force: true)` - works if index already exists.

[2021-08-12 06:55] davidwessman commented on #1004
I tried running the specs locally, in the test for the method that fails I get:

[code]

when I check in my Rails-code and run:

[code]

So it seems like the test-double for client is setup incorrectly.

[2021-08-20 17:48] sonalkr132 commented on #1004
[same three](https://github.com/rubygems/rubygems.org/runs/3384049699#step:7:1547) :v: .

It is related to changes introduced in this PR https://github.com/elastic/elasticsearch-rails/pull/999
Updating to elasticsearch 7.14 fixes this error, however now my `rake db:setup` is blowing up with:
[code]

[2021-08-23 21:21] picandocodigo commented on #1004
Thanks  for reporting this, I'm going to look into it and release a fix as soon as possible.

[2021-08-24 21:24] sled commented on #1004
Same here:

[code]

results in:

[code]

the error stems from here:

https://github.com/elastic/elasticsearch-rails/blob/master/elasticsearch-model/lib/elasticsearch/model/indexing.rb#L293
https://github.com/elastic/elasticsearch-rails/blob/master/elasticsearch-model/lib/elasticsearch/model/indexing.rb#L293

the nested transport looks like a typo: `client.transport.transport`

If I inspect it on t

[2021-09-01 01:53] jspawar opened #1005 "Confusion about Mongoid integration"
Looking at the READMEs and the example doesn't make it very clear how exactly the Mongoid integration works. So I have the following few questions to hopefully disambiguate what's going on:

1. What do I configure for the Mongoid client's MongoDB URI? Do I still need to run a separate MongoDB instance and point it at that or do I somehow point it at an Elasticsearch instance?
    - If I do point i

[2021-09-04 04:11] kejincan0527 opened #1006 "NoMethodError: undefined method `logger' for #<Elasticsearch::Transport::Client:0x00007f9dda026410>"
Hi, elasticsearch team,

I got a error message after upgrading version 7.2.0.

[code]
The source code seems to have modified the original codes,
I temporarily use the following method to fix!

[code]
Will future versions use this method?

[2021-09-07 16:52] #989 closed

[2021-09-15 14:35] robmathews opened #1009 "Elasticsearch model import method conflicts with Rails 6.1 activerecord import method"
Hi there! Migrating some code from rails 5.2 to rails 6.1.4 and this code is failing:

[code]
with a traceback like this:
[code]
which seems to be because rails has natively imported the bulk import feature.

I can work around this by calling
[code]

but I was wondering if there was any plan to rename this method or support an alias for it?

Also, is this now the recommended workaround?

Thanks!

[2021-09-27 17:47] key88sf opened #1010 "Amazon OpenSearch compatibility?"
Now that AWS is moving to OpenSearch, will elasticesearch-rails still be compatible with this?  If so, is it easy to figure out which version of the gem is needed for the corresponding version of OpenSearch?

[2021-10-03 21:28] msojka commented on #657
Has the support for `contexts` been added?

[2021-10-07 12:57] 1st8 commented on #1004
Fixed for me after upgrading `elasticsearch` to `7.15.0`. The fix might have been in an earlier version though.

[2021-10-08 19:14] scarrick68 opened #1011 "Model#import method name clashes with activerecord-import library"
The import method is shadowed by activerecord-import which results in this argument error:
`ArgumentError: Invalid arguments!
from /some_local_path/activerecord-import-1.2.0/lib/activerecord-import/import.rb:648:in `import_helper'`

Ruby doesn't support method overloading so it doesn't recognize any other definition. I'm guessing only the most recent for that class / module. Just wanted to point t

[2021-10-14 17:15] robmathews opened #1012 "ActiveRecord adapter ignores query parameters and conditions in Rails 6.1 aka Elasticsearch::Transport::Transport::Errors::RequestEntityTooLarge error"
The ActiveRelation integration is broken, so that instead of updating only the specified records, it is attempting to update all records, ignoring the conditions on the relation.

ie, if you do something like:

[code]
It will attempt to generate an index update for all articles in the database, not just the one, and this results in a Elasticsearch::Transport::Transport::Errors::RequestEntityTooLar

[2021-11-01 22:59] lucasklaassen commented on #657
@murat can you explain what you mean by this?

We are trying to use context suggestions and need to define this within our mapping but it doesn't appear that the elasticsearch-model gem supports nested values for mappings besides for `nested` or `object` types. See here:
https://github.com/elastic/elasticsearch-rails/blob/main/elasticsearch-model/lib/elasticsearch/model/indexing.rb#L57

Trying to

[2021-11-05 10:31] Quicks commented on #1011
Hi
I have used elasticsearch proxy `__elasticsearch__`
and works perfect)

for example:
User.__elasticsearch__.import

if you need to import specific models you can use query parameter
User.__elasticsearch__.import query: -> { User.where(id: ids) }

Maybe it will help you

[2021-11-10 17:21] jonnynux opened #1013 "Use different indexes when executing parallel tests in rails 6"
Is it possible to use different indexes name for different testing executor when running rails 6 tests in parallel?

Thanks.

[2021-11-10 17:57] jonnynux commented on #1013
I answer on myself:

[code]

[2021-11-10 17:57] #1013 closed

[2021-11-16 10:14] jonnynux opened #1014 "Import with parameters in ruby 3"
When trying to import with parameters i get _ArgumentError: wrong number of arguments (given 1, expected 0)_

[code]

import_options is a hash obviously. Same error when calling import like `data.import(batch_size:500) do |response|`

[2021-11-19 19:46] #1005 closed

[2021-12-21 15:26] jasonperrone opened #1015 "Error installing basic template"
Looks like it's going after a branch named master that doesn't exist, the branch is named main:

[code]

[2022-01-09 18:01] exocode commented on #988
just wanna keep that issue open

[2022-01-11 01:34] HungOm commented on #1015
I have run into the same issues and fixed it by removing the github link from the Gemfile. It's a name conflicts due to local git configuration and the repos branch that's being referred to. e.g main.
changing gemfile to
[code]

works fine.

[2022-01-18 15:04] tsrivishnu opened #1018 "Custom tracer doesn't seem to work with Kaminari pagination"
I have the following setup in the initialiser:

[code]

When I run `Model.__elasticsearch__.search(query)` it prints the CURL and other logs to `log/elasticsearch.log`

However, when I run `Model.__elasticsearch__.search(query).page(1).per(10)`, nothing is printed to `log/production.log`.

### Environment
* Rails - 6.1.3.2
* Elasticsearch-rails - 7.2.0
* Elasticsearch-model - 7.2.0
* Elasticsearch

[2022-01-18 15:11] tsrivishnu commented on #1018
Apologies. Seems to be working correctly. There seem to be delays with the file sync from the docker container.

[2022-01-18 15:11] #1018 closed

[2022-01-21 07:16] rodricios commented on #1015
@picandocodigo , your fix doesn't appear to be on any branch on this repo:
<img width="792" alt="Screen Shot 2022-01-20 at 11 15 54 PM" src="https://user-images.githubusercontent.com/6603965/150483186-60df7362-d9c0-400e-89f1-b0eb90157658.png">

[2022-01-26 13:06] crondaemon commented on #1014
Same happens on ruby2.7, except it is a warning there not an error. Still annoying, though.

[2022-01-26 13:10] crondaemon commented on #1014
I guess this would fixed by #1016. However the CI doesn't pass, nor the author signed the requested agreement. Any chance those issues get addressed?

[2022-02-20 01:28] tiendo1011 commented on #1014
seems to be fixed by [this](https://github.com/elastic/elasticsearch-rails/pull/992), but it is not included in the latest release (since it's merged after that).

[2022-02-22 16:58] jonnynux commented on #1014
@tiendo1011 thanks, I didn't note that, so this can be closed

[2022-02-22 16:58] #1014 closed

[2022-03-23 12:03] pdfrod commented on #1004
Any news on this? I'm still having this issue with `elasticsearch-rails` `7.2.1`.

In the meantime, I was able to workaround it with this:

[code]

[2022-03-25 07:48] tmaier commented on #1004
I also have that issue with the 7.2.1 version...

[2022-03-25 08:14] davidwessman commented on #1004
We realized that we cannot upgrade the client anymore after the branching and license change because we use other provider than Elasticsearch. I guess it is time to do the work to switch to Opensearch library.

[2022-03-28 09:12] qquokka opened #1024 "undefined method `ruby2_keywords` for Elasticsearch::Model::Proxy::Base:Module"
Hi! I got a problem with elasticsearch-model gem while I was running rails console. It's been happening since I updated elasticsearch-model gem from 7.1.x to 7.2.1. My ruby version is `ruby 2.6.6p146 (2020-03-31 revision 67876) [x86_64-darwin19]`.

[code]

[2022-04-17 06:39] #995 closed

[2022-04-19 06:34] Oleg-Psheno opened #1026 "Link is not active"
https://github.com/elastic/elasticsearch-rails/blob/03fa16b2774988c59978abb13aae962c9580ec57/elasticsearch-model/README.md?plain=1#L346

[2022-04-19 08:22] #1026 closed

[2022-05-05 09:31] slhck commented on #913
I keep coming back to this issue, and the `mapping` and `setting` configuration still confuses me. I have, so far, been unable to simply provide my own mapping. I thought that supplying my own mapping would work:

[code]

but alas, it does not pick that up when indexing.

Could anyone please update the documentation with a description of how these fields work?

[2022-05-16 23:57] lazaronixon opened #1028 "Support geared pagination gem"
Here's some work around a integration of basecamp [geared pagination](https://github.com/basecamp/geared_pagination) with elastisearch-rails, the integration is really simple but requires to write some tests.... Basecamp is doind a lot of [free advertisment](https://twitter.com/dhh/status/1223251586874396672) about they are using elasticsearch on their products so I believe it would be widely used

[2022-05-17 16:48] tabuchid commented on #1015
@picandocodigo @rodricios Looks like the issue was actually in the Gemfile generation. Opened PR #1029 to address.

[2022-05-18 00:33] lazaronixon opened #1030 "Support for active job indexing"
https://gist.github.com/lazaronixon/82b939179f2b1ee01b4111c8f471db83

[2022-07-03 20:58] leifcr opened #1035 "8.x support"
Any plans for 8.x support? I see there is PR #1025, which should solve it?

[2022-07-11 15:28] sylvain-8422 opened #1037 "Batch size is ignored when fetching documents from MongoDB"
Batch size is ignored when fetching documents from MongoDB.

See : #1036

[2022-07-13 14:07] mattjarnevic opened #1038 "NPE happens on short prefix query on a field with index_prefixes"
Running ElasticSearch version 7.17.5
Running latest release (7.2.1) of elasticsearch-rails and elasticsearch-model

When a prefix query run on a field with index_prefixes, if the length of characters in the query is [min_chars of the index_prefixes option] - 1, an error is responded.
The root cause seems to be NullPointerException.

To Reproduce
Steps to reproduce the behavior:

1. Create an index

[2022-08-08 09:10] #966 closed

[2022-08-08 11:54] mariagus commented on #421
Also having this issue, meaning we aren't able to use aliases 😢

[2022-08-26 18:48] crimson-knight opened #1039 "refresh_interval being unset if a value is not specified when using settings"
I ran into this situation after doing a ruby & rails upgrade (rails 6.0.x -> 6.1.x, ruby 2.7.x -> ruby 3.1.x)

We have a model setup similarly to this:

[code]

 This was working before we did the upgrade. Here's the command and diff output to show the gem versions that changed:
[code]

# Expected Behavior:
When a voter is created and indexed, the searching the index should return the voter. This

[2022-08-30 07:31] #1015 closed

[2022-09-17 22:35] AlexanderPankiv commented on #1035
Any update on this one?

[2022-09-21 16:41] pioter opened #1040 "Disable automatic callbacks in rspec"
Hi,

how can i disable automatic callbacks in tests (rspec)?

[2022-09-29 11:50] suratpyari opened #1041 "Not getting any records from elasticsearch"
While accessing the records I am getting the following error...
[code]
corresponding curl request in log gives another result
[code]
on altering the headers a bit
[code]
while If I index any record its working fine but not for search.
[code]

[2022-10-02 14:40] adamzapasnik opened #1042 "FYI gem version 6.1.1 was pushed without any changes"
It's an old version, I know, but today I helped tackled this problem on stackoverflow: https://stackoverflow.com/questions/73901954/argument-error-with-elasticsearch-in-ruby-3-1/73923611

As the title says, v6.1.1 was pushed without any changes, which can be observed here: https://my.diffend.io/gems/elasticsearch-rails/6.1.0/6.1.1

Here are the changes that should have been pushed: https://github.

[2022-10-04 11:17] suratpyari commented on #1041
Its been 5 days no one answered :disappointed:

[2022-10-10 10:10] tsrivishnu commented on #1035
Also waiting for an update on this.

[2022-10-11 16:00] picandocodigo commented on #1035
We'll eventually update the gem and publish a new release for `8.x`, but we can't commit to a date at the moment.

[2022-10-17 07:38] #971 closed

[2022-10-17 20:41] emptyflask commented on #1035
So then is there currently any way to use `elasticsearch-rails` on an app that also has `faraday '~> 2.0'`? It looks like only `elasticsearch-transport '>= 8.1'` supports a modern Faraday version, but it's incompatible with the latest `elasticsearch-rails`.

Frustrating, since ES 8.0 has been out for > 8 months, and this is commercial software...

[2022-10-18 13:40] technige commented on #1035
Hi @emptyflask. I'm sorry that we're not able to provide a timescale for an 8.x release at this time, and I do appreciate how frustrating this must be for you. Unlike the clients, which are our primary focus, we're only able to keep this project updated on a best-effort basis right now.

If you wish to discuss this in more detail for your specific case, please contact your support channel.

[2022-10-22 10:13] pravi opened #1044 "elasticsearch-model 7.2.1 introduces circular dependency with ruby 2.7 and rubygems 3.2.5"
I'm trying to backport elasticsearch-model gem package from debian testing to debian stable but gem resolution fails with a circular dependency. This works fine with ruby 3.1 and rubygems 3.3.15 in debian testing.  elasticsearch-model 7.0.0 was working fine with the same combination of ruby and rubygems in debian stable.

[code]
[code]

[2022-10-22 10:32] pravi commented on #1044
This looks like a bug in rubygems. Debian stable had elasticsearch 6.8.2, so instead of failing, it went into a recursion. After updating elasticsearch to 7.17.1, the build is working. Closing this issue.

[2022-10-22 10:32] #1044 closed

[2022-10-26 14:50] sr-akhil opened #1045 "specify an alias near the index_name in an AR model"
I wanted to now whether it is possible to specify an alias near the index_name in an AR model so that the url the is getting hit can be made dynamic.

I am trying to use this gem for multi-tenant application which is currently using mySQL db with every tenant having his own db. So it would be helpful if any feature as the following is available so that the URL used for PUT request become dynamic

[2022-10-27 07:42] sr-akhil commented on #1045
If it will help anyone

- creating a new alias every-time a new tenant is created
`Model.__elasticsearch__.client = Elasticsearch::Client.new(host: 'hostname').
                                indices.put_alias name: tenant_name,
                                                  index: 'metastore',
                                                  body: {

[2022-11-04 11:26] habib-ali commented on #1024
Is there any update on this bug ?
I am facing same issue with ruby-2.6.7 and elasticsearch-model-7.2.1/lib/elasticsearch/model/proxy.rb

[2022-11-04 12:43] habib-ali commented on #1024
Looking at the link present in the [line](https://www.ruby-lang.org/en/news/2019/12/12/separation-of-positional-and-keyword-arguments-in-ruby-3-0/) https://github.com/elastic/elasticsearch-rails/blob/8e0526cc9bf9c3c41a4e989222a19a1f5318d3b6/elasticsearch-model/lib/elasticsearch/model/proxy.rb#L121

I found at that using `gem 'ruby2_keywords', '~> 0.0.5'` in the gemfile solves this issue

[2022-11-10 18:59] jaredbeck commented on #1035
This is the last blocker in my app preventing our upgrade to Faraday 2.

`elasticsearch-persistence -> elasticsearch 7 -> elasticsearch-transport 7 -> faraday 1`

Looking forward to a release, thanks for your work.

[2022-11-10 20:03] xjunior commented on #1035
It looks like the latest elasticsearch-model 7.x library (7.12.1 right now), along with the rest of the 7 suite (elasticsearch-rails, elasticsearch-ruby) work well with elasticsearch 8 (on my limited test scope). Are there concerns for this setup?

[2022-11-17 22:35] seanvm commented on #915
I am also running into this bug. I tracked it down to a failure to match `__type_for_hit` in `vendor/bundle/gems/elasticsearch-model-7.1.1/lib/elasticsearch/model/adapters/multiple.rb:109`

In our case we use index aliases so `model.index_name == hit[:_index]` will never be true. Also seems like with ElasticSearch deprecating the `_type` and `document_type ` fields this will need to be reworked be

[2022-11-24 11:41] cjba7 opened #1049 "Illegal argument "type" sent in all requests upgrading to 8.x"

[2022-11-27 10:48] xijo commented on #913
Same here, I find it quite hard to figure out how to configure something like language specific stopwords using the DSL methods. Some more examples would be extremely helpful I suppose.